[2021-07-12 15:50] gkaraj opened #5803 "Having issues loading BertEmbeddings from Local"
Using PySpark/Spark NLP - Jupyter NB.
Bert Embedding - made local reference to a zip file. Receiving an error message.
## Description

Able to start sparkNLP and DocumentAssembler for the pipeline. When trying to use BertEmbeddings.load(local path) received an error.

## Expected Behavior

It should use Bert Embedding file from that specified path.
## Current Behavior

Throws an error.

## Possibl

[2021-07-12 15:51] #5803 closed

[2021-07-12 15:52] gkaraj opened #5804 "Having issues loading BertEmbeddings from Local"
Using PySpark/Spark NLP - Jupyter NB.
Bert Embedding - made local reference to a zip file. Receiving an error message.
## Description

Able to start sparkNLP and DocumentAssembler for the pipeline. When trying to use BertEmbeddings.load(local path) received an error.

## Expected Behavior

It should use Bert Embedding file from that specified path.
## Current Behavior

Throws an error.

## Possibl

[2021-07-12 15:52] maziyarpanahi commented on #5804
Please stop spamming with the same issue!

[2021-07-12 15:52] #5804 closed

[2021-07-12 15:53] gkaraj opened #5805 "Having issues loading BertEmbeddings from Local"
Using PySpark/Spark NLP - Jupyter NB.
Bert Embedding - made local reference to a zip file. Receiving an error message.
## Description

Able to start sparkNLP and DocumentAssembler for the pipeline. When trying to use BertEmbeddings.load(local path) received an error.
## Expected Behavior

It should use Bert Embedding file from that specified path.
## Current Behavior

Throws an error.
## Possible

[2021-07-12 15:55] gkaraj opened #5806 "Having issues loading BertEmbeddings from Local"
Using PySpark/Spark NLP - Jupyter NB.
Bert Embedding - made local reference to a zip file. Receiving an error message.
## Description

Able to start sparkNLP and DocumentAssembler for the pipeline. When trying to use BertEmbeddings.load(local path) received an error.
## Expected Behavior

It should use Bert Embedding file from that specified path.
## Current Behavior

Throws an error.
## Possible

[2021-07-13 07:15] #5802 closed

[2021-07-13 07:15] #5805 closed

[2021-07-13 07:15] #5806 closed

[2021-07-13 11:39] 222579630 opened #5810 "Request : Add customizable Relation Extraction annotator"
Can you please add a feature to train Relation Extraction models similar to the feature in SparkNLP for Healthcare?

[2021-07-13 12:15] maziyarpanahi commented on #5810
Hi,

We cannot add licensed features to the public library.

[2021-07-13 12:15] #5810 closed

[2021-07-13 19:57] ShubhamPal7 opened #5813 "Param pooling Layer doesn't not exist"
Hi I am trying to use BERT embedding in my Databricks and this is the error I am getting

Spark NLP version 3.1.2
Apache Spark version: 3.1.1

My Code :

bert_embeddings = BertEmbeddings.load('dbfs:/FileStore/shared_uploads/sp261c@att.com/bert_large_cased_en_2.4.0_2.4_1580580251298')\
    .setInputCols(['document',"cleanTokens"])\
    .setOutputCol('bert')\
    .setCaseSensitive(False)

Error :

[2021-07-14 04:33] maziyarpanahi commented on #5813
Hi,
You are trying to load a very old BERT model when it used to have poolingLayer param. You can either use pretrained() to automatically download the most recent and compatible model or download the compatible one manually:

https://nlp.johnsnowlabs.com/2020/08/25/bert_large_cased.html

[2021-07-14 04:33] #5813 closed

[2021-07-14 13:21] dkincaid opened #5814 "DateNormalizer annotator getAnchorDateMonth returns incorrect value after setting the parameter"
The DateNormalizer annotator is displaying the same behavior described in issue #5673. The `getAnchorDateMonth` method is returning a value one less than what was set in the object.

After creating a DateNormalizer annotator and using setAnchorDateMonth() to set the parameter, a call to getAnchorDateMonth() returns a different value than was set. It appears to return one less than whatever integer

[2021-07-14 13:45] maziyarpanahi commented on #5814
Hi @dkincaid
Thanks for reporting this, but this feature is licensed not public. I would recommend reaching out to the team on the Slack #healthcare channel or via email.

[2021-07-14 13:45] #5814 closed

[2021-07-14 15:47] xusliebana commented on #5814
I copied to Spark-nlp-internal

[2021-07-14 15:50] beginneruser2021 opened #5817 "Could not initialize class com.johnsnowlabs.util.ConfigHelper$"
Receiving an error when trying to load pretrained model from hdfs.
## Description

In HDFS, loaded offline pre trained model file(s). Apply or use it in code e.g. bert = BertEmbeddings.load(<path>) throws an error "Could not initialize class com.JohnSnowLabs.util. ConfigHelper"
## Expected Behavior

It should load pre trained model from the uncompressed file in HDFS.
## Current Behavior

Receiving

[2021-07-14 15:55] maziyarpanahi commented on #5817
Hi,

Since you are in a cluster, could you please describe the following:
- Which Hadoop cluster is this?
- Where is your PySpark? (jupyter, pyspark shell, etc.)
- How are you starting your SparkSession? (spark = sparknlp.start() is for local use only, inside the cluster it means nothing really)
- Please explain how you installed Spark NLP in your cluster? (do you have `spark-nlp` PyPI package ins

[2021-07-14 15:59] beginneruser2021 commented on #5817
Thank you for your assistance.

Let me get back to you soon with answers.

[2021-07-14 17:59] Dekermanjian opened #5819 "CoNLL reader utility setting document = sentence"
The CoNLL reader is not working as expected.
## Description

When reading a CoNLL file, the document column is not correct. The document column is representing a single sentence and is not being defined by the -DOCSTART- -X- -X- O flag in the CoNLL file.
## Expected Behavior

The document column should have many sentences as defined by the -DOCSTART- -X- -X- O flag in the CoNLL file
## Current Beh

[2021-07-14 18:40] Dekermanjian commented on #5819
Never mind. Fixed this issue by setting explodeSentences = False

[2021-07-14 18:40] #5819 closed

[2021-07-14 23:41] albertoandreottiATgmail commented on #5817
Hi,

I'm experiencing the same issue on EMR while passing the spark-nlp jar as a maven coordinate.

[2021-07-15 14:55] beginneruser2021 commented on #5817
@maziyarpanahi Sorry for the delay. Thank you again for your help.
Here are the answers:
•	Which Hadoop cluster is this? Hortonworks Data Platform (HDP) 3.1.0
•	Where is your PySpark? (jupyter, pyspark shell, etc.) Jupyter
•	How are you starting your SparkSession? (spark = sparknlp.start() is for local use only, inside the cluster it means nothing really)
   conf = SparkConf()
    conf.setAppName(

[2021-07-16 14:32] maziyarpanahi commented on #5817
Thanks @beginneruser2021

Could you please let me know where did you get this jar `spark-nlp-assembly-2.4.5.jar`?

[2021-07-16 15:03] beginneruser2021 commented on #5817
Thank you very much, @maziyarpanahi
Getting the answers....in few minutes.

[2021-07-16 15:41] israelcastilloh opened #5826 "Results too large? - Databricks Display"
## Description
I am using Databricks to display a Roberta Embeddings NER pipeline. It does show the schema of the table I want
to display, but even after selecting ony the last column with the supposed results. I get this error:

java.lang.Exception: Results too large

## Expected Behavior
Display the table with all the embeddings for RobertaEmbeddings

## Current Behavior
java.lang.Exception: Res

[2021-07-16 15:45] maziyarpanahi commented on #5826
@israelcastilloh

The display is supposed to be used for the amount of data that can be fit inside the browser. What you are trying to display is 768 numbers for each token in each sentence. That is a lot of information! Maybe if you limit that to 1 that could work but even then it may not show:

[code]

You can do this:

[code]
This will truncate so you will just see some floats. In either case,

[2021-07-16 15:45] #5826 closed

[2021-07-16 16:03] beginneruser2021 commented on #5817
•where did you get this jar spark-nlp-assembly-2.4.5.jar?
compiled FAT Jar file provided in Johnsnowlabs MAVEN repository
• what is the size of this jar? 208MB
• does this /xxx/jars/ mean hdfs:///xxx/jars/?
          It's a local reference.
•	also, why do you set this config? I don't believe we ever mention this anywhere and the jar seems to be a light jar from Maven conf.set("spark.driver.extraCl

[2021-07-16 16:20] maziyarpanahi commented on #5817
The jar(s) on the MAVEN repository is meant to be used as a coordinate, not as an assembly JAR. You need a FAT jat. That is why in each release we list the actual FAT JARs under the release notes. Please follow these steps:

- Download this Fat JAR which is complete with all the required dependencies: https://s3.amazonaws.com/auxdata.johnsnowlabs.com/public/jars/spark-nlp-assembly-2.4.5.jar
- Make

[2021-07-16 16:42] beginneruser2021 commented on #5817
@maziyarpanahi , truly appreciate your help with this. Thank you again.
I will follow the steps you mentioned and will get back to you soon. Thank you.

[2021-07-16 18:10] danilojsl opened #5828 "Finisher does not clean NER columns"
## Description

_Finisher_ annotator is not cleaning all anotatorTypes columns.
When defining a pipeline with _Finisher_, all annotator columns are removed from the final dataset. This is not the case when using NER on a pipeline.

## Expected Behavior

_Finisher_ should remove all annotator columns by default since _cleanAnnotations_ parameter is set to True by default

## Current Behavior

_Fini

[2021-07-17 13:20] almogtavor commented on #576
You can use the Javadoc reference here https://javadoc.io/doc/com.johnsnowlabs.nlp/spark-nlp-gpu_2.11/latest/index.html#package. That's not enough to be able to completely work with the library, but that's a start.

[2021-07-19 12:30] beginneruser2021 commented on #5817
@maziyarpanahi

As you suggested, I followed the steps:
(1) and (2) - verified FAT Jar and dependencies (I can't directly do and done by separate team) - It was actually downloaded from the location you mentioned above.
I copied to HDFS and updated config as
conf.set("spark.jars","hdfs://user/jars/spark-nlp-assembly-2.4.5.jar")

Receiving an error while trying to use DocumentAssembler:
**Code:**
d

[2021-07-19 14:13] HashamUlHaq opened #5831 "Missing/None predictions while using Bert Embeddings in Ner Models"
## Description

Sometimes we get None/Missing results for tokens while using Bert Word embeddings (biobert_pubmed_base_cased) in Ner model. **This does not happen with WordEmbeddings; only with BertEmbeddings**

## Expected Behavior

We should get output tag per token, but that is not the case as explained in the example below - A document containing 272 tokens gets only 79 predictions.

## Curren

[2021-07-19 14:17] maziyarpanahi commented on #5831
BERT and other encoders have max sequence length. If the document is larger than that it will truncate/trim it so there will be nothing to predict. I suggest setting the macSentenceLength param wisely and also break the documents to sentences instead of directly going from DocumentAssembler to Tokenizer:

[code]

[2021-07-19 14:17] #5831 closed

[2021-07-19 14:19] maziyarpanahi commented on #5817
OK this means the JAR is not part of the SparkSession:

[code]

The problem is that Jupyter masks most of the important errors during the SparkSession creation. Do you have access to a machine that can run `pyspark --master yarn --mode client --jars hdfs:///user/jars/spark-nlp-assembly-2.4.5.jar`?

[2021-07-19 14:28] beginneruser2021 commented on #5817
Thank you @maziyarpanahi
Let me update you soon.

[2021-07-19 16:49] beginneruser2021 commented on #5817
@maziyarpanahi
I can access to a machine and ran pyspark --master yarn --mode client --jars hdfs:///user/jars/spark-nlp-assembly-2.4.5.jar with a small update as pyspark --master yarn --deploy-mode client --jars hdfs:///user/jars/spark-nlp-assembly-2.4.5.jar

Welcome to
    Spark
SparkSession available as 'spark'.

[2021-07-19 17:56] maziyarpanahi commented on #5817
That's great, now we can see the errors more clearly. Let's run this command (closely watch the logs at the beginning and anything about `spark-nlp-assembly`):
[code]

Once you are in the pyspark shell, could you please run the following and see what's the error:

[code]

Let's see how this goes, if you still see `TypeError: 'JavaPackage' object is not callable` it means the Fat JAR didn't load co

[2021-07-19 18:07] beginneruser2021 commented on #5817
That's awesome....Thank you @maziyarpanahi
Will get back in few minutes.

[2021-07-19 21:28] RajarshiBhadra opened #5837 "Unable to use Pretrained Pipelines in AWS EMR and GLUE"
## Description
I am trying to score data using pretrained models in spark NLP. I have tried using both AWS EMR and AWS Glue. However in both cases I am facing issue in loading pre-trained model

## Expected Behavior
I am trying to load the pretrained model using the following code

[code]
## Current Behavior

Instead of the model being loaded I get the following error

[code]

## Context
Because o

[2021-07-19 22:55] clabornd opened #5838 "NullPointerException when running anything other than single-node mode in Databricks"
## Description
I am running a pipeline that includes NER and T5 Summarization and am running into a NullPointerException in Databricks.  This only happens when I am running with worker nodes, if I spin up a single-node instance all is well.  Simple example on a single text example below.  I've tried trimming the pipeline down to something simple like just base bert embeddings, but anything with em

[2021-07-20 00:02] clabornd commented on #5838
Sorry, I did not read things carefully (https://nlp.johnsnowlabs.com/docs/en/install#install-spark-nlp-on-databricks), and my spark config lost the required:

spark.serializer org.apache.spark.serializer.KryoSerializer

..somewhere along the way.  Seems to be okay now.

[2021-07-20 00:02] #5838 closed

[2021-07-20 06:12] maziyarpanahi commented on #5837
Hi,

in the first look, the bootstrap and software config files look fine. However, where are you running this code:

[code]

[2021-07-20 07:20] RajarshiBhadra commented on #5837
I used the default spark session. Here are the details

`spark.sparkContext.getConf().getAll()`

`[('spark.eventLog.enabled', 'true'), ('spark.executor.memory', '9486M'), ('spark.yarn.executor.memoryOverheadFactor', '0.1875'), ('spark.app.name', 'livy-session-1'), ('spark.driver.extraLibraryPath', '/usr/lib/hadoop/lib/native:/usr/lib/hadoop-lzo/lib/native'), ('spark.sql.parquet.output.committer.cl

[2021-07-20 07:22] maziyarpanahi commented on #5837
I am sorry I still don't know where you are running this code? (pyspark shell, spark-submit, etc.)

[2021-07-20 07:26] RajarshiBhadra commented on #5837
I have ran this on

1. Jupyter notebook on emr cluster
2. As a glue job.

Same error in both cases

[2021-07-20 07:30] maziyarpanahi commented on #5837
I know there is a bug in Apache Livy 0.7 that is not correctly set User Impersonation so the Jupyter on EMR might not work. However, could you access the master node and run this:

[code]

Once you are inside pyspark shell, you can run your code and see what happens:

[code]
Just to see if there are other issues with the EMR cluster setup

[2021-07-20 08:18] RajarshiBhadra commented on #5837
It gave this error

[code]

[2021-07-20 09:12] maziyarpanahi commented on #5837
You don't have enough storage left on your machine (or in that specific drive - I suggest having larger storage than this):

[code]

[2021-07-20 10:56] beginneruser2021 commented on #5817
@maziyarpanahi , As you said, I ran the code above and receiving different error message.

('Spark NLP version: ', '2.4.5')

('Apache Spark version: ', u'2.3.2.3.1.0.0-78')

...     .setInputCol("text")\
...     .setOutputCol("document")

...     .setInputCols(['document'])\
...     .setOutputCol('sentence')

...     .setInputCols(['sentence'])\
...     .setOutputCol('token')

...     stages = [
.

[2021-07-20 10:58] maziyarpanahi commented on #5817
Please copy the entire error, it does not seem to be related to the Spark NLP or the JAR.

[code]

[2021-07-20 11:03] beginneruser2021 commented on #5817
That is the entire error message....result is with fit and transform...

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/hdp/current/spark2-client/python/pyspark/ml/base.py", line 132, in fit
    return self._fit(dataset)
  File "/usr/hdp/current/spark2-client/python/pyspark/ml/pipeline.py", line 95, in _fit
    if not (isinstance(stage, Estimator) or isinstan

[2021-07-20 11:04] maziyarpanahi commented on #5817
I am sorry I am not inside the console, it is a simple Python error saying the variable doesn't exist. Please try to find the issue and see if you are seeing the initial errors mentioned in this issue.

If the initial error is resolved we can close this issue.

[2021-07-20 11:16] beginneruser2021 commented on #5817
Thank you @maziyarpanahi
I don't see the error I was receiving "could not initialize class com.johnsnowlabs.util.confighelper". As you said, it's just a variable 'result'.

[2021-07-20 13:18] RajarshiBhadra commented on #5837
I tried with the folllowing hardware.

![image](https://user-images.githubusercontent.com/8817352/126330770-c23a54a1-e9f0-4f93-b3c6-eb56cf00bf12.png)

![image](https://user-images.githubusercontent.com/8817352/126330856-778fdc92-a63a-487b-a68d-46f7912ddd5f.png)

Even then memory out is happening. I did not see any recommendation in terms of hardware in the document. It will be great if you can sug

[2021-07-20 14:33] #5731 closed

[2021-07-20 14:33] #5738 closed

[2021-07-20 14:33] #5828 closed

[2021-07-20 14:46] beginneruser2021 commented on #5817
@maziyarpanahi

I copied the JAR file locally and updated my config:
conf.set("spark.jars","spark-nlp-assembly-2.4.5.jar")
conf.set("spark.jars.packages","/user/jars/com.johnsnowlabs.nlp_spark-nlp_2.11-2.4.5.jar")

And ran the same code above. I am receiving an error message which is "java package object is not callable".
Full error message:
TypeErrorTraceback (most recent call last)
<ipython-inpu

[2021-07-20 18:23] ShubhamPal7 opened #5850 "py4j.security.Py4JSecurityException: Constructor public com.johnsnowlabs.nlp.DocumentAssembler(java.lang.String) is not whitelisted."
I am trying to run spark nlp's document assembler on Databricks HC cluster but I am getting this error.

An error occurred while calling None.com.johnsnowlabs.nlp.DocumentAssembler. Trace:
py4j.security.Py4JSecurityException: Constructor public com.johnsnowlabs.nlp.DocumentAssembler(java.lang.String) is not whitelisted.
	at py4j.security.WhitelistingPy4JSecurityManager.checkConstructor(Whitelistin

[2021-07-20 18:24] maziyarpanahi commented on #5837
- The memory issue happens because your executors have 15G each but you asked for (16384) plus overhead (2048 MB). You have to test to see what number can be the acceptable memory for executor-memory given you have 15G for each machine
- Our recommendation for CPU and Memory for the Driver is at least 16G and 4 to 8 cores. But it really depends on what tasks and the amount of the data. That can fi

[2021-07-20 18:26] maziyarpanahi commented on #5850
Hi,

Could you please complete the issue template with all the information, steps, code, etc.? It's hard to diagnose from this.

Also, please make sure you follow this instruction step by step: https://github.com/JohnSnowLabs/spark-nlp#databricks-cluster

[2021-07-20 20:29] ShubhamPal7 commented on #5850
Sure,

df_t = df_final
def preprocess(column):

  document_assembler = DocumentAssembler() \
    .setInputCol(column) \
    .setOutputCol("document")# convert document to array of tokens

  tokenizer = Tokenizer() \
  .setInputCols(["document"]) \
  .setOutputCol("token")

  normalizer = Normalizer() \
    .setInputCols(["token"]) \
    .setOutputCol("normalized")
  stopwords_cleaner = StopWordsCl

[2021-07-20 20:31] ShubhamPal7 commented on #5850
My spark config is:

spark.driver.extraJavaOptions -Djava.net.useSystemProxies=true -Djava.security.properties=
javax.jdo.option.ConnectionPassword {{secrets/kv-cerebro-prod-scope/cerebro-eastus2-prd-cerebromsbase-sqldb-pwd-scope}}
spark.databricks.delta.preview.enabled true
spark.databricks.passthrough.enabled true
javax.jdo.option.ConnectionURL jdbc:sqlserver://cerebro-eastus2-prd-cerebromsbase-

[2021-07-21 08:07] RajarshiBhadra commented on #5837
The following configuration worked. However

![image](https://user-images.githubusercontent.com/8817352/126448416-7408fc90-c3ee-4711-9151-c19214898645.png)

[code]
However when I ran the following code on the same cluster on jupyter, the error still persisted

[code]

An error was encountered:
An error occurred while calling z:com.johnsnowlabs.nlp.pretrained.PythonResourceDownloader.getDownloadSiz

[2021-07-21 13:22] maziyarpanahi commented on #5837
- First you don't need this part, you are already have a SparkSession one you are in pyspark shell:
[code]
- When you are creating an issue, we ask for a full template with all the required information to avoid wasting time going down the wrong road. You are using an EMR version that is Spark 2.4 while using Spark NLP that is for Spark 3.x. Please look at what package you must use for Spark 2.4.x

[2021-07-21 13:27] maziyarpanahi commented on #5850
We never tested HC cluster on Databricks. If you are interested in our members to test it we would still need a clean filled template with all the info, steps, screenshots from the Libraries, Cluster configs, etc. With the current information, I am afraid we can spend time debugging something in the dark.

[2021-07-21 14:28] RajarshiBhadra commented on #5837
Thanks for pointing that out.

I have used the correct package now i.e `spark-nlp-spark24_2.11-3.1.3.jar`

 I have used the correct jar this time but now I am getting a different error

[code]

Full Log

[code]

[2021-07-21 16:03] ShubhamPal7 commented on #5850
Thanks for your response.

What would be the ideal Databricks personal / regular cluster configuration you would suggest when we are trying to process 10 million data. like spark,gpu wise ?

[2021-07-21 16:26] maziyarpanahi commented on #5837
Could you please try this:

[code]

[code]

I am not familiar with that pipeline and the error suggests a mix of Scala 2.11 and 2.12 which is why there is an exception.

PS: Could you also please share your EMR version so we can also follow our own EMR instructions with that EMR version and test this?

[2021-07-21 16:31] maziyarpanahi commented on #5850
- For the steps to setup Spark NLP for Databricks: https://github.com/JohnSnowLabs/spark-nlp#databricks-cluster
- If you uncheck the HC feature since we never tested it, as you mentioned everything will be fine.

That's being said, lots of parameters are involved in deciding your cluster setup and tuning it. The tasks (DL, rule-based, etc.), the number of rows maybe is 10 million but how many sent

[2021-07-21 19:58] Nickersoft opened #5854 "Pretrained Explain Document DL for English no longer seems to work in Scala"
## Description

I'm currently attempting to use the [Explain DL pipeline for English](https://github.com/JohnSnowLabs/spark-nlp/issues/new?assignees=maziyarpanahi&labels=&template=bug_report.md&title=) using `PretrainedPipeline("explain_document_dl", "en")`. However, when attempting to load the model I receive:

[code]

## Expected Behavior

I would expect the pipeline to work, seeing the Explain

[2021-07-22 09:14] maziyarpanahi commented on #5854
Hi,

Could you please share your full code, full error stack since I cannot see a cause in this one, and steps to reproduce this?

I do have a macOS Big Sur and using Scala, however, I am not sure whether you are in spark-shell or an SBT project, etc. If you can elaborate on that with steps so I can follow would be great. (I've never encountered an issue and this is an SBT project with unit tests

[2021-07-22 18:31] Nickersoft commented on #5854
@maziyarpanahi Thanks for the quick response! Unfortunately I can't share my original source code, as it's very complex and also private, but I was able to get a minimal reproduction setup in a new repo: https://github.com/Nickersoft/spark-nlp-failure. It uses Bazel, like my project. You just need to install Bazel or use Bazelisk and run `bazel run app`. The full stacktrace you receive is:

[code]

[2021-07-22 20:13] maziyarpanahi commented on #5854
I understand. As a last clue, I see the following error:

serialVersionUID

this indicates you are trying something that was complied for Scala 2.11 in Scala 2.12 or vice versa. https://github.com/JohnSnowLabs/spark-nlp/discussions/2562

That’s being said, without a code it will take a lot of time an effort to debug this by keep guessing and asking. The link I shared should be enough for you to co

[2021-07-22 21:08] Nickersoft commented on #5854
@maziyarpanahi Could you elaborate on "without a code"? Do you mean error code? I linked re-production code in my previous comment which uses Scala 2.12, Spark 3.x, and still results in the same error. Your suggested solution in the linked discussion is to report that this is happening in case a model hasn't been updated to be compatible with the latest binaries, which is what I did:

![image](htt

[2021-07-22 21:11] Nickersoft commented on #5854
Also, both [the Explain DL pipeline](https://nlp.johnsnowlabs.com/2020/03/19/explain_document_dl.html) and the [Explain DL English pipeline](https://nlp.johnsnowlabs.com/2021/03/23/explain_document_dl_en.html), for SparkNLP 2.x and 3.x respectively, both use the same pipeline name in their example code:

![image](https://user-images.githubusercontent.com/2104129/126710074-b8c5eea9-4168-41ee-b221-2

[2021-07-23 14:44] maziyarpanahi commented on #5854
Hi @Nickersoft

Sorry I missed the link to your code. There was something fixed for that pipeline in the latest release of `3.1.3`. Could you please bump the version to that and see what happens?

PS: the error `serialVersionUID` is regarding having a model trained on Scala 2.11 and used in 2.12 or vice versa, but those models have been tested in all the Spark versions. We have the latest version

[2021-07-23 17:57] Nickersoft commented on #5854
@maziyarpanahi Thanks so much for re-opening this :) As mentioned in my original post though, I'm already using SparkNLP 3.1.3, and so is the reproduction repo I posted. I noticed that the `spark-nlp-starter` repo, however, uses Scala 2.12.10 while mine uses 2.12.13. There shouldn't be any binary incompatibilities across 3 patch versions, should there?

[2021-07-23 18:03] Nickersoft commented on #5854
So I actually just did some experimenting – downgrading Spark to 3.0.3 from 3.1.2 in my linked repo works. Reading the release notes for [Spark 3.1.1](https://spark.apache.org/releases/spark-release-3-1-1.html) and [3.1.2](https://spark.apache.org/releases/spark-release-3-1-2.html) though, I can't seem to find anything that would imply backward incompatibility.

[2021-07-23 18:23] maziyarpanahi commented on #5854
The official Scala versions for Apache Spark are:
- 2.11.12
- 2.12.10 (they tried with 2.12.13 but they had issues so they downgraded to 2.12.10 for some reason)

All of our scripts for Colab/Kaggle, default pyspark, and my own testings are actually on Apache Spark 3.1.2. And looking at Apache Spark 3.1.2 release notes nothing really changed in this release to cause any compatibility issue.

Can't

[2021-07-23 18:57] Nickersoft commented on #5854
Yeah it's very strange... I just tested on my repro repo with Scala 2.11.12 and 2.12.10 with Spark 3.1.2 and got the error both times. Downgrading to Spark 3.0.3 is the only thing that works (Spark 3.1.1 also throws the error).

I'm also curious if you could share where in the Spark docs it claims 2.11.12 and 2.12.10 are the officially supported Scala versions? All I could find is where it says Sp

[2021-07-25 17:45] maziyarpanahi commented on #5854
- Spark 3.0.x and 3.1.x are all on 2.12.10 : https://github.com/apache/spark/blob/de351e30a90dd988b133b3d00fa6218bfcaba8b8/pom.xml#L165
- Same goes for 2.3.x and 2.4.x which are on 2.11.12

I am closing this as it's not an issue, macOS locally and on GitHub actions work fine with Apache Spark 3.1.2 as I have updated the started project and we do extensive tests on all Apache Spark releases on all

[2021-07-25 17:45] #5854 closed

[2021-07-25 17:47] maziyarpanahi commented on #5799
This is resolved in Spark NLP 3.1.3 release.

[2021-07-25 17:47] #5799 closed

[2021-07-26 10:35] xusliebana opened #5874 "Different Performance between 2.7.5 and 3.1.1 when we use have a bertEmbeddings column and when we apply some transformations in other column"
## Description

There are a issue perfomance when we make some transformations in one column and there are a BetEmbeddings column present in the dataset for the 2.7.5 and 3.1.1. If we remove the bertEmbeddings column in the dataset then the query plan is the same and the Performance is the same.
This is the code that I'm executing:
[SparkExplain3.zip](https://github.com/JohnSnowLabs/spark-nlp/file

[2021-07-26 11:59] maziyarpanahi commented on #5874
Could you please have the full code that we can run to reproduce this? (The majority of the code and data is missing, I am mot even sure what this piece of code is supposed to do)

[2021-07-26 16:25] #5874 closed

[2021-07-28 04:44] vnabdulov opened #5880 "An error occurred while calling z:com.johnsnowlabs.nlp.pretrained.PythonResourceDownloader.downloadModel."
Hi, I am new to spark-nlp. As my first project and I am working with about 3m tweets. I have followed the instructions

- Installed Microsoft Visual C++ 2010 Redistributed Package (x64)
- Set up all the folders in C:
![image](https://user-images.githubusercontent.com/42705658/127264775-a86bed1c-1f36-46f3-b746-8322499af0e0.png)

**spark set up**
spark-nlp==3.1.3
pyspark==3.1.2

**Java**
openjdk ver

[2021-07-28 08:43] maziyarpanahi commented on #5880
Hi,

When the download with `.pretrained()` fails on Windows, it's most likely either permissions or wrong Hadoop `winutils` was downloaded for the wrong Apache Spark. Could you please ensure all the steps from this instruction:

https://github.com/JohnSnowLabs/spark-nlp/discussions/1022

Specially:
- winutils (correct version - if you are using hadoop-2.7.3 winutils, then you must download Apache

[2021-07-28 11:33] snowyan opened #5881 "Error while using Spark NLP pretrained pipelines "explain_document_dl" - Py4JJavaError"
## Description
I am getting error when I use Spark NLP pretrained pipelines on databricks notebook.

When I try to run the cell :
pipeline = PretrainedPipeline('explain_document_dl', lang='en')

I get error like this:
java.util.NoSuchElementException: Param includeAllConfidenceScores does not exist.
Py4JJavaError: An error occurred while calling z:com.johnsnowlabs.nlp.pretrained.PythonResourceDown

[2021-07-28 11:58] maziyarpanahi commented on #5881
Hi @snowyan

This is a typical situation in Databricks. Unfortunately, the Maven/JAR of Spark NLP is locked on a specific version while the PyPI is being installed as `spark-nlp`. So every time you start the cluster it will pull the exact version for Maven/JAR, but downloads and installs the latest version of `spark-nlp` for Python. (Python has a param called `includeAllConfidenceScores`, but Mave

[2021-07-28 12:38] snowyan commented on #5881
Thanks for help.  I updated Maven and PyPI to 3.1.3 and it works well.

[2021-07-28 12:39] maziyarpanahi commented on #5881
Fantastic! Thanks for the update.

[2021-07-28 12:39] #5881 closed

[2021-07-29 04:26] vnabdulov commented on #5880
Thank you @maziyarpanahi , updating the winutils solved it!

[2021-07-29 08:48] maziyarpanahi commented on #5880
Glad it helped, thanks for the update :)

[2021-07-29 08:48] #5880 closed

[2021-08-03 06:45] Dirkster99 opened #5896 "Not all models can be downloaded for usage in airtight environment"
Attempt to download a model from [this URL](https://nlp.johnsnowlabs.com/2020/09/06/w2v_cc_300d_de.html) by clicking the download button:
![Unbenannt](https://user-images.githubusercontent.com/2129700/127969822-160f5151-deb7-4af8-a533-227f78d53886.png)

## Description

## Expected Behavior

The download of the model starts as it does for other models...

## Current Behavior

The system shows an er

[2021-08-03 16:54] maziyarpanahi commented on #5896
Thanks @Dirkster99

I think when they were uploading it they must have chosen a licensed model by mistake and it went to a private bucket. We'll fix it.

@Digaari Could you please take care of this model card? (I will update the metadata and move the actual model to the public and fix the URL, but I need you to just fix the metadata, code, removing anything that says healthcare and licensed.)

[2021-08-03 20:48] Dirkster99 opened #5898 "Question: Is it possible to train a SentenceDetector() to ignore abbreviations?"
**Link to doc page in question (if any):**
I am using Spark NLP for a German NER Pipeline but am having trouble detecting items that have an abbreviation.
Eg.:  Given a sentence like 'Ich lebe in 89192 München Bavariastr. 34 und bin hier gern zu Hause.' (address is invented)

I would like to extract a zip-code-city-street style address like this '89192 München Bavariastr. 34' but the `SentenceDete

[2021-08-04 04:42] Aditi00a opened #5899 "Unable to save log file on s3 while training"
## Description
saving the model logs in the ner pipeline using .setOutputLogsPath( "./Path_to_s3")
however it gives this issue -  Wrong FS: s3:// , expected: hdfs://'

## Expected Behavior
the logs should have been saved in the s3 directory mentioned

## Current Behavior
 it gives this error-  Wrong FS: s3:// , expected: hdfs://'

## Steps to Reproduce
1. run the bert model piepline and save the l

[2021-08-04 04:52] Aditi00a opened #5900 "Problem while saving model to s3 directory"
## Description
while saving the model to an s3 directory the model saves the metadata and fields inside the models folder however the tensorflow file is getting saved outside the folder with the same name as the model file path.
this is creating a problem while loading the saved model

## Expected Behavior
the model directory should have the metadata, fields as well as he tensorflow files inside i

[2021-08-04 06:30] maziyarpanahi commented on #5899
Hi,

Could you please complete the template with a code and full error? (I am not sure where you are, what you are trying to do, and a full error stack would help to see if S3 is not supported or something else went wrong)

[2021-08-04 06:32] Aditi00a commented on #5899
i am running a sparknlp training pipeline job on sagemaker and want to save the output log file to s3

[2021-08-04 06:33] maziyarpanahi commented on #5900
Hi,

could you please add more info regarding

- the full code for saving and loading
- what is your platform, where are you running Spark NLP,
- a print/screenshot of what is saved inside `path_to_s3_dir`
- and the full stack error

[2021-08-04 06:34] maziyarpanahi commented on #5899
Thanks, we still need the rest of the missing info in the template, the versions, the steps, everything that helps us to reproduce this issue.

[2021-08-04 06:39] maziyarpanahi commented on #5898
Hi @Dirkster99

Could you please share your full pipeline so we know what are you using?

[2021-08-04 07:36] Dirkster99 commented on #5898
The annotaded CONLL data in 1) was created manually. So end of sentence items are marked as given in [eng.train](https://raw.githubusercontent.com/JohnSnowLabs/spark-nlp/master/src/test/resources/conll2003/eng.train):

[code]
All other abbreviations are kept as is. eg:

[code]

The results are really cool in terms of KPIs I am reaching 0.99 in F1 score and others after 5 epochs:

[code]

However,

[2021-08-04 07:47] maziyarpanahi commented on #5898
So the issue seems to be detecting sentence boundaries. I would suggest using a better Sentence Detector especially the one that has a multi-lingual model:

https://nlp.johnsnowlabs.com/2021/01/02/sentence_detector_dl_xx.html

[code]

This annotator and the multi-lingual may help to avoid simple rule-based detection such as `.`. In case it didn't, you can train your own sentence detector, perhaps

[2021-08-04 09:34] Dirkster99 commented on #5898
So I am trying to use the Multi-Lingual model you specified above via its load method (in my airtight env) but it throws an exception: `java.lang.IllegalArgumentException: requirement failed: TF model not setup.` on a Pipeline that works otherwise just fine (works great without the load() method call). What am I doning wrong here (using Spark 2.4.6 with SparkNLP 3.0.3)?

[code]

[code]

[2021-08-04 09:42] maziyarpanahi commented on #5898
- `SentenceDetector` is a rule-based annotator for sentence detection
- `SentenceDetectorDL` is a DL-based annotator that has pretrained models, can be trained, etc.

You cannot load one into another, the example I gave you and the link to the model has a snippet code:

[code]

This annotator and its multi-lingual model should help for those sentences with `.` to split smarter, and in case it didn

[2021-08-04 09:42] #5898 closed

[2021-08-04 10:46] Dirkster99 commented on #5898
Just for completness sake: I found my error. My last code snippet has a typo because I am using the `SentenceDetector` class to load model for the `SentenceDetectorDLModel` class from disk (now that I've seen the error I understand what you meant by the rather generic phrase:
'You cannot load one into another'.

The sentence splitting problem was not resolved with the application of the model :-(

[2021-08-04 10:52] Aditi00a commented on #5900
**code used to train the model -**
  args = parser.parse_args()

    spark = sparknlp.start()
    print("Spark NLP version: ", sparknlp.version())
    print("Apache Spark version: ", spark.version)

    training_file = "s3://" + os.path.join(args.s3_input_bucket,
                                           args.s3_input_key_prefix,
                                           args.training_file)

[2021-08-04 11:18] maziyarpanahi commented on #5900
The `NER_bert_2021_0730` is not the model being outside. I don't know what that really is, but it's just a file with that name being saved. The directory of `NER_bert_2021_0730/` however is missing a file called `tensorflow` next to fields and metadata directories. (this `tensorflow` file cannot be renamed by you or anyone so it's just not there).

Could you please just simply following these step

[2021-08-04 11:38] Aditi00a commented on #5900
so when i moved "NER_bert_2021_0730" file inside the folder and remaned it to "tensorflow"
then loaded the model then it  worked.
this confirms that that file is the model

[2021-08-04 11:40] maziyarpanahi commented on #5900
That could be, but let's follow that code in a clean directory to be 100% sure of what happened really since that file cannot be named/renamed. (it's hardcoded inside the code). Please follow the code with a simple hard-coded S3 path in a place that nothing exists so we can see if this happens again.

[2021-08-04 11:49] Aditi00a commented on #5899
running this code:
    args = parser.parse_args()

    spark = sparknlp.start()
    print("Spark NLP version: ", sparknlp.version())
    print("Apache Spark version: ", spark.version)

    training_file = "s3://" + os.path.join(args.s3_input_bucket,
                                           args.s3_input_key_prefix,
                                           args.training_file)

    testing_file

[2021-08-04 11:54] maziyarpanahi commented on #5899
This is true, the S3 fileSystem is not supported for the logging. It doesn't support append. (must be local, HDFS, or DBFS.)

[2021-08-04 11:54] #5899 closed

[2021-08-04 17:39] tschaffter opened #5915 "ERROR LicenseValidator$: Wrong symbol in license key"
## Description

I'm trying to use the python class `MedicalNerModel`. I get the following error, which seems to be related to my trial license. Below I have masked part of the license with `****************`.

[code]

## Expected Behavior

Not have this message if my license key is valid.

To clarify, my license is `3.1.1-***********` where `***********` is a string of 40 characters. The license i

[2021-08-05 07:49] maziyarpanahi commented on #5915
Hi @tschaffter

This is an open-source library, we don't have any knowledge of licensed products. You can either:
- contact the person who gave you the license key
- or ask the question on Slack under #healthcare channel

[2021-08-05 07:49] #5915 closed

[2021-08-05 13:26] shubbham37 opened #5918 "Problem with Spark NLP, This error occurs while loading a pretrained Deep learning model"
## Description

The Fatal Error occurs while loading the pre-trained model. Spark Session gets started and model gets downloaded successfully but while loading the pre-trained model fatal error occurs.

My code:

def start(secret):
    builder = SparkSession.builder \
        .appName("Spark NLP Licensed") \
        .master("local[*]") \
        .config("spark.driver.memory", "16G") \
        .con

[2021-08-05 16:14] maziyarpanahi commented on #5918
Hi @shubbham37

This is an open-source library, we don't have any knowledge of licensed products/models. You can either:

- contact the person who gave you the license key via email
- or ask the question on Slack under #healthcare channel

A team of engineers will immediately start helping you :)

[2021-08-05 16:14] #5918 closed

[2021-08-05 16:17] shubbham37 commented on #5918
Can you please take a look at the error ... Its not about the downloading the licenced model its about the error in loading it. I am getting the same error while load ling a public model.

Thank you

[2021-08-05 16:54] maziyarpanahi commented on #5918
I understand, it has definitely something with your `gcc` version that is not compatible with TensorFlow models. However, since you have a licensed library involved, we cannot set up an environment exactly like yours (we just don't have that library).

The team behind the licensed products is very active and competent. I am sure if you just post this on the Slack #healthcare channel or send an ema

[2021-08-06 09:23] Dirkster99 commented on #5898
Just to circle back on this for one last time:

Training the `SentenceDetectorDLModel` on those special abbreviations as explained above has improved the efficiency of my NER pipeline. The percentage of correctly extracted entries jumped from 93,5% to 99,6% - so I am able to extract text almost error free :-)

Its amazing to see how easy this works once you know how its done :-) I cannot share the

[2021-08-06 09:25] maziyarpanahi commented on #5898
@Dirkster99 Thank you for updating this thread! That's a very good result and I am glad it helped you in your project.

Looking forward to reading your article! 🚀 (we will feature it on the Website under the `Learn` section)

[2021-08-09 11:44] shubbham37 opened #5937 "Problem with Spark NLP, This error occurs while loading a pretrained model"
## Description

The Fatal Error occurs while loading the pre-trained model. Spark Session gets started and model gets downloaded successfully but while loading the pre-trained model fatal error occurs.

My code:
from pyspark.sql import SparkSession
from pyspark.ml import Pipeline
from sparknlp.annotator import *
from sparknlp.common import *

from sparknlp.base import *
import sparknlp
spark = spa

[2021-08-09 11:50] maziyarpanahi commented on #5937
@albertoandreottiATgmail You have more experience with Ubuntu 18.04.5 LTS and TensorFlow C/GCC. If you can help here would be great.

@shubbham37 Could you please provide system info about your `Ubuntu 18.04.5 LTS`? The hardware? (laptop, server, VM, etc.) The type of CPU?

[2021-08-09 11:51] shubbham37 commented on #5937
Server

[2021-08-10 13:44] #2783 closed

[2021-08-10 22:52] Nickersoft opened #5943 "Tensorflow/GCC error when loading pre-trained pipeline on Github Actions"
## Description

Hey again, folks... I'm attempting to load some pretrained SparkNLP pipelines in my GitHub Actions workflow as part of my unit tests. They were passing before, but started failing after I expanded my pretrained pipelines to perform POS tagging, lemmatization, NER detection, etc. with Tensorflow. I now receive the following error when running tests:

[code]

I managed to find the er

[2021-08-11 07:13] maziyarpanahi commented on #5943
Hi,

`Code should run on any UNIX-based system` that's not really true nor up to us. It should run on any OS that TensorFlow supports.

Could you please share your GA YAML so I can see what you are using? (we do have them all if you have a look)

[2021-08-11 09:52] maziyarpanahi commented on #5810
Hi @xegulon
Yes! This is an open-source library and we welcome any contribution! 😊

[2021-08-11 14:47] DevinTDHa opened #5947 "LongformerEmbedding, BertForTokenClassification, and DistilBertForTokenClassification Models not loading in Python"
## Description

There are some issues with loading and using some Longformer models.

The model can't be loaded with the error `Unsupported Model: LONGFORMER_EMBEDDINGS`.  This was observed in Colab as well as Databricks.

Both models `longformer_base_4096` and `longformer_large_4096` throw the same error.

The error does not happen in the Scala version.

## Expected Behavior

The annotator should

[2021-08-11 15:31] VRCMF opened #5948 "Constructor com.johnsnowlabs.nlp.training.CoNLL() does not exist"
I encounter a problem that I could not read the txt file into CoNLL().
These codes worked few days ago and they does not work now. I check the file_loc and it does exist.
`from sparknlp.training import CoNLL`
`file_loc = '..../train_text.txt'`
`train = CoNLL().readDataset(spark, file_loc)`

The error shows that:
`py4j.Py4JException: Constructor com.johnsnowlabs.nlp.training.CoNLL([class java.lang.

[2021-08-11 15:41] #5948 closed

[2021-08-11 15:42] VRCMF commented on #5948
The problem is the version of  the spark-nlp.

[2021-08-11 17:20] maziyarpanahi commented on #5947
Thanks @DevinTDHa
I'll do a patch release tomorrow.

[2021-08-11 19:59] #5947 closed

[2021-08-11 22:52] Nickersoft commented on #5943
I'm sorry, perhaps that was a bit of an over-generalization haha. I mostly just was referring to being able to run on my Mac machine + the Ubuntu GA system. Both of them are [supported by TF though](https://www.tensorflow.org/install).

My config is:

[code]

my test script looks like (env passing omitted):

[code]

[2021-08-12 09:50] maziyarpanahi commented on #5943
A couple of points here:
- Java must be 8 as the requirements mention: https://github.com/JohnSnowLabs/spark-nlp#requirements
- `ubuntu-latest` on GA is not the same as Ubuntu 16.04 or 18.04 or 20.04. We had this issue too, there is something missing on those OSes which has this issue with TF v2.4.1, it may be fixed by a simple `apt get install` something. I couldn't find it.
- I would highly sugg

[2021-08-12 09:50] #5943 closed

[2021-08-12 10:10] Dirkster99 opened #5950 "Loading Pre-trained German Bert Model results in No Operation named [save/restore_all] in the Graph"
I am running Spark and Spark NLP in the Google Cloud using the following code to start the session:

[code]

Output:
    Spark version: 3.1.1
Spark NLP version: 3.1.1
Scala code runner version 2.12.13 -- Copyright 2002-2020, LAMP/EPFL and Lightbend, Inc.

[code]

Output:
[code]
## Description

The session starts fine and I was able to use a different [POS model](https://nlp.johnsnowlabs.com/2021/0

[2021-08-12 10:16] maziyarpanahi commented on #5950
Hi,

I am very confused here:

[code]
- Why do you have two entirely different Fat JARs in your SparkSession? If you are on pyspark 2.4, you should use `spark-nlp-spark24_2.11` and if you are on pyspark 3. (as you mentioned) you should use `spark-nlp-assembly`. But both at the same time?
- Why are they 3.0.3 when you said 3.1.1 (your PyPI might be 3.1.1, but your Fat Jar must be the same version)

[2021-08-12 11:36] Dirkster99 commented on #5950
Cool. I've loaded the above jar file **only** in the shown config section and got this work with the German cased and uncased embeddings. So, just to be crystal clear and sure:

- Using Spark 3.1.1. I can use any FATJar with version >= 3.1.1 and use corresponding models, right?

[2021-08-12 12:12] Dirkster99 commented on #5950
I guess I was too quick with my confirmation :-( I use the above German uncased Bert model in a NER pipeline and the Bert model appears to be loading fine but the pipeline is now producing a stacktrace. Could this be because something else required is missing?

[code]

Output:
[code]

[2021-08-12 13:05] xegulon commented on #5810
When I master it, I'd like to implement LUKE, but this won't come before long I fear. What's the purpose of the GraphExtraction annotator?
Thanks @maziyarpanahi

[2021-08-12 15:09] Dirkster99 commented on #5950
I got it to work in the end I was using the wrong whl file :-( So, I think the correct setup for Spark 3.1.1/NLP 3.1.1 is to use these files:

spark-nlp-assembly-3.1.1.jar (https://github.com/JohnSnowLabs/spark-nlp/releases/tag/3.1.1)
spark_nlp-3.1.1-py2.py3-none-any.whl (https://pypi.org/project/spark-nlp/3.1.1/#modal-close)

with the seesion start-up method via spark:

[code]

I guess the setup

[2021-08-12 15:09] #5950 closed

[2021-08-17 14:21] iamvarol opened #5966 "java.lang.NoClassDefFoundError: org/apache/spark/ml/util/MLWritable$class error on GCP Dataproc Cluster"
java.lang.NoClassDefFoundError: org/apache/spark/ml/util/MLWritable$class error has been observed when I tried to run
documentAssembler = DocumentAssembler()\
    .setInputCol("text")\
    .setOutputCol("document")

## Description

java.lang.NoClassDefFoundError: org/apache/spark/ml/util/MLWritable$class error has been observed when I tried to run
documentAssembler = DocumentAssembler()\
    .setI

[2021-08-17 14:26] maziyarpanahi commented on #5966
https://github.com/JohnSnowLabs/spark-nlp/discussions/2562

[2021-08-17 14:26] #5966 closed

[2021-08-19 19:11] surendra-lalwani-rft opened #5969 "java.lang.IllegalArgumentException: Wrong FS: s3://, expected: file:///"
## Description
This happens when trying to load a saved model from S3.

java.lang.IllegalArgumentException: Wrong FS: s3://<<>>/artifacts/static/model/nerDLModel_3.2.1/stages/2_WORD_EMBEDDINGS_MODEL_48cffc8b9a76/storage/EMBEDDINGS_glove_100d, expected: file:///
In sparknlp version 2.5.4 and spark version 2.4 this works fine with python 3.6
 Where it doesn't work
sparknlp version 3.2.1, spark versi

[2021-08-20 09:43] 222579630 opened #5970 "Hugging Face Models"
Thank you for adding HF support in the recent releases. Would it be possible to add support for Question-Answer models and Zero-shot Models from HF?

[2021-08-20 12:19] maziyarpanahi commented on #5969
Hi,
In Spark NLP 2.5.x we didn't have `storage` as it was implemented in 2.6.x or 2.7.x. The `storage` which extracts indexes for the RocksDB database only supports local stage, HDFS, and DBFS. The S3 is not supported for `WordEmbeddings` annotator which is one of the stages in your pipeline.

ref: https://github.com/JohnSnowLabs/spark-nlp#spark-nlp-configuration (`cluster_tmp_dir`) - you have to

[2021-08-20 12:19] #5969 closed

[2021-08-23 14:44] drbonis opened #5975 "create graph for tensorflow only works with numpy==1.19"
https://github.com/JohnSnowLabs/spark-nlp/blob/6a9c96ff3121b10e4f4593cb1ef438290ac3a31d/python/tensorflow/ner/create_models.py#L1

When running the script to create new graphs for TF 1.15 if you have a version of numpy over 1.19 it will fails.

To solve the issue you need to force numpy to 1.19:

`pip install numpy==1.19`

[2021-08-23 17:44] maziyarpanahi commented on #5975
Closing in reference to a discussion: https://github.com/JohnSnowLabs/spark-nlp/discussions/5977

Thanks @drbonis for the guide 👍🏼

[2021-08-23 17:44] #5975 closed

[2021-08-23 22:27] Dirkster99 commented on #5898
Here is the article (at last) on German legal text data since I could not find any other public sample text containing useful abbreviations:
https://medium.com/@Dirk_Bahle/customizing-the-sentencedetector-in-spark-nlp-2f6ef336a149

Please let me know what you think and tell me if you see any errors that I should correct :-)

[2021-08-25 22:58] mnasty opened #5984 "Cannot Load Pretrained Pipeline | java.io.InvalidClassException: com.johnsnowlabs.nlp.util.regex.RuleFactory; local class incompatible"
## Description

My team needed to upgrade spark-nlp on our cluster to the latest version (3.2.1) to support new functionality. When testing the upgrade locally on a dev server using pretrained pipelines, an exception came up from within spark-nlp that we have been unable to resolve. There are no other versions of spark-nlp installed in pip or as jars that could be referenced in the execution. Vani

[2021-08-26 15:05] xegulon opened #5989 "SpaCy's `EntityRuler`-like functionality in Spark NLP"
**Is your feature request related to a problem? Please describe.**
I would like to annotate documents against a Knowledge Base, like spaCy's EntityRuler does.

cf https://spacy.io/api/entityruler

**Describe the solution you'd like**
This would be an annotator called `EntityRuler`, that would be instantiated by loading a local ontology in, let's say, JSON or CSV format.

**Describe alternatives yo

[2021-08-27 06:37] MaggieX opened #5991 "TypeError: 'JavaPackage' object is not callable"
Get "TypeError: 'JavaPackage' object is not callable " error whenever trying to call annotators.
Siimlar to issue [#232](https://github.com/JohnSnowLabs/spark-nlp/issues/232)

## Description

[code]

## Context

## Environment

* Spark NLP version `sparknlp.version()`:
* Apache NLP version `spark.version`:
* Java version `java -version`: 11
* Setup and installation (Pypi, Conda, Maven, etc.): Poet

[2021-08-30 06:59] maziyarpanahi commented on #5991
Hi @MaggieX

I know you have fixed the Java 8 which should be confirmed by `java -version` in the same terminal you are using Spark NLP.

9 out of 10 times the `TypeError: 'JavaPackage' object is not callable` error is when the Maven or JAR for Spark NLP is not included in SparkSession. Most of the time users think they are creating a SparkSession, but it's `.getOrCreate`. It means if there is alr

[2021-08-30 07:30] woodgear commented on #2063
seems been expired again.

[2021-08-30 07:32] maziyarpanahi commented on #2063
Hi @woodgear

Are you using the official link for Slack? (https://www.johnsnowlabs.com/slack-redirect/)

[2021-08-30 13:56] xusliebana opened #6020 "Do not overwrite incoming metadata in BertEmbeddings and BertSentenceEmbeddings"
**Is your feature request related to a problem? Please describe.**
We need to keep the input metadata information in BertSentenceEmbeddings.

**Describe the solution you'd like**
We will just add the metadata information of the input column to the output column.

[2021-09-01 02:57] C-K-Loan opened #6046 "Broken `DistilBertForTokenClassification` and `LongFormer` models"
## Description

I found multiple broken models from the Spark NLP 3.2.0 release which fall in 3 categories.
I checked all other models from 3.2.0, they are fine if there are not mentioned here.

## Bug 1

According to the Release Notes, Modelhub page and Modelname  `distilbert_base_token_classifier_conll03`  should be a Distilbert model.
But Loading it via Distilbert annotator class throws
[code]

[2021-09-01 07:04] maziyarpanahi commented on #6046
Hi @C-K-Loan

Yes, I am aware of these modes being saved with the wrong class. I will fix them. Thanks for listing them here 👍🏼

[2021-09-01 08:44] maziyarpanahi commented on #6046
@C-K-Loan

I have fixed and re-uploaded these models:

* distilbert_base_token_classifier_ontonotes model
* distilbert_base_token_classifier_conll03 model
* distilbert_base_token_classifier_few_nerd model
* distilbert_token_classifier_persian_ner model
* ner_conll_longformer_base_4096 model

A quick note, `ner_conll_longformer_base_4096` is for `NerDLModel` and not `Longformer`. But it required to

[2021-09-01 14:10] drbonis opened #6052 "explain_document_dl fails with sparknlp 3.0.3"
When downloading the explain_document_dl pretrained model from sparknlp 3.0.3 it doesnt work.

## Description

I am using sparknlp 3.0.3 (installed from pypi. When trying to use the pretrained model explain_document_dl I am getting some errors probably related with that pretrained model being trained with a new version of PretrainedPipeline().

In particular the version in cache_pretrained is expl

[2021-09-01 15:14] #6020 closed

[2021-09-01 15:14] #6046 closed

[2021-09-03 09:31] drbonis opened #6061 "PerceptronModel freezes in some very specific cases."
## Description

When defining this pipeline:

    docass = DocumentAssembler()\
        .setInputCol("text")\
        .setOutputCol("document")

    sentdl = SentenceDetectorDLModel\
        .pretrained("sentence_detector_dl", "en") \
        .setInputCols(["document"]) \
        .setOutputCol("sentence")

    tokenizer = Tokenizer() \
        .setInputCols(["sentence"]) \
        .setOutputCol("t

[2021-09-06 13:45] xegulon commented on #5989
You mean, if I have an ontology with 10K classes, I'd need 10K `.txt` files and 10K columns in my output Spark DataFrame?

[2021-09-06 13:48] maziyarpanahi commented on #5989
I think TextMatcher was designed for the other way around, dozens of categories but each contains thousands of possibilities.

I just noticed that the licensed product might have a similar feature: https://nlp.johnsnowlabs.com/docs/en/licensed_annotators#contextualparser

[2021-09-08 14:14] xegulon commented on #5989
It seems the contextual parser is a model that takes into account the context of the sentence, statistical properties, etc.

I am looking for something way simpler that only fetches strict matches (with no context).

[2021-09-08 14:15] maziyarpanahi commented on #5989
Great, so this can be a new feature that we don't have anywhere. I'll add a member who is good in this rule-based features to see what comes out of this :)

[2021-09-08 15:48] danilojsl commented on #6052
Hi @drbonis, thanks for reporting it. Could you please retry it with both versions and let us know if it is working now.

[2021-09-09 18:17] xegulon commented on #5989
Great, as mentioned in the title of the issue, SpaCy's Entity-Ruler can be a good starting point I think:

https://github.com/explosion/spaCy/blob/master/spacy/pipeline/entityruler.py

[2021-09-10 08:25] JoaoBone opened #6091 "GraphExtraction not working with LightPipeline"
GraphExtraction is returning an ArrayIndexOutOfBoundsException when used with LightPipeline. Works fine otherwise.

## Description
I tried implementing GraphExtraction with a previously trained NER model, and used a LightPipeline.
Although it fits the pipeline, when trying to annotate an example with any RelationshipTypes set, it returns a java.lang.ArrayIndexOutOfBoundsException.
@danilojsl has m

[2021-09-10 08:29] maziyarpanahi commented on #6091
@JoaoBone Thanks for reporting this.

@danilojsl I think GraphFinisher is not added to LightPipeline support, could you please have a look so we can fix this by next release?

[2021-09-10 13:17] danilojsl commented on #6091
Hi @maziyarpanahi sure I will work on the solution.
Thanks for creating the issue @JoaoBone

[2021-09-10 13:46] JoaoBone commented on #6091
Thank you both for taking care of it so quickly!

[2021-09-12 20:18] knjpollard commented on #5991
Team,

There is definitely something not intuitive with your stuff. I may be doing something wrong. Its really nuanced if I am.

Here's my experience:
1.  Works on Colab fine, I run a ton of it there.
2. I also got it working perfectly fine in Databricks ML 8.4.

**BUT**......it does not wqwork when
1. Installed on my Win10 Laptop
2. Or my Unbuntu Linux Desktop

- I have 3.1.1 and 3.1.2 verifiably

[2021-09-12 20:43] knjpollard commented on #5991
UPDATE:

Mystery Solved, and upon reading closer this note states the issue.

Here's the trick DO NOT under any circumstances set sc or spark prior to this code below. If there is a spark context or session started already or if you set it in a different way than shown you get the "TypeError: 'JavaPackage' object is not callable."

===================Notebook Cell Below=========================
im

[2021-09-13 08:02] maziyarpanahi commented on #5991
Thanks @knjpollard for updating your issue.

The `TypeError: 'JavaPackage' object is not callable` error is always regarding the actual Spark NLP core (Maven or JAR via `spark.jars.packages` or `spark.jars`) missing in the current SparkSession. By missing, it doesn't mean the user hasn't used it via a custom SparkSession.builder or `sparknlp.start()` function, it's always about SparkSession alread

[2021-09-13 08:02] #5991 closed

[2021-09-15 09:46] #1063 closed

[2021-09-15 09:46] #6091 closed

[2021-09-15 09:46] jslim89 opened #6109 "wordseg_best throw an error com.johnsnowlabs.nlp.annotators.pos.perceptron.AveragedPerceptron; local class incompatible: stream classdesc serialVersionUID"
## Description
I'm trying with [wordseg_best](https://nlp.johnsnowlabs.com/2021/01/13/wordseg_best_th.html), follow the example given.
But it doesn't work as expected _(the error message in below)_

I do try with other languages _(zh, ja, ko)_, all working fine.

## Expected Behavior
Should be shown as output provided in example

[code]

## Current Behavior
Error happened
[code]

## Possible Solut

[2021-09-15 09:51] maziyarpanahi commented on #6109
Hi @jslim89

Unfortunately, it seems that the model is not compatible with Pyspark 3.x (Scala 2.12). This error:
[code]

This means the model was trained and saved via Apache Spark 2.4.x and some annotators have to be trained on both PySpark 2.4.x and 3.x separately. We did that for most models/pipelines, this one must have slipped away. https://github.com/JohnSnowLabs/spark-nlp/discussions/2562

[2021-09-15 09:55] jslim89 commented on #6109
Hi @maziyarpanahi thanks for the quick update. Then I will wait for the new version

[2021-09-15 15:16] danilojsl commented on #6061
Hi @drbonis. I tried to reproduce this error on [this](https://colab.research.google.com/drive/1xMb7W0WSkt-omJg8NK4zUu-ZESpzPXW6?usp=sharing) Google Colab notebook, but it is working.
I'm using the same spark and sparknlp version of your environment. Could you please take a look and see if you can make it fail so I can debug it.

[2021-09-16 00:48] dcecchini commented on #6109
Hi, I will train the model on Spark 3.x asap.

[2021-09-16 08:58] alex2awesome opened #6116 "BertEmbeddings doesn't generate an embedding for every token"
Hello, this might have a simple answer —

Under what circumstances will BertEmbeddings not generate an embedding for a token?

## Description
I am tokenizing the following document, and noticing that the number of embeddings outputted by BertEmbeddings is less than the number of tokens outputted by SparkNLP's tokenizer.

## Expected Behavior
I expect that the number of embeddings returned by BERTE

[2021-09-16 09:04] alex2awesome commented on #6116
Update:

If I process the sentence first locally using python's unidecode package, then the number of embeddings equals the number of tokens. Based on this, I believe that BERTEmbeddings skips some unicode characters that are not in-vocabulary.

Understandable, but still unexpected. Might be worth noting in documentation.

df = df.assign(summary=lambda df: df['summary'].apply(unidecode.unidecode))

[2021-09-16 09:08] maziyarpanahi commented on #6116
Hi @alex2awesome

Thanks for reporting this and the update. Let me take a closer look at this and see what happens:
- with the newer version of Spark NLP
- on the Scala side (is it only Python encoding or does it happen on the Scala side too)
- and see why BERT skips those characters. (It's hard to say since BERT uses subword vocabularies, I debug to see what goes in and what comes out internally)

[2021-09-16 09:11] alex2awesome commented on #6116
Thank you @maziyarpanahi :) always nice when I can report an actually useful, unknown issue.

Hopefully it is an out-of-vocab issue!

[2021-09-16 12:59] headlessButSmart opened #6117 "ContextSpellChecker minCount has type casting problem"
## Description

Changing minCount in ContextSpellCheckerApproach before fitting a pipeline model using python library causes a type casting error.

It looks like ContextSpellCheckerApproach.scala has minCount parameter defined as Double for some reason, whereas annotator.py uses TypeConverters.toInt for given values. There are a few other parameters with the same issue, like compoundCount.

## Exp

[2021-09-16 13:03] maziyarpanahi commented on #6117
Thanks @headlessButSmart  for reporting this. On the Python APIs, I can see that some are converted to INT by mistake.

I will make sure the Scala/Java side matches the Python side in the next release

[2021-09-16 16:15] maziyarpanahi commented on #6116
@alex2awesome

### The Scala tests:

[code]

The results (nothing is missing):
[code]

### The Python test:
https://colab.research.google.com/drive/1JLezGC5LcY_NkGIlSWzPkZHQdllWbtqe?usp=sharing

[code]

This must have something to do with your system-wide encoding (Python Environment default encoding). In any case, I cannot reproduce this to debug it.

[2021-09-16 20:25] Mec-iS opened #6120 "unescaped text makes recognize_entities_dl model to crash Docker container"
Code used is the one in the documentation:
[code]

@danilojsl could reproduce the error with the text I have sent him via Slack, with this result:
[code]

More info in [these comments](https://github.com/JohnSnowLabs/spark-nlp/issues/977#issuecomment-907062719)

[2021-09-16 21:02] alex2awesome commented on #6116
Ackkk I'm so sorry. The rows in `t` (output from spark) were not in the same order as rows from `df` (my input), so I accidentally sent you text from the wrong input row. I was wondering why the number of tokens, `888`, was different.

Please try again with the following text:

```df = pd.DataFrame({'summary': ['Why is this man smiling? President Obama’s chosen successor suffered a devastating los

[2021-09-21 20:23] RahulSahastrabuddhe opened #6140 "java.util.NoSuchElementException: Param includeAllConfidenceScores does not exist. Trying to PretrainedPipeline on Databricks server."
## Description

Not able to pretrane pipeline in Databricks cluser (Apache Spark 3.1.1, Scala 2.12). Getting the error in description above.
## Expected Behavior

Should able to create pipeline of requested DL
## Current Behavior

Instead getting error NoSuchElementException.
## Possible Solution

## Steps to Reproduce

1. Install NLP library inside cluser using PyPI spark-nlp
2. Import required f

[2021-09-22 10:02] drbonis opened #6141 "NerConverter crops first 2 chars of labels when used with DistilBertForTokenClassification"
NerConverter crops first 2 chars of labels when used with DistilBertForTokenClassification

## Description

This happends when using 'distilbert_base_token_classifier_few_nerd' followed by NerConverter.

tokenClassifier = DistilBertForTokenClassification \
      .pretrained('distilbert_base_token_classifier_few_nerd', 'en') \
      .setInputCols(['token', 'document']) \
      .setOutputCol('ner')

[2021-09-22 10:05] maziyarpanahi commented on #6141
Thanks @drbonis

You shouldn't use `NerConverter` for all the NER models. Only the ones that are IOB and IOB2 (B- or I-). As you can see this model doesn't have that and NerConverter cannot be used here. (it only supports IOB/IOB2 format)

In examples, we didn't use NerConverter: https://nlp.johnsnowlabs.com/2021/08/08/distilbert_base_token_classifier_few_nerd_en.html

[2021-09-22 10:05] #6141 closed

[2021-09-22 12:34] maziyarpanahi commented on #6109
@jslim89 this should be resolved by now, could you please confirm?

[2021-09-22 12:51] jslim89 commented on #6109
Thanks @maziyarpanahi @dcecchini .

it works now

![image](https://user-images.githubusercontent.com/797182/134346661-5506fc6c-dfaf-4316-9a5a-c514589e5d84.png)

[2021-09-22 12:51] #6109 closed

[2021-09-22 19:27] danilojsl commented on #6116
Hi @alex2awesome

I reproduced the error. The issue is with unicode spaces which are sent through the pipeline when a spark dataframe is created from a pandas dataframe (i.e `sdf = spark.createDataFrame(df)`).
Tokenizer annotator is not able to handle it and does not consider unicode white space as a character for tokenization. However, you can use RegexTokenizer to make this work.
So, you just ne

[2021-09-22 20:12] alex2awesome commented on #6116
This is great —

My suggestion is to somehow bake this into the Tokenizer annotator. This took hours to diagnose on my end before I opened this issue, and I was also lucky to have looked at an example where this was present. I don't think any user is going to know going into building their pipeline that this will be an issue.

I think that when the Tokenizer doesn't know how to annotate any charac

[2021-09-24 08:37] drbonis commented on #6061
Hi, I also tried to reproduce, now looks like is working. I think we can close it now.

[2021-09-24 08:37] #6061 closed

[2021-09-28 10:55] sarathsurpur opened #6173 "Py4JJavaError - When using MedicalNerModel and SentenceEntityResolverModel"
## Description

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

## Context

## Your Environment

* Spark NLP version `sparknlp.version()`:
* Apache NLP version `spark.version`:
* Java version `java -version`:
* Setup and installation (Pypi, Conda, Maven, etc.):
* Operating System and version:
* Link to your project (if any):

[2021-09-28 10:57] maziyarpanahi commented on #6173
@sarathsurpur This repo only supports public and open-source features. What you are using is licensed (we have no info), please either contact them directly via email or on Slack you can ask them inside the `#healthcare` channel.

[2021-09-28 10:57] #6173 closed

[2021-09-29 12:28] danilojsl commented on #5989
Hi @xegulon, I'm working on `EntityRuler` annotator and I have an alpha version of it. If you want to check this out, please see [this Colab notebook ](https://colab.research.google.com/drive/1xMb7W0WSkt-omJg8NK4zUu-ZESpzPXW6?usp=sharing). We will truly appreciate any feedback on this new feature.

[2021-09-29 13:58] #6120 closed

[2021-09-30 08:48] xegulon commented on #5989
Hi @danilojsl, much thanks for the speed, the nice work and the notebook!

I've been through the notebook, and something I think could be enhanced is the schema of your JSON/CSV. In addition to `label` and `pattern` keys, it would be great to have an `ID` key (that would reference the entity uniquely), and the ability to have any other key/metadata related to the entity.

Moreover, I think taking

[2021-09-30 09:09] maziyarpanahi commented on #5989
Thanks @xegulon  for the feedback. I think the `ID` and supporting JSONL format are interesting.

PS: for the error, he is using a custom-made JAR which you don't have, that is why you get the `JavaPackage` error. I think once it's finalized we can put a custom JAR on public S3 to make the notebook executable for you for the last test before releasing it.

[2021-10-01 01:30] dyue opened #6205 "Models from NerDLModel.pretrained() sharing the same input column references"
Applying setInputColumns on subsequent pre-trained NerDLModel will affect earlier pre-trained NerDLModel's.

## Description
I am trying to apply pre-trained NerDLModel's to different columns in a DataFrame separately.   I have a pipeline with stages performing the analysis for one column and the analysis for another column after.   For some reason, configuring the subsequent NerDLModel.setInputCol

[2021-10-02 19:39] muhammetsnts opened #6213 "ner_log file generation issue on Databricks"
## Description

When we trained a NER model by using `NerDLApproach()`, ner_log file wasn't generated, but we could get metrics from the trained model.

![image](https://user-images.githubusercontent.com/76607915/135728597-9a4eb5ef-1254-4ed6-afbf-262b04a56ccc.png)
![image](https://user-images.githubusercontent.com/76607915/135728623-60c2d031-e185-47da-b2c3-20fc0f7378d9.png)
![image](https://user-i

[2021-10-03 08:21] maziyarpanahi commented on #6213
We are now supporting writing logs on DBFS fileSystem, you need to:
- always use a full path, never assume your `ner_logs` go where you think it goes
- since you are in a cluster environment, the correct path the file is saved is `dbfs:/databricks/driver/ner_logs` not `file:/`

[2021-10-03 08:21] #6213 closed

[2021-10-03 13:38] #6140 closed

[2021-10-03 13:38] #6052 closed

[2021-10-03 13:39] #5699 closed

[2021-10-03 13:39] maziyarpanahi commented on #2948
There was an issue with `SentenceEmbeddings` so it should be fixed after Spark NLP 3.3.0 release

[2021-10-03 13:39] #2948 closed

[2021-10-05 16:05] maziyarpanahi commented on #6116
This is actually an issue inside `BertEmbeddings` annotators when it tries to re-align the custom tokens back to the token pieces with their vectors.

I'll see if we can fix this in 3.3.1 release

[2021-10-05 20:30] piegu opened #6231 "Spark NLP 3.3.0 and Colab: bug with pipeline.fit() when starting with sparknlp.start(gpu=True)"
## Description
I ran in Colab the [notebook](https://github.com/JohnSnowLabs/spark-nlp-workshop/blob/master/tutorials/blogposts/5.TrainingContextSpellChecker.ipynb) about "[Training a Contextual Spell Checker for Italian Language](https://towardsdatascience.com/training-a-contextual-spell-checker-for-italian-language-66dda528e4bf)":  the `pipeline.fit()` method does not work on the last Spark NLP

[2021-10-06 02:28] aks200000 opened #6232 "spark-nlp in my python implementation throwing the error: java.lang.NullPointerException at org.apache.spark.storage.BlockManagerMasterEndpoint.org$apache$spark$storage$BlockManagerMasterEndpoint$$register(BlockManagerMasterEndpoint.scala:524)"
## Description
I am trying to use spark-nlp to build a ML app in python.

Following the instructions at https://nlp.johnsnowlabs.com/docs/en/install to start Spark NLP Session from python,
I created on my mac , the conda environment as below from environment.yml

name: NamedEntityRecognition
channels:
  - defaults
  - conda-forge
  - johnsnowlabs
dependencies:
  - python=3.8
  - pyspark=3.1.2
  -

[2021-10-06 03:58] aks200000 commented on #6232
I found the solution myself, although I don't know why this worked.

Setting the Spark Local IP the following way is critically required.
 os.environ['SPARK_LOCAL_IP'] = '127.0.0.1'

Doing this the following way didn't work
spark = SparkSession.builder..config("spark.driver.bindAddress", "127.0.0.1")

With environment variable correctly set, the following code created the Spark session correctly a

[2021-10-06 10:50] #6232 closed

[2021-10-06 19:53] Dirkster99 opened #6235 "Link to Spark NLP Workshop in Yake Docu is broken"
I am interested in using the Yake model so I reviewed the [docu](https://nlp.johnsnowlabs.com/docs/en/annotators#yake) and found a broken link to the Spark NLP Workshop instead of the helpful information :-(
## Description

The broken link in the docu is:
https://github.com/JohnSnowLabs/spark-nlp-workshop/blob/master/tutorials/Certification_Trainings/Public/databricks_notebooks/8.Keyword_Extractio

[2021-10-09 00:33] kingbrown9 opened #6251 "Java PretrainedPipeline usage error - InvalidClassException"
## Description

I try to run the "explain_document_ml" pipeline with the following code:
[code]
While `inputDF` is a dataframe that contains one "text" column.
## Current Behavior

The error I get is:
[code]

I've also changed my class so it will implement `Serializable` and add a `serialVersionUID` with adr and key as specified in [at this question](https://stackoverflow.com/questions/10378855/ja

[2021-10-09 19:56] kingbrown9 commented on #6251
That's unrelated. My dependencies from the `gradle.build.kts`:
[code]

[2021-10-10 13:48] maziyarpanahi commented on #6251
`serialVersionUID` error only happens in Spark NLP when a model or pipeline was saved on Scala 2.11 and is being loaded on Scala 2.12. (since pretrained function downloads the appropriate, most recent, and compatible model/pipeline automatically, then there is a mismatch somewhere in your env/dev)

- I can recommend looking inside `~/cache_pretrained/` inside the `explain_document_ml` directory an

[2021-10-10 13:48] #6251 closed, assigned to maziyarpanahi

[2021-10-13 17:31] Ahmetemintek opened #6271 "ERROR: IllegalArgumentException: Wrong or missing inputCols annotators in MultiClassifierDLModel"
Hi!

## Description

I try to build sparknlp pipeline that aims to implement toxic comment classification on Colab. However, after creating pipeline when I try to transform it after fitting, I come across an error. Most probably I am missing a small point, if help me I would be appreciate.
## Expected Behavior

I expected that it will transform the model with my dataFrame.
## Current Behavior

Thi

[2021-10-16 11:04] kgoderis opened #6303 "TensorflowWrapper.scala fails to load ClassifierDLApproach"
## Description
java.util.NoSuchElementException is thrown when doing TensorflowWrapper$.readZippedSavedModel as part of ClassifierDLApproach.loadSavedModel.

StackTrace:
[code]

This seems to happen in https://github.com/JohnSnowLabs/spark-nlp/blob/340fe8068fae9a83130871f31633109f5fda8e70/src/main/scala/com/johnsnowlabs/ml/tensorflow/TensorflowWrapper.scala#L510, which is called from https://githu

[2021-10-16 17:18] maziyarpanahi commented on #6271
Hi,

Please:

- The input to MultiClassifierDLModel is not a Finisher. (Finisher is used to take something outside Spark NLP pipeline to other libraries)
  - The models are connected to their embeddings, that is why it has `use` inside the name. It means it requires `UnicersalSentenecEncdoder` not `BertEmbeddings`+`SentenceEmbeddings`

The reference and easy steps:
- Please use the official Colab

[2021-10-16 17:18] #6271 closed

[2021-10-17 05:44] knjpollard commented on #870
Same error here as well.
Py4JError: An error occurred while calling z:com.johnsnowlabs.nlp.pretrained.PythonResourceDownloader.downloadModel

Works on Databricks and Colab. Great, but breaks on my (Hadoop + Spark/Yarn) situation. It creates a giant log when it breaks. Too big to paste here. It seems fairly common so please fix or let me know how to fix.

[2021-10-17 07:53] maziyarpanahi commented on #6303
Thanks @kgoderis
I have personally tested that annotator in almost all situations including on GCP, even if Spark NLP being a dependency of another SBT project. However, I am not sure I've ever tested it in Java like this, let me assign this to someone to test and reproduce it locally first and I'll get back to you.

[2021-10-17 07:59] maziyarpanahi commented on #870
Hi @knjpollard
This issue can happen for a variety of issues that have nothing to do with the source code and more with the user's environment. (if you browse the similar issues you can see it has always been about how Spark NLP is setup, where it is being used, and whether or not the Apache Spark configurations are correctly set).

In that spirit, this cannot be resolved by a 1 line error since i

[2021-10-17 07:59] #870 closed

[2021-10-17 08:08] kgoderis commented on #6303
@maziyarpanahi FYI, it works locally on my dev machine. It also works when running inside a Docker image (but on GCP those run on an optimised Debian distribution, not an Ubuntu based one, which is what I tested)

[2021-10-17 09:48] kgoderis commented on #6303
@maziyarpanahi I have tossed away the test instance, but it is plain vanilla Ubuntu 20.04, nothing fancy nor non-standard configuration. The docker based test was done in the same way via the GCP Control Panel, except adding the container image, but here I changed the underlying image to be the "stable" one from the list shown on the Control Panel, e.g I avoided the "dev" image release

[2021-10-18 06:50] kgoderis opened #6313 "SentimentDLModel expects column with ref. tfhub_use"
## Description
When building a Pipeline with a SentimentDLModel, and feeding that annotator with sentence embeddings coming from a  SentenceEmbeddings stage, the runtime throws a IllegalArgumentException:

2021-10-18 08:27:23.461 ERROR 66773 --- [nTaskExecutor-1] o.apache.spark.ml.util.Instrumentation   : java.lang.IllegalArgumentException: requirement failed: Found input column with storage metad

[2021-10-18 07:34] maziyarpanahi commented on #6313
Hi @kgoderis

If a model was trained by a specific embeddings model (word or sentence), the storageRef of that model is connected to that specific embeddings model. It means you cannot use `sentimentdl_use_twitter` which is trained by UniversalSentenceEncoder with other embeddings. (this is a rule for all the models that require embeddings)

To avoid such issues, you can just have a look at the mo

[2021-10-18 07:34] #6313 closed

[2021-10-18 09:04] #5989 closed, assigned to maziyarpanahi

[2021-10-19 10:26] xfgavin opened #6320 "'JavaPackage' object is not callable"
I met this error when I was testing sparknlp on databricks.

Here is my code:
`%sh
pip install spark-nlp==3.3.1`
`import sparknlp
from sparknlp.pretrained import PretrainedPipeline
#sparknlp.version()

spark = sparknlp.start()

pipeline = PretrainedPipeline('recognize_entities_dl', 'en')
result = pipeline.annotate('Harry Potter is a great movie')`

Here is my enviroment:
Runtime:
`7.5 (includes Ap

[2021-10-19 10:28] #6320 closed, assigned to nobody

[2021-10-19 17:56] xfgavin commented on #6320
Got it. Thank you.

[2021-10-19 22:04] muhammetsnts opened #6327 "Spark v3.2.0 compatibility issue"
## Description

When we want to use `sparknlp` with `spark` v3.2.0, it gives error. Everything is fine with `spark ` v3.1.2.

## Expected Behavior

To be able to run spark-nlp components.
## Current Behavior

Gives error.
![Screenshot_1](https://user-images.githubusercontent.com/76607915/137996667-54297307-34d6-4696-8976-7912389eb7cf.png)

![Screenshot_2](https://user-images.githubusercontent.com/

[2021-10-20 07:56] maziyarpanahi commented on #6327
Hi,

Spark NLP is not yet compatible with Apache Spark 3.2.0 nor Scala 2.13:

- https://github.com/JohnSnowLabs/spark-nlp#apache-spark-support
- https://github.com/JohnSnowLabs/spark-nlp#scala-and-python-support

[2021-10-20 19:50] Nickersoft opened #6329 "Dozens of identical Tensorflow warnings while attempting to load pipeline"
## Description
Something I've noticed for quite some while now is that when loading pre-trained pipelines on my machine that utilize Tensorflow-backed operations such as NER, I'm greeted with the following warning:

[code]

From what I can tell, it seems like it has something to do with Tensorflow attempting to access my GPU, when my computer does not have a dedicated GPU. The package I'm using fo

[2021-10-20 19:52] #6329 closed, assigned to maziyarpanahi

[2021-10-20 21:03] Nickersoft commented on #6329
Apart from just suppressing the error, do you have any insight as to what could be causing this? Shouldn't this not occur if the TensorFlow Java package isn't the GPU variant?

[2021-10-21 18:08] ethnhll opened #6331 "Improve CoNLL reader to read large datasets"
**Is your feature request related to a problem? Please describe.**
_We are attempting to load a directory of CoNLL files totalling 9000+ files and 400+MB using `CoNLL().readDataset(spark, dataset)`, however this fails with OOM exceptions even on a driver with 24GB of RAM available. The proposed workaround to be able to load this dataset all at once for training is the following:_

**Describe the s

[2021-10-27 07:43] Dirkster99 opened #6346 "Cannot use MultiClassifierDLApproach Pipeline in GCP"
I am trying to implement a MultiLabel - MultiClass Classification as described in the docs for [MultiClassifierDLApproach](https://nlp.johnsnowlabs.com/api/python/reference/autosummary/sparknlp.annotator.MultiClassifierDLApproach.html#sparknlp-annotator-multiclassifierdlapproach).

## Description

I am running in an airtight environment on the GCP so I have to download/upload pretrained models man

[2021-10-27 09:41] Pcosmin opened #6347 "Cannot load large XlmRoBertaForTokenClassification model in scala 2.12"
## Steps to Reproduce

1. XlmRoBertaForTokenClassification.loadSavedModel(<large model path>)

## Stack Trace
Exception in thread "main" java.lang.OutOfMemoryError: Java heap space
	at com.johnsnowlabs.ml.tensorflow.io.ChunkBytes$.readFileInByteChunks(ChunkBytes.scala:44)
	at com.johnsnowlabs.ml.tensorflow.TensorflowWrapper$.read(TensorflowWrapper.scala:436)
	at com.johnsnowlabs.nlp.annotators.cla

[2021-10-27 09:51] #6346 closed, assigned to maziyarpanahi

[2021-10-27 10:00] #6347 closed, assigned to maziyarpanahi

[2021-10-29 15:20] periperi24 opened #6351 "Py4JJavaError: An error occurred while calling z:com.johnsnowlabs.nlp.pretrained.PythonResourceDownloader.getDownloadSize. : java.lang.NoClassDefFoundError: org/json4s/package$MappingException"
## Description
This is my first Spark-NLP project. I had executed the same code in my local system (Ubuntu) with no issues. Now I am trying to deploy the code to server but I am getting a Py4JJavaError when I execute the code. The solutions for a similar issue (#846) did not work for me.

## Code
embeddings = BertEmbeddings.pretrained(name='bert_wiki_books', lang='en') \
        .setInputCols('sen

[2021-10-29 15:23] #6351 closed, assigned to maziyarpanahi

[2021-11-02 11:16] Dirkster99 opened #6364 "Predicting efficently with MultiClassifierDLModel()"
**Link to doc page in question (if any):**
[Docu Page for MultiClassifierDLModel](https://nlp.johnsnowlabs.com/api/python/reference/autosummary/sparknlp.annotator.MultiClassifierDLModel.html)

**Name of the Spark NLP feature whose docs need improvement:**
- MultiClassifierDLModel

**What you think the docs should say:**
I am trying to make multilabel classification predictions using the pipeline s

[2021-11-02 11:24] maziyarpanahi commented on #6364
Hi,

When you do `.coalesce(1)` you practically bringing all the data from executors into the Driver. If you don't see OOM (which is totally possible) you see performance of having only 1 machine.

Please use the following:

[code]
- This way it will save the data in a distributed way (you can keep adding more executors and this will adjust automatically)
- If you must have it in JSON or CSV, you

[2021-11-02 13:25] Dirkster99 commented on #6364
Hi, thanks for the tips - I'll try using a parquet file as intermediate step and see if this improves things with multiple workers.

I only opted to save as JSON because the above array would not be savable as CSV. In the end, I'd like to save the result with the input columns (RowId, Text) and the predicted columns (Class1, Class2, ..., Class23) where Class_n contains the prediction value between

[2021-11-02 13:30] maziyarpanahi commented on #6364
You are welcome. You can use `Finisher()` that can convert the `.result` into array of results. https://nlp.johnsnowlabs.com/docs/en/annotators#finisher

For that custom DataFrame with each class as a column, the probabilities can be extracted from the `.metadata` but the rest should be done with a combination of UDF/explode+arrays_zip in PySpark itself.

[2021-11-02 14:50] Aditi00a commented on #6116
I am still getting this issue with spark nlp v 3.3.1

### Description
I am tokenizing the following document, and noticing that the number of embeddings outputted by BertEmbeddings is less than the number of tokens outputted by SparkNLP's tokenizer.

### Expected Behavior
I expect that the number of embeddings returned by BERTEmbeddings would be exactly equal to the number of tokens returned by th

[2021-11-02 14:53] Aditi00a opened #6367 "BertEmbeddings doesn't generate an embedding for every token"
I am still getting this issue with spark nlp v 3.3.1

### Description
I am tokenizing the following document, and noticing that the number of embeddings outputted by BertEmbeddings is less than the number of tokens outputted by SparkNLP's tokenizer.

### Expected Behavior
I expect that the number of embeddings returned by BERTEmbeddings would be exactly equal to the number of tokens returned by th

[2021-11-02 15:04] maziyarpanahi commented on #6116
This issue was regarding Unicode characters missing from BertEmbeddings output. It was resolved in Spark NLP 3.3.1 release. (I address your question in your issue: https://github.com/JohnSnowLabs/spark-nlp/issues/6367)

[2021-11-02 15:05] maziyarpanahi commented on #6367
There is no issue with BertEmbeddings, please increase `.setMaxSentenceLength(512)`:
https://colab.research.google.com/drive/1JLezGC5LcY_NkGIlSWzPkZHQdllWbtqe?usp=sharing

[2021-11-02 15:05] #6367 closed

[2021-11-03 05:40] Aditi00a commented on #6367
Despite setting the  setMaxSentenceLength(512) parameter -
Still encountering the same issue on the following text -

text='ntr new hindi dubbed movie 2021, jr ntr new hindi dubbed movie 2021, sauth new movie 2021 hindi dubbed ntr, new south movie 2021 hindi dubbed ntr, ntr new movie 2021 hindi dubbed love story, ntr new movie 2021 hindi dubbed ravan, ntr new movie 2021 hindi dubbed rrr, ntr new m

[2021-11-03 09:02] maziyarpanahi commented on #6367
There is no bug here, this is just 1 giant sentence which is obviously larger than 512! Anything larger than 512 will be trimmed/truncated like all the other transformer models.

You can use other sentence detector annotators/modes for better sentence boundary detection, but by the looks of it this is just a simple copy/paste for a testing purposes. If you have a decent text that has detectable se

[2021-11-04 11:16] Dirkster99 commented on #6364
I found a solution to unpack the category array in the way I was looking for and it appears to be very fast even when using only 2 worker nodes :-) I post it below in case someone comes across the thread and is also wondering how the output of the `MultiClassifierDLModel()` could be post-processed.

I have only one more question on this subject. Is there any way to scale the training phase of the

[2021-11-04 12:24] maziyarpanahi commented on #6364
Hi @Dirkster99

Thank you very much for sharing this here, I'll share this on the Slack channel and with others when they need something similar.

Unfortunately, at the moment the trainable annotators can only use Driver and cannot scale (CPU or GPU). We are waiting for TensorFlow on Java to catch up with TF distribution so we can scale on multiple GPUs on multiple executors.

[2021-11-04 12:58] #6364 closed

[2021-11-05 11:33] mwunderlich commented on #2593
I ran into the same issue with SparkNLP 2.7.5 and PySpark 2.4.4. I was able to resolve it by downgrading my Conda environment from Python 3.9 to Python 3.7.11 and also making sure that my IDE (IntelliJ) was using the correct python interpreter.

Here is a good overview about which versions of SparkNLP are compatible with which PySpark version
https://pypi.org/project/spark-nlp/#pipconda

[2021-11-05 12:32] periperi24 opened #6407 "bert_wiki_books model download takes too long"
**Is your feature request related to a problem? Please describe.**
I am building document parser with a Spark NLP NER pipeline. I use BertEmbeddings and a custom trained NerDLApproach in my pipeline. When I upload a document for parsing I want the output to be displayed in a few seconds(4-5 seconds). The time taken for BertEmbeddings - bert_wiki_books model to get downloaded every time is way too

[2021-11-05 12:45] maziyarpanahi commented on #6407
Hi,

I am not sure I understand the issue. To simplify:

- "bert_wiki_books model to get downloaded every time is way too long - 30 seconds or more." - we never download the same model nor the pipeline more than once. If it's downloaded, it will be reused in the next new session. So what do you mean by every time? Is this "every time" on a clean machine that doesn't keep the downloaded model?
- "I

[2021-11-05 13:00] periperi24 commented on #6407
Hi,
Thanks for the reply. This is my first Spark project.
Yes you have got it right. I have been starting a spark session, building the pipeline and killing the spark session for each document.

[2021-11-05 13:20] maziyarpanahi commented on #6407
You are welcome. No worries, in all Apache Spark applications you may have different ways of using your session:

- keeping the SparkSession alive while everything is loaded is the key if the application is being used as an interactive app. (REST API, backend to a UI, etc.)
- Batch processing or offline processing, then the whole app starts, downloads/loads everything, computes, saves the results,

[2021-11-05 14:38] periperi24 commented on #6407
Thanks for the detailed explanation. I am using Spark NLP with PySpark and my case is the one where the application uses an interactive app.

[2021-11-05 14:40] maziyarpanahi commented on #6407
That's great. In that case please start your application, and once everything is loaded keep it alive for all future uses. (think of it as keeping a Web server up and running all the time and not just when there is request coming to it via DNS)

[2021-11-05 14:40] #6407 closed

[2021-11-05 16:11] lchernicharo opened #6411 "John Snow Labs Spark-NLP 3.3.2: New BERT for Sequence Classification, Comet.ml logging integration, new state-of-the-art BERT topic and sentiment detection models, and bug fixes!"
Hello, there!
Trying to download the Fat Jars but getting Permission Denied.
Can you help?

### Discussed in https://github.com/JohnSnowLabs/spark-nlp/discussions/6383

<div type='discussions-op-text'>

<sup>Originally posted by **maziyarpanahi** November  3, 2021</sup>
---------------
Overview
---------------

We are pleased to release Spark NLP 🚀 3.3.2! This release comes with a new BertForSeque

[2021-11-05 16:48] maziyarpanahi commented on #6411
Hi @lchernicharo

good find! I totally forgot to upload them! I’ll do it within an hour

[2021-11-05 18:35] maziyarpanahi commented on #6411
They are now available on our S3 for downloads.

Thanks again @lchernicharo for reporting this 👍🏼

[2021-11-05 18:35] #6411 closed

[2021-11-08 13:43] daveaitel opened #6432 "Crash when trying to translate using Marian"
A exception results from trying to translate a French string through Apache NLP and the Marian models.

## Description

[code]
From a pyspark  session:
dave_aitel@minecraft-1:/minecraft/CODE/DARPA$ pyspark --packages com.johnsnowlabs.nlp:spark-nlp_2.12:3.2.3
Python 3.7.3 (default, Jan 22 2021, 20:04:44)
[GCC 8.3.0] on linux
Type "help", "copyright", "credits" or "license" for more information.
WAR

[2021-11-08 20:28] xegulon opened #6436 "Export from HuggingFace BERT for Sequence Classification didn't work in AWS SageMaker"
Hi,
I followed the official notebook for converting a HuggingFace model to Spark NLP format (BERT for Sequence Classification). But I get a java error.

## Description

Everything goes well, until I reach this cell of the official notebook:

[code]

## Expected Behavior

It shouldn't crash at me.

## Current Behavior

I get the following error:

[code]

In fact, I think the problem comes from the

[2021-11-09 07:59] maziyarpanahi commented on #6436
- We don’t support pyspark/spark 3.2.0: https://github.com/JohnSnowLabs/spark-nlp#apache-spark-support
- this notebook and scrip might be helpful as how to setup spark-nlp on SageMaker: https://github.com/JohnSnowLabs/spark-nlp-workshop/blob/master/platforms/sagemaker/NLP_SageMaker_Setup.ipynb (you can skip the parts relating to licensed since you are using the open source)
- this script: https://

[2021-11-09 07:59] #6436 closed

[2021-11-09 15:28] daveaitel commented on #6432
Here is another crash (translating an empty string in German to English using Marian) (which is weird because I thought i filtered empty strings):

    ret = translatepipeline[langid].annotate(data)["translation"]
  File "/home/dave_aitel/.local/lib/python3.7/site-packages/sparknlp/pretrained.py", line 181, in annotate
    return pipeline.annotate(target)
  File "/home/dave_aitel/.local/lib/python

[2021-11-09 15:33] maziyarpanahi commented on #6432
Thank you for reporting. For the first issue, we are trying to reproduce and see what can cause this in the input and how to avoid it.

Your second issue is different though. It seems the pipeline was not saved with a default langId and it cannot find it in the input.

Could you please tell me exactly the name of the pipeline that resulted in this error so I can check?

[2021-11-09 16:21] pedrochavessd commented on #340
Hello @johnmccain any success with this? @maziyarpanahi has there been any development towards supporting custom transformers?

[2021-11-09 17:15] daveaitel commented on #6432
[code]
from
[code]

:)

Thanks!

[2021-11-09 17:19] daveaitel commented on #6432
(I'm doing it this way because the multi-lang marian just doesn't work as far as I can tell)

[2021-11-09 17:55] maziyarpanahi commented on #6432
OK, I'll test all these pipelines to make sure not having a default langId in the MarianTransformer is not resulting in an exception.
`"ru","zh","ar","fr","ko", "es"`

[2021-11-09 18:01] daveaitel commented on #6432
Don't forget "da" !

On Tue, Nov 9, 2021, 12:55 PM Maziyar Panahi ***@***.***>
wrote:

[2021-11-09 21:38] xegulon commented on #6436
Thanks a lot, I think it could be great to add the sagemaker setup script along with the kaggle and colab ones.

:+1:

[2021-11-10 03:31] daveaitel commented on #6432
Ok, I replicated it cleanly by translating a single space under the Italian to English pipeline.

[2021-11-10 09:10] maziyarpanahi commented on #6436
@xegulon That makes total sense! I'll add this to the list so we make a nice step-by-step setup in the repo and on the Website.

[2021-11-10 09:24] maziyarpanahi commented on #340
Actually, we have many users who developed a custom Transformer in Spark ML in both Scala and PySpark (so it's possible and not a blocker). The trick is to make sure you respect the Annotation.type with all its metadata. (I think we have had similar questions on Slack if you have a question there are people who can look at your code and help you to achieve this.)

Let me close this and you can con

[2021-11-10 09:24] #340 closed

[2021-11-10 11:48] daveaitel commented on #6432
This string gets a langid of Italian and then freezes the italian translation pipeline and then generates the first traceback eventually:
"RT RadioRedAzione\nBASTA CON I SOLITI CAPOANNI\n\nINIE è BELLO  Capodanno"

[2021-11-10 12:23] maziyarpanahi commented on #6432
Hi @daveaitel
I have found the issue and it will be fixed in the next release. (your second issue, for the first issue with `org.tensorflow.exceptions.TFInvalidArgumentException` @wolliq is working on it)

[2021-11-10 13:26] daveaitel commented on #6432
That's great news! If there's any easy way for me to update to the fixed version so I can help you test please let me know!

I have a clean replication for the first traceback in Arabic if @wolliq needs it -
Translate [ar] data: [متوفر كميه من كابل شحن وداتا معدن مصنوع من مادة الالومنيوم قوي جدا
و مش بيتقطع وسريع الشحن وهيعيش معاك طول العمر
 بيدعم الشحن السريع fast charge
 بيدعم نقل الداتا بسرعه

[2021-11-10 13:27] daveaitel commented on #6432
Also I'd love to know if there are any workarounds I can apply - I will be happy to do so!

[2021-11-10 13:28] daveaitel commented on #6432
(Note that my brackets are NOT part of the replication string:
[code]

[2021-11-10 13:44] daveaitel commented on #6432
FWIW I can cause the first issue with lots of different languages (ZH included). These threads spin the CPU for a long time before they cause that exception.

[2021-11-10 13:45] maziyarpanahi commented on #6432
Thanks @daveaitel

@wolliq will look into this and once we both have a candidate next week we can ask you to test it for us before we release it

[2021-11-10 13:46] daveaitel commented on #6432
If anyone ever figures out how to get the multi-translator working that would be GREAT news to my memory usage , btw :)

[2021-11-10 13:49] maziyarpanahi commented on #6432
I'll see if we can revive `opus-mt-mul-en` models in Spark NLP as well in the next release.

[2021-11-10 14:42] xegulon commented on #6436
I could do a PR for that, it could be good training for me ;)

[2021-11-10 14:43] maziyarpanahi commented on #6436
That'd be great! Thank you @xegulon, step by step instructions coming from users are always helpful since they have a first-hand experience.

[2021-11-10 17:15] xegulon commented on #6436
I'll do it then!

[2021-11-11 07:14] xegulon commented on #6436
It's here: https://github.com/JohnSnowLabs/spark-nlp/pull/6449

[2021-11-11 21:28] ethnhll commented on #6331
Is there any path forward for reading in lots of CoNLL text files and converting to parquet, quickly while a change to the CoNLL reader is made?

[2021-11-12 09:02] maziyarpanahi commented on #6331
Hi @ethnhll

At the moment this is the only way to have multiple conll files inside CoNLL() class, but we are working on optimizing that class as much as possible to be faster with less memory consumption for larger files, and also see if we can add an ability to read multiple files from a directory instead of 1 at a time.

[2021-11-12 09:10] maziyarpanahi commented on #6436
Many thanks! I'll ask to also have a short DNS path like the one we have for Colab and Kaggle in the next release.

[2021-11-12 16:49] csr03sridharan opened #6459 "DateParser failing to detect dates"
DateMatcher is not detecting dates as expected.   in Spark NLP

Here 1/2 is identified as date in pyspark - Please check this.

Attached the below code.

Example: text = ["right over-the-needle catheter system 18 gauge;1 1/2 in length"]

class NLPPipeline:
  def __init__(self, pipeline_stage_type):
    self.pipeline_stage_type = pipeline_stage_type
    self.documentAssembler = DocumentAssembler()

[2021-11-12 22:04] albertoandreottiATgmail commented on #6331
@ethnhll , @maziyarpanahi  we have a candidate implementation in healthcare library, will share with Ethan soon.

[2021-11-13 10:11] csr03sridharan commented on #6459
the issue is actually with the word gauge, when we remove it from the sentence it does not detect dates

[2021-11-13 14:26] xegulon commented on #6436
Yeah, that'd be convenient! Should I modify anything in the code I've made?

[2021-11-14 12:06] maziyarpanahi commented on #6436
No they will make a redirect DNS subdomain, no need to change anything in the script it looks sufficient already. Many thanks again @xegulon

[2021-11-15 08:25] RajarshiBhadra commented on #5948
I see this is closed. What was the correct version used?

[2021-11-15 09:05] maziyarpanahi commented on #5948
[code]

If you have the correct pyspark/spark-nlp installed and correctly started the Spark NLP (SparkSession) the code should work. (please look at any logs/errors that indicates your SparkSession might have failed which without that you cannot access CoNLL)

https://github.com/JohnSnowLabs/spark-nlp-workshop/blob/master/tutorials/Certification_Trainings/Public/4.NERDL_Training.ipynb

[2021-11-15 11:45] drbonis opened #6466 "MultiClassifierModel to return predicted labels ordered by highest to lowest probabilities"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
A new parameter added to the Approach and Model like "setSortedByProb(true)" in case you
want the model to return the labels ordered by descending predicted probability.

**Additional context**
Could help in use cases where multiclass is desired but applying a "top n" approach instead of an

[2021-11-15 17:08] xXSnehalXx opened #6472 "TypeError: 'JavaPackage' object is not callable"
Spark NLP version:  3.3.2
Apache Spark version:  3.2.0
Java version :11.0.13
using a MacBook laptop
Installed Apache spark using command  `brew install apache-spark`

Installed Spark NLP using command `pip install spark-nlp==3.3.2`

-----------------------------------------------------------------------
### Code :

[code]
-----------------------------------------------------------------------

For

[2021-11-16 08:28] maziyarpanahi commented on #6472
Hi,

This error indicates the JAR or Maven package required for Spark NLP in SparkSession is not available. In your case, the reason is `Apache Spark version: 3.2.0` which is not supported at moment: https://github.com/JohnSnowLabs/spark-nlp#apache-spark-support

[2021-11-16 10:59] xXSnehalXx commented on #6472
Hey ,

[2021-11-16 11:32] xXSnehalXx commented on #6472
Hey ,

I have now installed Apache spark 3.1.2 , you can view the same below

[code]

I ran the program , but unfortunately still getting the error

[code]

I notice that the sparknlp.start() successfully returns a sparksesison object , im guessing sparknlp successfully loaded its configuration in the SparkSession object  , but the error is thrown after the next lines of code was executed

as a wo

[2021-11-16 12:10] maziyarpanahi commented on #6472
Thank you, the SparkSession successfully started and has Spark NLP inside if you went this far. So now we are going to look at some compatibility that is related to the system itself.

`using a MacBook laptop`, could you please tell me the following:

- exact version of macOS
- the hardware in that laptop (Intel, M1, etc.)
- Do you have Xcode command line tools installed

[2021-11-16 12:37] xXSnehalXx commented on #6472
Yes sure

MacOS Version = 11.6

Processor = 2.7 GHz Dual-Core Intel Core i5

Yes the cli tools are installed

[code]

[code]

[2021-11-16 12:42] maziyarpanahi commented on #6472
Great, thank you.

Could you please try the following:

[code]

[2021-11-16 12:58] xXSnehalXx commented on #6472
Yes sure , I had actually tried this but kept getting few errors , so I was stuck onto using spark-submit as it is , let me show you

I tried the below mentioned , but getting the same with or without `spark = sparknlp.start()`

`spark-submit --packages com.johnsnowlabs.nlp:spark-nlp_2.12:3.3.2 /Users/snehalmachan/InternshipDEEP/SparkCourse/sparkNLP/test.py`

Output

[code]

[2021-11-16 13:03] maziyarpanahi commented on #6472
OK this is actually a good error. You should remove this `spark = sparknlp.start()`, it's just no point and it won't start anything if you are using `spark-submit`

What happens here is, it first downloads the spark-nlp dependency from the Maven, and then starts downloading other dependencies from other places. For some reason (Internet, proxy, firewall, etc.) it cannot download/find this: `slf4j-

[2021-11-16 13:49] xXSnehalXx commented on #6472
Hey , in short `spark-submit` with `--packages` option worked!!

The following are what I did

I cleaned the `.m2`  in `/Users/snehalmachan/.m2/*` , yet it wouldn't work , adding to your idea , I additionally cleaned the Ivy default cache at `/Users/snehalmachan/.ivy2/*`

Next ,

As suggested I removed the `spark = sparknlp.start()` and then ran `spark-submit` with `--packages`

After all the succ

[2021-11-16 14:08] maziyarpanahi commented on #6472
Fantastic! Many thanks for sharing this, sometimes I forgot how to use spark-submit correctly with Python script. (in Scala I just package everything together)

So both sparknlp.start() inside the code and `--packages` or `--jars` are needed.

PS: The downloaded models/pipelines go to `~/cache_pretrained` directory, but you can configure that via SparkSession: https://github.com/JohnSnowLabs/spark

[2021-11-16 14:08] #6472 closed

[2021-11-19 12:33] periperi24 opened #6483 "Unable to reduce verbosity of Spark NLP Logs from program"
## Description
I am currently executing an NLP pipeline for NER prediction in my local Ubuntu system. I am executing a .py script from terminal. I want the amount of Spark Logs to be significantly lower. I want to handle the log level via code. I tried using the following code ->
spark = sparknlp.start()
spark.sparkContext.setLogLevel("ERROR")

## Expected Behavior
I understand that the initial lo

[2021-11-19 12:38] maziyarpanahi commented on #6483
Hi,
That is not a Spark nor Spark NLP log, it's TensorFlow. As of today we don't have any control over that log level, you can, however, set an environment variable `TF_CPP_MIN_LOG_LEVEL` to `3` and it won't log anything. But it has to happen outside Spark before you start Apache Spark application in the same env.

We are waiting for TensorFlow in Java to have some APIs to control the logs, but fo

[2021-11-19 12:38] #6483 closed

[2021-11-19 22:23] pratik027 opened #6486 "Missing link for lemma_antbnc in model hub"
lemma_antbnc is default model for LemmatizerModel. However It is missing from [model hub](https://nlp.johnsnowlabs.com/models?task=Lemmatization&language=en ). Could you add it in hub?
I found link for lemma_antbnc  https://nlp.johnsnowlabs.com/docs/en/models. Is it updated & good to be used with sparknlp 3.3.2?

[2021-11-20 12:22] ahmedlone127 opened #6488 "Wrong Language for XLM_ROBERTQA"
**Link to doc page in question (if any):**
https://nlp.johnsnowlabs.com/2021/09/01/sent_xlm_roberta_base_xx.html
**Name of the Spark NLP feature whose docs need improvement:**
![image](https://user-images.githubusercontent.com/66001253/142726087-941126e0-29d9-4110-9a59-f22149886349.png)

**What you think the docs should say:**
The language said 'en' which resulted in a model not found error wherea

[2021-11-20 13:29] maziyarpanahi commented on #6488
Thanks for reporting this, it should be fixed now: https://nlp.johnsnowlabs.com/2021/09/01/sent_xlm_roberta_base_xx.html

[2021-11-20 13:29] #6488 closed

[2021-11-20 13:39] maziyarpanahi commented on #6486
Thanks for reporting this, we will add it to the Models Hub. (the link you found is an old version of Models Hub, even though `lemma_antbnc` is still the same model we will add it to the official [Models Hub](https://nlp.johnsnowlabs.com/models))

[2021-11-20 15:29] maziyarpanahi commented on #684
I'll close this in favor of:
- Importing BERT models from TF Hub and HuggingFace for Word and Sentence embeddings https://github.com/JohnSnowLabs/spark-nlp/discussions/5669
- We now have BertSentenceEmbeddings annotator
- We also have SentenceEmbeddings annotator to convert any word embeddings output to sentence embeddings

[2021-11-20 15:29] #684 closed

[2021-11-21 23:03] seinecle commented on #576
I published this repo featuring lemmatization with Spark NLP using the Java language. It is used in a [web app deployed here](https://nocodefunctions.com).

[2021-11-22 09:35] #6235 closed

[2021-11-22 17:46] #2472 closed

[2021-11-22 17:46] #6432 closed

[2021-11-22 17:46] #6459 closed

[2021-11-22 17:47] maziyarpanahi commented on #6459
Fixed in Spark NLP 3.3.3 release

[2021-11-22 17:47] maziyarpanahi commented on #6432
Fixed in Spark NLP 3.3.3 release

[2021-11-22 17:47] maziyarpanahi commented on #2472
Fixed in Spark NLP 3.3.3 release

[2021-11-22 18:35] maziyarpanahi commented on #6486
Has been added to Models Hub

[2021-11-22 18:35] #6486 closed

[2021-11-23 04:22] grajee-everest opened #6506 "AttributeError: module 'sparknlp' has no attribute 'version'"
Unable to run  **sparknlp.start()**

## Description
We have a [SQLServer BDC](https://docs.microsoft.com/en-us/sql/big-data-cluster/release-notes-cumulative-update-13?view=sql-server-ver15) cluster with Apache Spark v3.12 and we would like to use sparknlp with pyspark. The cluster has locally attached HDFS file system to which we download and copy the libraries since the cluster does not have outb

[2021-11-23 07:02] Aditi00a opened #6507 "Thresholding for embeddings -BERT"
**Is your feature request related to a problem? Please describe.**
I have an NER pipeline where I am retraining using custom labels. Prior to this using BERT EMBEDDINGS
`
embeddings = BertEmbeddings.pretrained("bert_base_cased", 'en'). \
            setInputCols(["sentence", 'token']). \
            setOutputCol("embeddings")

loaded_ner_model = NerDLModel.load(model_file) \
        .setInputCols(

[2021-11-23 08:14] maziyarpanahi commented on #6507
Hi,

The NerDL (NerDLModel - NerDLApproach) is a multi-label token classification. That's being said, by threshold you mean if the confidence score is not above a certain point (set by user) it should not return anything as a label? (or return `O` or return a label also set by the user?)

The reason I am asking is that the confidence score is turned off by default to optimize the speed. (less info

[2021-11-23 08:18] Aditi00a commented on #6507
yes, this is my requirement - if the confidence score is not above a certain point (set by user) it should not return anything as a label? (or return O or return a label also set by the user?)

so, after setting setIncludeConfidence in NerDLModel as True, can i set that "certain point" in the pipeline ?

[2021-11-23 08:29] maziyarpanahi commented on #6506
Hi,

The way to use Spark NLP in a cluster especially a PySpark cluster is as follow:

- You need to have PyPI package of Spark NLP
- You must have Maven package / of Fat JAR of Spark NLP in SparkSession

A few notes:

- You must install `spark-nlp` PyPI package on **all the executors**. (in the same Python Env that your cluster is set up for Apache Spark) - I've never tried `sc.addFile` as an alt

[2021-11-23 08:31] maziyarpanahi commented on #6507
Yes, if you set `setIncludeConfidence` to True for each prediction inside the .metadata you can see the score. I suggest having a look there to get a better idea of the scores and then we can come back to see if having `threshold` can help here.

[2021-11-23 19:08] grajee-everest commented on #6506
The tool that we use is Azure Data Studio and it gives you an interface to code in SparkR/Scala/Pyspark
![image](https://user-images.githubusercontent.com/66425640/143050597-9a6cd6c5-2d1f-47c8-829f-bb16e63702db.png)

When I open a new notebook, choose Pyspark as kernel and select the cluster in "Attach to" a session is automatically created when I execute the code in the first cell. A session name

[2021-11-23 19:39] maziyarpanahi commented on #6506
Thanks for the information, it's pretty similar to Databricks where you create the cluster beforehand and then attach different notebooks to that cluster. It must have a place where you can add Maven coordinates which will include those third-party packages inside SparkSession when the cluster starts. (all the managed clusters like Databricks, EMR, Cloudera, etc. have this feature for external/thi

[2021-11-23 19:49] grajee-everest commented on #6506
Could you be referring to what is in this link?

**https://docs.microsoft.com/en-us/sql/big-data-cluster/spark-install-packages?view=sql-server-ver15**

Since the jar file, **_hdfs://modules/jar/spark-nlp/spark-nlp-assembly-3.3.3.jar_**,  is local in my case, what would it be?

![image](https://user-images.githubusercontent.com/66425640/143092859-b737d00a-2758-47fe-a434-17a46f719a0a.png)

[2021-11-23 19:52] maziyarpanahi commented on #6506
Yes, it's like Apache Zeppelin:

[code]

But please beware of this part exactly like Apache Zeppelin:

Even though you attached the cluster, before you run any block this must be at the very beginning and be executed as the very first thing in that notebook

[2021-11-23 22:00] grajee-everest commented on #6506
When I set the **CONFIG** setting in the first cell and run the **addFile line - sc.addFile('hdfs:///modules/python/sparknlp/',True)** in the second cell I get the below error .

How would the system know the jar file that I uploaded in the green rectangle? The sparknlp libraries are in the red rectangle. Note that the system **does not have** outbound **internet** access and it seems to be lookin

[2021-11-24 14:44] periperi24 commented on #40
Any updates here?

[2021-11-24 14:57] grajee-everest commented on #6506
I reviewed the documentation for offline and I got it right with %%CONFIG
`%%configure -f \
{"conf": {"spark.jars": "hdfs:///modules/jar/spark-nlp/spark-nlp-assembly-3.3.3.jar"}}`

**but I'm still seeing the error when I run**
`print("Spark NLP version: ", sparknlp.version())`

**Is addFile the right way to bring in the library:**
`sc.addFile('hdfs:///modules/python/sparknlp/',True)`

![image](htt

[2021-11-24 15:36] grajee-everest commented on #6506
Is there a different way to download files for offline use? Here is a screenshot of how I'm doing it. Once downloaded, I merely copy the **sparknlp folder** it to the HDFS location - **hdfs://modules/python/sparknlp/** and eventually use **sc.addFile** in the code

![image](https://user-images.githubusercontent.com/66425640/143267743-e7a7f84a-edc5-4651-8725-5f31b6a34b5e.png)

[2021-11-24 15:53] maziyarpanahi commented on #6506
I am sorry I’ve never used add file to install a PyPI package on a cluster. Please have a look there must be a simple way like you did with packages or jars at the beginning to install the Python package on all the machines.

At this point I guess there is a standard way which we recommend and almost all the environments support and there must be other ways which can be specific to the environment

[2021-11-24 15:53] #6506 closed

[2021-11-25 05:36] C-K-Loan opened #6512 "`DistilBertForSequenceClassification` not loadable because of bad `name` class attribute in Python"
## Description
`DistilBertForSequenceClassification` not loadable because of bad `name` class attribute

try the following code snippet, all will fail :
See https://colab.research.google.com/drive/1QhQzO7Zb0PckjRTQ8tKKiTWhd2B4wkP5?usp=sharing for cached outputs.
All basically throw `: java.lang.ClassCastException: class com.johnsnowlabs.nlp.annotators.classifier.dl.DistilBertForSequenceClassificat

[2021-11-25 10:46] maziyarpanahi commented on #6512
Thanks @C-K-Loan for reporting this. Indeed it's a bug and only happens in Python. There is a PR opened for it and will be fixed in 3.3.4 patch release

[2021-11-25 14:47] #6512 closed

[2021-11-25 14:57] maziyarpanahi commented on #6466
THanks @drbonis

I think sort by score and topN would be nice features

[2021-11-26 14:53] periperi24 commented on #6407
I have a follow-up question on this. I have now started the spark session on a server and  I have also created the pipeline.
When I post single requests to it, I am able to get a response. However when I try multiple requests at the same time it fails.
**Is this set up scalable to multiple users at all?** Can I set this up on a public website for multiple users to use? Or does Spark session starte

[2021-11-26 16:09] maziyarpanahi commented on #6407
I think it's the architecture of your own application. You have to design your middle-ware in a way to not be sequential which depends on your framework. (if you use Streamlit for instance, you can have thousands of people sending requests to the same live session you have created at the same time because they do separate each request/thread/etc.)

It's up to what you are using to do this isolatio

[2021-11-27 23:29] grajee-everest opened #6522 "Correct process to download and install libraries offline"
What is the correct way to download the sparknlp library for offline installation/deployment?

We have a SQLServer Big Data Cluster based on Kubernetes. Unlike Databricks, there is no library management feature and because of this we have to manually download the libraries, copy them to the hdfs location and include them in pyspark using sc.addFile.

So, the command I used to download sparknlp is

[2021-11-28 00:39] grajee-everest commented on #6522
I got it working in Azure Databricks in a breeze without any effort at all.  In the SQLServer BDC, I had to download the package from pypi and the FAT JAR.

But from the UI of Databricks, I just chose pypi and it downloaded the libraries and was enough for me to get sparknlp working. Does this mean that the JAR files are not needed for Databricks?

![image](https://user-images.githubusercontent.co

[2021-11-28 09:41] maziyarpanahi commented on #6522
Hi,

We have very clear step by step instructions for everything you asked:

- Databricks (you need both PyPI and Maven, the Python is just APIs, you always need the Maven package or the Fat JAR as it’s the core library): https://github.com/JohnSnowLabs/spark-nlp#databricks-cluster
- Total offline install setup: well this one is easy, you download the Whl file from pypi.org and install the PyPI pa

[2021-11-28 09:41] #6522 closed

[2021-11-29 07:42] mwunderlich opened #6524 "Import error in 3.3.4 (Python 3.9): ModuleNotFoundError: No module named 'com.johnsnowlabs'"
## Description
When trying to use the Python version of SparkNLP, I am suddenly getting this error when using `import sparknlp`:
`ModuleNotFoundError: No module named 'com.johnsnowlabs'`

## Expected Behavior
There should be no error.

## Current Behavior
Instead, I get this error: `ModuleNotFoundError: No module named 'com.johnsnowlabs'`

## Steps to Reproduce
1. Create a new venv for Python 3.9

[2021-11-29 09:05] maziyarpanahi commented on #6524
Unfortunately, you have everything that is not supported at this moment:

- Spark/PySpark 3.2.x is not supported: https://github.com/JohnSnowLabs/spark-nlp#apache-spark-support
- Python 3.9 is not supported: https://github.com/JohnSnowLabs/spark-nlp#scala-and-python-support
- M1 is not working with TF: https://github.com/JohnSnowLabs/spark-nlp/discussions/2282

[2021-11-29 09:12] #576 closed

[2021-11-29 09:25] mwunderlich commented on #6524
Thanks a lot @maziyarpanahi for the quick response.
Strangely enough, I haven't had any SparkNLP issues before with the same setup. It only popped up last week. However, I did run into issues before with TF on M1 and had to switch from Anaconda to Miniforge as a result. So, I will try to verify that I am still on Miniforge and try to downgrade PySpark and Python.

[2021-11-29 09:27] maziyarpanahi commented on #6524
Thanks for your update, then I would say the first usual suspect is pyspark==3.2.x which you can downgrade to pyspark==3.1.2 to see what happens. Then if it's the same you can go with Python 3.9 to 3.8.x.

If you manage to successfully use spark-nlp and its TF annotators on M1, it would be great if you can share how in this discussion (unfortunately, I don't have a M1 around so I could never reall

[2021-11-29 11:31] mwunderlich commented on #6524
I have tried to downgrade pyspark to 3.1.2, but this didn't work. Then, I create a new conda environment with Python 3.8, sparknlp 3.3.4 and pyspark 3.1.2. But even in this brandnew conda environment I am getting the error `ModuleNotFoundError: No module named 'com.johnsnowlabs'`.

[2021-11-29 11:34] maziyarpanahi commented on #6524
That's really strange, apart from what works or not, the simple `import sparknlp` is just whether or not you have `pip install spark-nlp` in your Python environment:

![image](https://user-images.githubusercontent.com/5762953/143860802-f98c9337-5798-4133-ab1b-4f1662a8aea6.png)

So this should really work at least for the import:

[code]

[2021-11-29 13:26] mwunderlich commented on #6524
Thanks a lot, @maziyarpanahi . Strange indeed. I'll keep digging around a bit more.

[2021-11-30 05:49] jerrychenhf opened #6535 "Bad performance when running Bert-Large embedding with cluster mode"
## Description
When running Spark NLP on cluster mode (YARN) with single executor running on all the CPU cores (96 vcores) using CoNLL 2003 dataset, the time it takes is much longer than it runs on the local mode running on all the CPU cores. cluster mode takes more than 590 seconds but local mode takes around 350 seconds. We used the test code from BertEmbeddingsTestSpec.scala and change the mode

[2021-11-30 05:55] jerrychenhf commented on #6535
Using small_bert_L2_128_en in the test spec doesn't cause the performance problem because the model size for small_bert_L2_128_en is several mega bytes. While the bert large model has a 1.25GB size of variable which is fundamental different in model size to write.

Configure more executors instead of 1 single executor can mitigate the performance impact. It seems that OS is dealing a little differ

[2021-11-30 11:24] maziyarpanahi commented on #6535
Thanks @jerrychenhf

Locally when the model is loaded (.pretrained() or .load()) the TF model is also loaded. Therefore, `getTFHubSession` function will always meet `if (m_session == null)` and reuse the same session from the already loaded model. (as you correctly observed)

In a cluster, however, each executor must have a live model loaded, if they have it then they meet `if (m_session == null)`

[2021-11-30 23:53] jerrychenhf commented on #6535
Thanks @maziyarpanahi for checking into this.

We noticed that within an Executor, the TensorflowWrapper object is the same object (since it is a broadcast value of the same model). So we simply add "this.synchronized" on the getTFHubSession method, like following:

def getTFHubSession(configProtoBytes: Option[Array[Byte]] = None,
                      initAllTables: Boolean = true,

[2021-12-01 08:09] programmeddeath1 opened #6539 "identify intent model classifierdl_use_snips fails with 'JavaPackage' object is not callable"
## Description

The live demo for intent classification (https://demo.johnsnowlabs.com/public/NER_CLS_SNIPS/) shows that classifier model
classifierdl_use_snips used for classification of intent. But when I add the model to the NER colab on running
[code]
as shown in the how to use sample code, it fails with
[code]
## Expected Behavior
It should load the model and process the text for classificati

[2021-12-01 08:20] maziyarpanahi commented on #6539
Hi @programmeddeath1

- In your Google Colab and the Model's card for `classifierdl_use_snips` is being used wrongly (hence your error). It must be used as `ClassifierDLModel.pretrained('classifierdl_use_snips')`. It is missing a `.pretrained(NAME, LANG)`

@josejuanmartinez Could you please assign a member to
- fix the missing `.pretrained()` in both Python and Scala on the Model's card (https://n

[2021-12-01 09:26] josejuanmartinez commented on #6539
@maziyarpanahi  on it!

[2021-12-01 13:21] murat-gunay commented on #6539
@maziyarpanahi @josejuanmartinez
I fixed this issue by [this PR](https://github.com/JohnSnowLabs/spark-nlp/pull/6542).

[2021-12-01 14:03] maziyarpanahi commented on #6535
Thanks @jerrychenhf

We will debug this and get back to you. I have changed the title to reflect the issue more clearly, this won't impact the performance of the actual model rather the loading/readiness of that model. Obviously, it takes longer for the model/session to become available before inferencing if it has to be kept written on disk and loaded back especially when the local and cluster ar

[2021-12-01 19:03] #6539 closed

[2021-12-04 16:47] ghnp5 opened #6563 "TypeError: 'JavaPackage' object is not callable"
Hi,

I'm trying to test this project, for language detection, but I'm stuck with an error.
I'm following some tutorials, and also looked at the Issues that other people reported for the same error, but I'm not understanding what I'm missing here.

I have this Dockerfile installing **Java 8, spark-nlp==3.3.4, pyspark==3.1.2**

[code]

Then in the jupyter, I'm trying to run the following:

[code]

B

[2021-12-04 16:54] maziyarpanahi commented on #6563
`TypeError: 'JavaPackage' object is not callable` means the Maven or JAR of Spark NLP is not inside SparkSession. You are using `spark = sparknlp.start()` to start SparkSession which automatically will include this in the session. Two things can happen here to see this error:

- The SparkSession already exists. So `sparknlp.start()` won't do anything and therefore it won't have Spark NLP. Solution

[2021-12-04 17:05] ghnp5 commented on #6563
Thank you.

If I remove `spark = sparknlp.start()`, I get:

Which is what I was getting initially, and then I found I had to initialize a session.

Heh... apparently restarting the Docker container resolved this..

Running multiple times also seems to work fine (I was expecting it would fail, due to the session/spark variable already existing, based on your first point above).

What I'm seeing now

[2021-12-04 17:09] ghnp5 commented on #6563
It only hangs when it's not downloaded yet (or maybe when it initializes the session).

Wow - I'm trying multiple short sentences, and this is REALLY pretty accurate!

Well done!
Thank you very much for this!

[2021-12-04 17:36] ghnp5 opened #6565 "Model downloading every time & errors initializing session and downloading model"
I read somewhere that this project doesn't download the model every time, on the same machine.
I'm running this on a Docker container ([my Dockerfile is here](https://github.com/JohnSnowLabs/spark-nlp/issues/6563)), but while it's running (without rebuilding or restarting or anything), it appears to me it's downloading multiple times, especially if I restart `python3`, and I'm also getting errors

[2021-12-04 19:13] nunoperalta commented on #6232
wow.. this also resolved this same crash.

How did you know you had to do this? :)

[2021-12-04 19:14] ghnp5 commented on #6232
wow.. this also resolved this same crash.

How did you know you had to do this? :)

[2021-12-04 19:23] ghnp5 commented on #6563
The reason it hangs is apparently because when the session is initialized, there's always downloads being done:

(and the model seems to be always downloaded too, every time)

[2021-12-05 10:32] maziyarpanahi commented on #6565
- This `UnicodeEncodeError` error is your Python bash environment, we use some `ascii` characters to show the loading progress bar so your terminal/bash doesn't support that. (it's not really a big deal as you observed, it's just an environment error and you may be able to Google it "how to set PYTHONIOENCODING in your terminal")

- Spark NLP never downloads a model/pipeline twice. It downloads ev

[2021-12-05 10:32] #6565 closed

[2021-12-05 10:38] maziyarpanahi commented on #6563
- Glad your issue is resolved with the session. (it's usually a network issue in Docker when it cannot download dependencies during `sparknlp.start()`.
- You will always see those messages regarding downloading dependencies or downloading models/pipelines. But they don't actually download anything if it already exists. For dependencies it will take them from ` /home/spark/.ivy2/cache` and for mode

[2021-12-05 10:38] #6563 closed

[2021-12-06 07:04] kaismh commented on #4322
@maziyarpanahi is spark nlp CV on the roadmap or any workarounds to use Spark ML CV

[2021-12-06 11:34] IsraelAbebe opened #6568 "java.lang.NoSuchMethodError spark nlp jsl"
While trying to create
[code]

I got the following error

[code]

and

[code]

gives

[code]

installation of spark is as following

[code]

[2021-12-06 17:56] maziyarpanahi commented on #6568
Hi,

Unfortunately, we don't have any way to test anything that is licensed (even if it's related to open source). You can use direct email or Slack (#healthcare channel) for your questions regarding licensed products. (they are very quick and sort this out for you immediately via those channels)

[2021-12-06 17:56] #6568 closed

[2021-12-06 17:59] maziyarpanahi commented on #6507
Hi,

1. it will already predict the label with the highest confidence score
2. no, it's already predicted when it comes out of the TensorFlow, we only see the label and its score. If you wish to filter some predictions out you can manually to those manipulations via a UDF.

[2021-12-06 17:59] #6507 closed

[2021-12-06 18:26] karthikavarmar opened #6576 "License already in use"
When I re-ran a demo notebook or is trying to run another demo pipeline of spark Healthcare, it throws error as below :

An error occurred while calling z:com.johnsnowlabs.nlp.pretrained.InternalsPythonResourceDownloader.downloadModel.
: com.johnsnowlabs.license.exceptions.JslInvalidLicenseException: Cannot check-in the license or license already in use.

![Screenshot (387)](https://user-images.gi

[2021-12-06 18:35] maziyarpanahi commented on #6576
Hi,

Unfortunately, we don't have any way to test anything that is licensed (even if it's related to open source). You can use direct email or Slack (#healthcare channel) for your questions regarding licensed products. (they are very quick and sort this out for you immediately via those channels)

[2021-12-06 18:35] #6576 closed

[2021-12-07 19:12] maziyarpanahi commented on #6535
@jerrychenhf

Thanks for reporting this, we were able to reproduce this on Databricks. This racing condition over the threads happens in the Driver when there is an executor (a cluster mode) and it happens as many times as the available cores.

My observations:

- It will be only noticeable if the job is short, the 10-20 seconds extra is not noticeable when the whole job takes minutes or hours.
-

[2021-12-15 12:15] galiph opened #6614 "General HCC Model"

[2021-12-15 12:16] #6614 closed

[2021-12-16 15:59] domixr opened #6634 "Universal Sentence Encoder Offline - Java"
Hi to everybody,

I'm trying to use **UniversalSentenceEncoder** in Java. I've started looking the documentation at [https://nlp.johnsnowlabs.com/2020/04/17/tfhub_use.html](url) and adapting the code in Java, I saw that I can use `UniversalSentenceEncoder use = UniversalSentenceEncoder.pretrained()` to download on the fly a pretrained model. The problem is that I don't want download the model on t

[2021-12-20 11:39] muhammetsnts commented on #2738
@maziyarpanahi this issue is still open and we've tested these models, they are still broken. As you said, @josejuanmartinez can assign someone from modelshub team.

[2021-12-20 14:12] maziyarpanahi commented on #2738
Thanks @muhammetsnts

These pipelines need to be re-do/re-uploaded by using Apache Spark 3.x. Some models/pipelines need two copies one for spark 2.x and one for soark 3.x.

So these work in Spark 2.x but the 3.x are missing. Please assign a member to save and upload these pipelines with the same version/metadata but on spark 3.x this time.

[2021-12-21 11:01] nviraj commented on #40
Hi,
Would love to see this!

If it helps, the use case we have in mind is to create a Shiny dashboard which would load up a Spark-NLP artifact for predictions instead of using a spark connection every time we need to generate a prediction.

Thanks in advance!.

[2021-12-21 11:08] maziyarpanahi commented on #40
In order to make MLeap work out of the box, we need to register those custom transformers inside MLeap. (like they have for most Spark ML functions - not all!). I am not sure this is something that can be done since they have only done this for some ML/DL libraries. (if they open up external contributions to third-party custom transformers we can spend time to see what we can do, until then unfort

[2021-12-29 08:21] headlessButSmart opened #6679 "Making RecursiveTokenizerModel ParamsAndFeaturesReadable"
## Description

I believe RecursiveTokenizerModel is ParamsAndFeaturesWritable but not ParamsAndFeaturesReadable. When you save a pipeline with a RecursiveTokenizer, loading this pipeline using PipelineModel.load() fails.

## Expected Behavior

It should be possible to save & load a Pipeline with RecursiveTokenizer without workarounds.

## Current Behavior

PipelineModel.load() results in followin

[2022-01-04 17:15] domixr commented on #6634
Hi @maziyarpanahi,

Thanks for your reply. The solution was downloading the model from `https://nlp.johnsnowlabs.com/models` as suggested in the link reported by you.

Thank you.

[2022-01-04 17:15] #6634 closed

[2022-01-05 13:24] #6327 closed, assigned to maziyarpanahi

[2022-01-08 10:47] maziyarpanahi commented on #34
There is amazing support for Spark NLP on R, so I am closing this feature request in favour of: https://github.com/r-spark/sparknlp 🚀

[2022-01-08 10:47] #34 closed

[2022-01-08 17:29] maziyarpanahi commented on #6679
![](https://github.trello.services/images/mini-trello-icon.png) [RecursiveTokenizerModel](https://trello.com/c/LFFyrsz4/499-recursivetokenizermodel)

[2022-01-14 23:46] katelynrwalker opened #6772 "Error importing pretrained embedding models in Databricks runtime 10.x"
## Description

When I try to load a pretrained embedding model from spark-nlp 3.4.0 in Databricks runtimes 10.xML, I get the error: NoClassDefFoundError: org/json4s/package$MappingException
Caused by: ClassNotFoundException: org.json4s.package$MappingException

If I load the pretrained model in runtime 9.1ML, there are no problems.

## Expected Behavior
Pretrained model should load.

## Current B

[2022-01-15 08:13] maziyarpanahi commented on #6772
Hi,

Everything looks fine except the Maven package name which should match your Spark/PySpark version:

- https://github.com/JohnSnowLabs/spark-nlp#packages-cheatsheet (by default “spark-nlp” is based on Spark 3.0/3.1, you are using Spark 3.2 so you need “spark-nlp-spark32” package from Maven for Runtime 10.x
- Just in case: https://github.com/JohnSnowLabs/spark-nlp#databricks-cluster

[2022-01-15 08:13] #6772 closed

[2022-01-18 17:06] katelynrwalker commented on #6772
Thank you! That fixed it. It might be helpful to clarify the documentation in your second link (and also https://nlp.johnsnowlabs.com/docs/en/install) to indicate the need for a different Maven package in Spark 3.2 / Databricks 10.x. The johnsnowlabs website doesn't include the NOTE, and even if it did, I probably would have assumed that 3.x included 3.2. Thanks!

[2022-01-18 18:31] maziyarpanahi commented on #6772
That’s a good idea, I will leave a note under to emphasize “different runtimes have different Spark so please check the table for the right package name”.

[2022-01-21 18:49] chengyineng38 opened #6805 "Loading Pretrained Pipeline breaks with Databricks 10.2 ML, but works with 9.1 ML"
## Description
Loading Pretrained Pipeline breaks with Databricks Runtime 10.2ML, but works with 9.1 ML, while keeping the dependency versions the same:

spark-nlp==3.4.0
com.johnsnowlabs.nlp:spark-nlp_2.12:3.4.0

and including the below in Spark configurations
[code]

Code that breaks:
[code]

## Expected Behavior
It should return

[code]

## Current Behavior
Error:
[code]

Attaching the complete

[2022-01-21 19:41] maziyarpanahi commented on #6805
Please pay attention to the NOTE at the end: https://github.com/JohnSnowLabs/spark-nlp#databricks-cluster

Runtime 9.x has a different spark/pyspark than Runtime 10.x, you need the right Maven package for each runtime.

[2022-01-21 19:41] #6805 closed

[2022-01-21 21:02] chengyineng38 commented on #6805
@maziyarpanahi Thanks, I missed out on the 3.1 vs 3.2 distinction!

<img width="526" alt="Screen Shot 2022-01-21 at 3 02 25 PM" src="https://user-images.githubusercontent.com/59850826/150599709-624c6e08-3ee6-4336-89b2-8929f6d3479e.png">

[2022-01-25 11:21] JoaoBone opened #6813 "Python Custom Annotator support for Lightpipelines"
**Is your feature request related to a problem? Please describe.**
_We are attempting to add Python Custom Annotators inside of our Lightpipelines so we can tweak some of the outputs of the models to serve as inputs for other models. The inability to do so has been restricting the flexibility Lightpipelines can offer us, when compared to the regular ones._

**Describe the solution you'd like**
_Be

[2022-01-25 11:23] maziyarpanahi commented on #6813
Thanks @JoaoBone for the feature request. Could you please leave a full code (pipeline) that is reproducible on our side so we can asses this feature request? (could a simple Google Colab that runs end-to-end with minimum data/features to just represent the issue)

[2022-01-25 12:10] JoaoBone commented on #6813
Of course Maziyar.

Here follows some sample code with results for both scenarios (using Pipeline **vs** Lightpipeline):

[code]

Here are the 2 scenarios I mentioned:

**1. Using pipeline directly**

[code]

Output:

![image](https://user-images.githubusercontent.com/86052328/150974195-b4f77989-eade-41b9-ada8-34dc997f07dd.png)

**2. Creating a lightpipeline to annotate**

[code]

Output:

-------

[2022-01-25 12:14] maziyarpanahi commented on #6813
Thanks @JoaoBone - this is a great example to reproduce the issue. We'll work on this to see if it's possible to allow a custom annotator when LightPipeline is being used. (by allowing I mean programmatically possible to have unregistered annotator in LightPipeline without previously defined in the code base)

[2022-01-25 12:16] maziyarpanahi commented on #6813
![](https://github.trello.services/images/mini-trello-icon.png) [Custom Annotator support for Lightpipelines](https://trello.com/c/5kKfwXkk/518-custom-annotator-support-for-lightpipelines)

[2022-01-26 00:13] Dirkster99 opened #6821 "Getting an error when using Spark NLP with GPU support in CoLab"
I am trying to do a `MultiClassifierDLApproach` to train a Multi-Label Multi-Class model but it seems to always end in an error when I try to use the GPU in the public Google CoLab environment. I am using the following setting
![Untitled](https://user-images.githubusercontent.com/2129700/151079816-577c25a5-f6a1-44bb-b1d2-37fee8b055e6.png)

with the attached notebook:
[40_Training.zip](https://gith

[2022-01-26 10:54] maziyarpanahi commented on #6821
Hi,

I tried to make it as similar as possible with GPU on Colab and same parameters for training, it worked without any issue: https://colab.research.google.com/drive/1SdP2DgWC4TWOsRL9wne3vd8GUd3MDcno?usp=sharing

The error indicates the SparkSession was killed and normally it's due to either excessive memory use or something different. - Colab has more memory on CPU than GPU
- Every time you use

[2022-01-26 13:38] Dirkster99 commented on #6821
You seem to be right about the memory issue :-(

I found an alternative German specific model (https://nlp.johnsnowlabs.com/2021/09/15/sent_bert_base_cased_de.html) which I must have missed yesterday :-( anyways, since this is 300 Mb versus 1.7 Gb it runs through with a top limit file containing only the top 1000 entries. I'd like to do further tests but thats not an option right now since I canno

[2022-01-26 17:10] akashindani opened #6827 "The output for token assembler cannot be used input to BertSentenceEmbeddings"
## Description

I am trying to use a sentence detector followed by a tokenizer and tokenNormalizer for removing some unwanted characters from sentences. After that, I am using tokenassembler to form back the sentences followed by BErtsentenceEmbedding to get the embeddings of those sentences. But the issue is here BErtsentenceEmbedding is not taking each sentence as input but creating embedding fo

[2022-01-28 19:40] Dirkster99 commented on #6821
OK, I got it finally to work for the complete dataset with the smaller German pre-trained model (after 1 trial that error'ed out after 2 hours and 1 trial that worked with 25 % of the total 225 K rows). But there seems to be an awful issue here, because I've seen this spike in memory usage which had appeared after the computation (about 4 hours) and probably during the saving of the models :-( Tha

[2022-01-29 10:37] dsvrsecc opened #6831 "Saving the sparknlp models in Tensorflow or keras format"
Is it possible to save the sparknlp models in Tensorflow or keras format so that they can be further pruned or qunatized for better performance

[2022-01-29 10:40] maziyarpanahi commented on #6831
Hi,
No, the saved models are Spark/Spark NLP format and the purpose of them is to be used in the same library and not to be universal. (not that we didn't want to, it is not possible with so many libraries staked together to do such a thing)

[2022-01-29 10:40] #6831 closed

[2022-01-29 14:36] dsvrsecc commented on #6831
Thanks for the response.
In that case,is there any way to do quantization or pruning of developed spark NLP models

[2022-01-29 15:40] maziyarpanahi commented on #6831
Models that are imported via HuggingFace or TF Hub you can do that before and then reimport them: https://github.com/JohnSnowLabs/spark-nlp/discussions/5669

The rest we developed are no where near those giants language models to be worth quantizing. (But anything has to happen before and outside before being imported, pretrained models and existing saved modela in Spark NLP cannot be used in Tena

[2022-01-29 16:09] dsvrsecc opened #6832 "Parameters that can be tuned for BertEmbeddings component"
Hi,

In this blog 'https://towardsdatascience.com/named-entity-recognition-ner-with-bert-in-spark-nlp-874df20d1d77' ,there is a parameter 'setPoolingLayer' ,but in the latest version,I couldn't define this parameter as it is not available and I couldn't find about it in the documentation section as well. In this case,what is the default value of pooling layer of bert that is set.

[2022-01-29 16:48] maziyarpanahi commented on #6832
Hi,

none of those language models are trainable nor can be fine tuned just in case. There posts which are old so lots of things have changed or deprecated. We have a very complete documentation for everything that you can look to see how to use the new releases: https://nlp.johnsnowlabs.com/docs/en/quickstart

as it is mentioned in the docs (importing transformers, it is the last hidden layer)

[2022-01-29 16:48] #6832 closed

[2022-02-01 20:50] maziyarpanahi commented on #6827
Hi,

I know this issue but I forgot which version it was resolved. However, the latest 3.4.0 should work as is expected:
demo https://colab.research.google.com/drive/1HSXPqksffuYjDrNzvta546EHME2xd-iE?usp=sharing

[2022-02-01 20:50] #6827 closed

[2022-02-03 17:21] Cabir40 opened #6850 "Training Classifiers model with SentenceEmbeddings Performance issue after sparknlp v3.3.2 (BertEmbeddings doesn't respect previous sentence IDs)"
## Description

We are trying to run the training classification model with bert embeddings section in [this notebook](https://github.com/JohnSnowLabs/spark-nlp-workshop/blob/master/tutorials/Certification_Trainings/Public/5.Text_Classification_with_ClassifierDL.ipynb)

Although we tried all the embeddings below and played with the parameters, we couldn't improve the accuracy over 0.35 in these ve

[2022-02-03 17:46] maziyarpanahi commented on #6850
It's really hard to give any recommendations without having any idea what the dataset is about. (how many classes, how balanced the classes are, what is the nature/domain of the context, etc.)

When the result is that bad, there is something wrong with the dataset or the way it is used in the pipeline. (the model itself is fine so no need to test across different releases).

I would do the followi

[2022-02-03 22:02] maziyarpanahi commented on #6850
@Cabir40 I just saw you mentioned it worked good in earlier versions and not in the latest ones. So I debugged this further, it turns out at some point `SentenceEmbeddings` returns mostly empty embeddings hence the terrible accuracy!

@danilojsl this issue was introduced when we fixed another issue here: https://github.com/JohnSnowLabs/spark-nlp/blob/f0ae084abffddcc1bef6e7eab86755cade3cf000/src/ma

[2022-02-03 22:05] maziyarpanahi commented on #6850
![](https://github.trello.services/images/mini-trello-icon.png) [SentenceEmbeddings return empty embeddings after last fix (concatenation in Python)](https://trello.com/c/FKfUKyCu/523-sentenceembeddings-return-empty-embeddings-after-last-fix-concatenation-in-python)

[2022-02-04 14:11] ericbugin opened #6863 "Error downloading pretrained models"
Hello, wondering if someone has seen this error before. Spark NLP used to work locally for me no problem, then suddenly started getting this error when trying to download BERT models. My code works fine in production in EMR and GCP, so my local env must not be correct, specifically for tensorflow models being used by Spark NLP. Spark NLP/Spark works totally fine for all other operations and pretra

[2022-02-04 14:14] maziyarpanahi commented on #6863
Hi,

It is possible that the previously downloaded model(s) has been corrupted. Could you please remove everything inside this directory, exist your Spark application and try again?

[code]

[2022-02-04 14:20] ericbugin commented on #6863
@maziyarpanahi thanks for the quick fix! that seemed to do the trick. much appreciated

[2022-02-04 14:23] maziyarpanahi commented on #6863
You are welcome @ericbugin

There are some functions you can use internally in Python, like `clearCache` which will remove everything downloaded for you as well: https://nlp.johnsnowlabs.com/api/com/johnsnowlabs/nlp/pretrained/PythonResourceDownloader$.html

[2022-02-04 14:23] #6863 closed

[2022-02-04 14:24] maziyarpanahi commented on #6863
[code]

[2022-02-04 14:32] ericbugin commented on #6863
Super helpful. thanks again!

[2022-02-04 15:13] maziyarpanahi commented on #6850
This is actually a bug inside `BertEmbeddings` which overrides the sentence ids from 0 to batchSize. Will be fix in the next release

[2022-02-04 15:24] maziyarpanahi commented on #6850
![](https://github.trello.services/images/mini-trello-icon.png) [BertEmbeddings overrides sentenceIndex from 0 to batchSize](https://trello.com/c/FKfUKyCu/523-bertembeddings-overrides-sentenceindex-from-0-to-batchsize)

[2022-02-04 17:43] desis123 opened #6866 "How to load own models in spark nlp server"
I am pretty new to ML and all this stuff. So it might sound dumb question. I have successfully installed the spark NLP server on my centos 8 OS.   Everything is working as expected.

My question on sparknlp server how I can load my own model and use it through OPENAPI comes sparknlp server ?

[2022-02-04 18:13] maziyarpanahi commented on #6866
Hi @desis123

It's actually a very good question. However, we are not that versed in other libraries using Spark NLP a dependency. The best place for this question can be on our Slack under `nlp-server` channel. (you can easily chat with the people who are developing it)

https://www.johnsnowlabs.com/slack-redirect/

[2022-02-04 20:16] C-K-Loan commented on #6866
Hi @desis123
currently, there is no support yet for custom models for the NLP server, but it's on the roadmap and should be available in 1-2 releases, ~ 1 month

[2022-02-05 23:29] Ahmetemintek opened #6869 "setExceptionsPath() parameter of Tokenizer"
**Link to doc page in question (if any):**
https://nlp.johnsnowlabs.com/api/python/reference/autosummary/sparknlp.annotator.Tokenizer.html?highlight=tokenizer#sparknlp.annotator.Tokenizer

**Name of the Spark NLP feature whose docs need improvement:**
There is no explanation for Tokenizer's  `exceptionsPath` parameter in python API

I wanted to specify some phrases that are not supposed to be spli

[2022-02-08 11:42] shulpeca opened #6877 "Spanish Lemmatizer"
## Description

When I use Spanish lemmatizer, there are some nouns that don't erase the final 's' to convert to proper form.
For example noun "envolvedoras" the lemma is "envolvedora" but the lemmatizer don't erase the last 's'. Otherwise, noun 'meses' is fine as the lemma is 'mes'.

## Expected Behavior

**Value** ----------- **Lemma** ----------- **Pos**
envolvedora -------- envolvedora -------

[2022-02-08 13:09] maziyarpanahi commented on #6877
Hi,

I'll see if we can find another dataset to train a Lemmatizer for the Spanish language that is more accurate, but I am afraid there is no Lemmatizer that is 100% accurate. In any case, if there are some known tokens that are not transforming to the correct lemma form, you can use Normalizer + SlangDict which takes all tokens like `bioestimulantes` and converts them to `bioestimulante` and so

[2022-02-08 15:28] chengyineng38 opened #6880 "functional API in SparkNLP?"
Is it possible to have 2 input layers and concatenate them both in SparkNLP, just as tf.keras functional API? There doesn't seem to be documentation on this. The use case is to pass 2 different text columns into a classifier.

[2022-02-08 15:33] #6880 closed, assigned to maziyarpanahi

[2022-02-08 15:35] chengyineng38 commented on #6880
Thank you!

[2022-02-08 16:49] #6679 closed

[2022-02-08 16:49] #6850 closed

[2022-02-08 16:49] #6869 closed

[2022-02-09 00:17] dyue commented on #6205
Is the issue fixable?

[2022-02-09 05:48] maziyarpanahi commented on #6205
Unfortunately not at the moment. Some models are not possible to have multiple instances in a pipeline. For multiple columns instead of replicated annotators/models, you can either explode columns to rows with identifiers to be identified later (like column names) or splitting each column to a new DataFrame, transform each and then union them all.

[2022-02-09 05:48] #6205 closed

[2022-02-09 12:08] shulpeca commented on #6877
Thank you for your fast answer.

I have been searching in your web, but I don't find the SlangDict that you mencioned before. Where can I found it?

Or if I have to create one for myself.

Thank you!

[2022-02-09 13:49] shulpeca commented on #6877
On the other hand, one of the best spanish lemmatizer has been trained with this dataset.

I don't know if it would be possible to train the lemmatizer with this dataset: https://github.com/UniversalDependencies/UD_Spanish-AnCora

Thank you!

[2022-02-09 14:08] maziyarpanahi commented on #6877
@shulpeca
Yes, it's possible. I can ask someone to train a new Spanish Lemmatizer based on the lemma in that dataset. (most of our lemma comes from the UD dataset, but not the Spanish one so hopefully this helps)

[2022-02-09 15:17] josejuanmartinez commented on #6877
That model has been trained using specifically that UD_Spanish-AnCora dataset:

![image](https://user-images.githubusercontent.com/36634572/153230875-e16d1da7-bbd8-482c-b3cc-2f7fb01b5cba.png)

I have retrained it just in case but the results are the same. So I guess that the corpus does not have a very good coverage.

[2022-02-09 15:18] josejuanmartinez commented on #6877
![image](https://user-images.githubusercontent.com/36634572/153231252-79887124-7dbd-4bb5-898c-939c063a9da1.png)

[2022-02-09 15:36] maziyarpanahi commented on #6877
@josejuanmartinez @shulpeca

The Lemmatizer annotator/model is entirely rule-based, meaning if there is no example for those words it will generate the same. In the [UD_Spanish-AnCora](https://github.com/UniversalDependencies/UD_Spanish-AnCora) there are no `bioestimulante(s)` or `envolvedora(s)` so it won't know what to do with them.

Are these words domain specific? We can perhaps find other sou

[2022-02-12 15:21] lival opened #6917 "Modify Doc2VecApproach.scala"
Persist or cache API  is widely used  to improve performance for spark applications. The variable  _input_ at Doc2VecApproach.scala:289 is used many times. We should call persist to accelerate calculation. The fixed code is like [this pull request](https://github.com/JohnSnowLabs/spark-nlp/pull/6918):
` val input = dataset.select(dataset.col(inputColumns)).rdd.map(r => r.getSeq[String](0)).cache()

[2022-02-14 00:13] #5984 closed

[2022-02-14 00:13] #5970 closed

[2022-02-14 00:13] #5937 closed

[2022-02-14 00:13] #5900 closed

[2022-02-14 00:13] #5896 closed

[2022-02-14 10:01] maziyarpanahi commented on #6917
Hi,

We cannot use .cache nor .persist inside the library. This is something that must happen on the user’s side with the knowledge they have from their environment. Whether the data can be fit into the memory or gets spilled on the disks can result in OOV or slowness of the ops if one uses .cache without monitoring Spark UI.
You can cache your DataFrame and enforce it via .cache.count before pass

[2022-02-14 13:15] lival commented on #6917
Our tool analyzes the DAG of the application during execution and finds that the variable _input_ at Doc2VecApproach.scala:289 is used many times. So we suggest _input_ should be cache.  It consider the application features when making cache decision. As you mentioned the environment , either user-level action or library-level action maybe suffer form the same problem.
Used cache API in Spark appl

[2022-02-14 13:53] maziyarpanahi commented on #6917
Thanks @lival

I did another analysis, actually the line `289` that uses `dataset` is the exactly DataFrame coming from `.fit(your_dataframe)`. So if you cache your DataFrame before passing it to .fit/.transform will be the equivalent to the .cache inside the library. The only difference here is, if the memory is not sufficient it will lead to OOV or slowing the whole process since it has to cache

[2022-02-14 20:36] amrothemich opened #6924 "Multiple (different) pipelines causing sentence embeddings to embed whole document"
## Description
When I create a pipeline (DocumentAssembler -> SentenceDetectorDLModel -> BertSentenceEmbeddings), the output is correct. When I create a second pipeline to process a different dataset with **no** sentence detector (DocumentAssembler -> BertSentenceEmbeddings), its output is correct. However, when I then access the first dataset again, BertSentenceEmbeddings uses the whole document

[2022-02-14 20:52] maziyarpanahi commented on #6924
Hi,

This actually happens inside BertSentenceEmbeddings. In Spark NLP, you can have 1 AnnotatorModel that uses `.pretrained` in a live session. So your second BertSentenceEmbeddings.pretrained overrides your first one.

[code]

The only way to reuse the same AnnotatorModel (like BertSentenceEmbeddings) more than once is to save the results on disks (which you tried), but it's not a bug, this is h

[2022-02-14 20:52] #6924 closed

[2022-02-14 21:02] amrothemich commented on #6924
okay, thanks for the prompt response! If you'll allow an outside opinion, I think it is typically the user's responsibility to recognize that creating a second instance will require twice the memory. The way it is implemented here, there's a silent "failure" that's very easy to miss, where as "out of memory" is easily recognized and addressed.

[2022-02-15 09:40] shulpeca commented on #6877
I thought that corpus would work well, as I use the ancora package from Stanza that is training with that corpus and I don't have this kind of problem with the words `bioestimulante(s)`.

[2022-02-15 10:04] maziyarpanahi commented on #6877
Unfortunately, unless there is an example that says `bioestimulantes` should be considered as `bioestimulante` in the training corpus the model won't know.

However, you can improve this (resolve any issue) by custom rules as I mentioned before. We have an annotator called Normalizer that accepts dictionary and it transforms the tokens to another form, here is an example of how you can convert `bi

[2022-02-15 10:18] maziyarpanahi commented on #6917
Yes, this would be the best option. Not trapping users on something that they have no way out of but moving to a bigger machine(s). I will do some tests this weekend and come back to you. (but it's safe to say we can include setEnableCache param to most of our trainable annotators since users can turn it on/off by monitoring the whole process)

[2022-02-16 00:12] #5850 closed

[2022-02-16 00:12] #5837 closed

[2022-02-16 00:12] #5817 closed

[2022-02-16 00:12] #5795 closed

[2022-02-16 00:12] #5777 closed

[2022-02-16 00:12] #5707 closed

[2022-02-17 16:36] chengyineng38 commented on #6880
@maziyarpanahi Follow-up on your PS note above: Which .transform method are you referring to? I assume the merge/union is to then combine the embeddings into one column -- in that case, how would concatenating different columns into one be different? In my case, one of the columns is actually an integer column, containing sector_id.

[2022-02-17 16:40] maziyarpanahi commented on #6880
It depends on what exactly you are trying to do with multiple columns. Are these isolated/separated text columns which each can be transformed throughout the pipeline stages and at the end, you end up with outputCol from each col of the DataFrame. In this case, yes, slicing the DataFrame by only selecting that column and then union the results makes sense.

But you are talking about embeddings tha

[2022-02-17 16:48] chengyineng38 commented on #6880
My task is more related to your second paragraph -- embeddings will be generated based on each column ( 3 columns in total) and these 3 columns (2 text and 1 integer) should be part of the classifierDL. I am confused by what you said about "Each column will be processed, embeddings, go through the classification model" -- Since this DocumentAssembler starts with one column, why don't we need to co

[2022-02-17 16:54] maziyarpanahi commented on #6880
I think what I suggest at the end is what you are looking for. The best is to concatenate your two text columns (we also call this enriching the training data), use it to train and this way your model has seen more data during the training.

I would make a test dataset, train a model on the merged two columns, evaluate it on the test dataset, then train separately on each column which you'll end u

[2022-02-17 18:06] chengyineng38 commented on #6880
Thanks, @maziyarpanahi for taking the time in responding! We will try concatenating those 2 text columns, but it does also confirm that the SparkNLP API does not accommodate a pipeline with different feature types. E.g. if I have a movie rating classification project, that has reviews (text), movie duration (time in numbers), production budget ($$), it would be hard to pass all these features into

[2022-02-19 14:33] dsvrsecc opened #6953 "Not able to use ALAB"
Hi,

I tried to update the ALAB version from 2.5.1 to 2.7.0 .After updation ,I am not able to find the previous created projects in 2.5.1 .So,then I degraded the version to 2.5.1 again,but I am not able to open ALAB.Can you please suggest on this

![image](https://user-images.githubusercontent.com/98377895/154805122-ad95cb61-49c2-42d6-b406-5f2b2ee954a6.png)

[2022-02-19 18:57] maziyarpanahi commented on #6953
Hi,

This is a repository for Spark NLP, we don’t have any knowledge for other product’s.

For other libraries you can directly contact their team on Slack: https://www.johnsnowlabs.com/slack-redirect/
(It should be under annotation-lab channel)

[2022-02-19 18:57] #6953 closed

[2022-02-20 00:17] #2846 closed

[2022-02-20 00:17] #2839 closed

[2022-02-20 00:17] #2793 closed

[2022-02-22 00:14] #2739 closed

[2022-02-22 00:14] #2355 closed

[2022-02-22 00:14] #2221 closed

[2022-02-22 00:14] #2184 closed

[2022-02-23 00:17] #2099 closed

[2022-02-23 00:17] #1158 closed

[2022-02-23 00:17] #1227 closed

[2022-02-24 17:52] dsvrsecc opened #6965 "Script to convert json file (with RE annotations from ALAB) to Training CSV format"
Is there a Script to convert Json file (with Relation Extraction and Entities annotations from ALAB) to Training CSV format like this (https://raw.githubusercontent.com/JohnSnowLabs/spark-nlp-workshop/master/tutorials/Certification_Trainings/Healthcare/data/i2b2_clinical_rel_dataset.csv)   for training of  Relation Extraction Model

[2022-02-24 17:56] dsvrsecc opened #6966 "Regarding training of Relation Extraction model"
What is difference between training RE model with categorical relations(like DRUG_DISEASE,DRUG_REACTION) and with binary labels(1,0) as 1 represents relation exists between the two entities ,where 0 represents relation does not exist between the two entities

[2022-02-25 00:15] #1132 closed

[2022-02-25 00:15] #1123 closed

[2022-02-25 22:39] sujitpal opened #6970 "EntityRuler is slow to unusable for very large rule sets"
**Is your feature request related to a problem? Please describe.**

I am trying to port an existing annotation pipeline to Spark-NLP. It involves matching text spans in the documents to entities in a dictionary. Each entity can be represented by multiple text spans, which we call synonyms. There are approximately 400,000 entities in the dictionary, each with average 9 synonyms. Using a pipeline of

[2022-02-27 00:17] #1096 closed

[2022-02-27 00:17] #1095 closed

[2022-02-27 00:17] #1068 closed

[2022-02-27 00:17] #1044 closed

[2022-02-28 07:09] waruto210 opened #6981 "Modify Word2VecApproach.scala"
**Is your feature request related to a problem? Please describe.**
The same as #6917 , we run Word2VecApproachExample from spark-nlp and observe WebUI. We found that job0 and job1 both depends on RRD6 which is created by the variable input at Word2VecApproach.scala:288.

**Describe the solution you'd like**
Based on #6917 and this issue，I think is's necessary to improve the cache APi usage in spar

[2022-03-01 00:16] #1043 closed

[2022-03-01 00:16] #1023 closed

[2022-03-01 00:16] #970 closed

[2022-03-01 00:16] #995 closed

[2022-03-01 00:16] #896 closed

[2022-03-01 00:16] #873 closed

[2022-03-01 09:57] maziyarpanahi commented on #6821
Hi @Dirkster99

The ClassifierDLModel is very small. I think it's 20MB raw and when it's compressed it's around 3-4MB. But the BERT is larger and depending on which model you are using this can be memory intensive when we ask for the actual weights. (but the good thing is you never need to save any of the Embeddings models, they are not trainable so they are exactly the same before or after any ta

[2022-03-02 00:20] #853 closed

[2022-03-03 00:17] #831 closed

[2022-03-03 00:17] #813 closed

[2022-03-03 07:45] SrilekhaIG opened #7003 "Using Sparknlp with ray (https://docs.ray.io/en/latest/data/raydp.html) fails with classcastexception"
Trying to use sparknlp with Ray framework
Tried to start the sparksession with Ray:
spark = raydp.init_spark(app_name='Sparknlp',
                         num_executors=2,
                         executor_cores=2,
                         executor_memory='4GB',configs={"spark.driver.memory":"16G",
                                                        "spark.driver.maxResultSize": "0",

[2022-03-04 00:18] #6303 closed

[2022-03-04 09:25] GonzaloRuizGit opened #7036 "Pretrained models from disk"
I'm trying to run a simple example using a pre-trained pipeline from the Spark NLP library. I get an error when I'm downloading the pipeline:

### code
[code]
[code]
### error
[code]

Then I tried to download the model and load it from disk using sparknlp.start(), which it turned out to work properly:
### code
[code]
but the problem with this method is that i am unable to read a .parquet from S3 A

[2022-03-04 11:54] maziyarpanahi commented on #7036
Hi,

- Could you please format your code and error by using code block?
- Since you are reporting an issue, you remove the entire template which is very required or else would be very hard to guess. Could you please put back the `Environment` section and fill it in?

[2022-03-04 12:14] GonzaloRuizGit commented on #7036
Hi maziyarpanahi, thanks for your early reply. I have edited the first comment. What do you mean by enviroment?

[2022-03-04 12:16] maziyarpanahi commented on #7036
Thank you, the following information is very important. (your first error seems to be you used a spark-nlp package that was for spark 3.0/3.1 on spark 3.2, the second one seems to be a mismatch between your PyPI `spark-nlp` and the Maven. So knowing the following and everything else would be very helpful)

## Your Environment

* Spark NLP version `sparknlp.version()`:
* Apache NLP version `spark.v

[2022-03-04 12:52] GonzaloRuizGit commented on #7036
Since I am using AWS, I don't know if the right way to know the Java version or the setup version. So if you see something strange in the versions I gave you, I can double check that.

## Your Environment
* Spark NLP version sparknlp.version(): '3.4.1'
* Apache NLP version spark.version:  '3.2.1'
* Java version java -version: openjdk version "1.8.0_322"
* Setup and installation (Pypi, Conda, Maven

[2022-03-04 12:57] maziyarpanahi commented on #7036
Very nice! It's enough to resolve the first issue for sure. For Apache Spark 3.2.x you need a different Spark NLP package from Maven:

* CPU: `com.johnsnowlabs.nlp:spark-nlp-spark32_2.12:3.4.1`
* GPU: `com.johnsnowlabs.nlp:spark-nlp-gpu-spark32_2.12:3.4.1`

Reference:
- https://github.com/JohnSnowLabs/spark-nlp#packages-cheatsheet
- https://github.com/JohnSnowLabs/spark-nlp#maven

For the second i

[2022-03-04 21:22] briglass opened #7041 "Spark-NLP on Windows: Py4JJavaError: An error occurred while calling z:com.johnsnowlabs.nlp.pretrained.PythonResourceDownloader.getDownloadSize. : java.lang.NoClassDefFoundError: org/json4s/package$MappingException"
I'm having difficulties running through the installation process. I'm following these guides, although I have found that I can get the furthest along with the latest versions of the packages:

- https://github.com/JohnSnowLabs/spark-nlp/discussions/1022
- https://nlp.johnsnowlabs.com/docs/en/install#windows-support

OS:

[code]

Spark libraries:

[code]

JDK:

[code]

The following code runs:

[co

[2022-03-05 04:52] maziyarpanahi commented on #7041
Hi

Since you are using Spark 3.2 you need to use sparknlp.start(spark32=True): https://github.com/JohnSnowLabs/spark-nlp#packages-cheatsheet

[2022-03-06 00:15] #792 closed

[2022-03-06 00:15] #728 closed

[2022-03-06 00:15] #715 closed

[2022-03-06 20:24] #407 closed

[2022-03-07 00:05] briglass commented on #7041
Hi, this does not change anything-- and the error message is the same

[2022-03-07 04:18] briglass opened #7045 "Spark-NLP on Windows: Py4JJavaError"
I'm having difficulties running through the installation process. I'm following these guides, although I have found that I can get the furthest along with the latest versions of the packages:

- https://github.com/JohnSnowLabs/spark-nlp/discussions/1022
- https://nlp.johnsnowlabs.com/docs/en/install#windows-support

([Previously](https://github.com/JohnSnowLabs/spark-nlp/issues/7041), this issue w

[2022-03-07 06:18] #7045 closed

[2022-03-07 06:21] maziyarpanahi commented on #7041
Hi,

I close your other issue and reopen this one. The error indicates spark-nlp build for one pyspark is being used on pyspark, that part of a error is obvious.

now let’s look into where something like that might have happened. Could you please screenshot every step you followed? (That instruction is for pyspark 2.x so it could be possible something left pyspark 2.x and the rest went on for pysp

[2022-03-07 06:31] briglass commented on #7041
Thank you for reopening this--

I will provide the screenshots, although I was wondering if you could clarify what you mean by:

I am a bit confused by that wording

Thanks!

[2022-03-07 07:41] maziyarpanahi commented on #7041
Of course,

org.json4s.package$MappingException

this happens whenever someone uses spark-nlp that was build for a different spark/pyspark. For instance, if you use spark-nlp on pyspark==3.2 you’ll see this error, ut must be spark-nlp-spark32. Same goes with having pyspark==2.x somewhere in your setup/env and trying to use spark-nlp or spark-nlp-spark32, it must be spark-nlp-spark24.

Apache Spark

[2022-03-07 09:30] #7036 closed

[2022-03-08 00:14] #703 closed

[2022-03-08 00:14] #654 closed

[2022-03-08 00:14] #695 closed

[2022-03-08 00:14] #632 closed

[2022-03-08 10:28] SrilekhaIG commented on #7003
Just an update on this, the spark.jars.packages config fails in raydp. The raydp team has given us a workaround with which am able to get the results.
I have referenced this issue for raydp team in case they want to refer.

[2022-03-08 10:31] josejuanmartinez commented on #7003
Thank you @SrilekhaIG ! We appreciate this.

[2022-03-08 13:38] uzpaka opened #7137 "Sigmoid output instead of Softmax for BertForSequenceClassification models"
Hello,

I have finetuned a multi-label BertForSequenceClassification model with huggingface and successfully converted it to spark-nlp. However, the output logits of BertForSequenceClassification in spark-nlp are always passed to a softmax function:

https://github.com/JohnSnowLabs/spark-nlp/blob/8a5898d16f6b0fda4123deba5c920dff01e756c2/src/main/scala/com/johnsnowlabs/ml/tensorflow/TensorflowBertC

[2022-03-08 13:51] maziyarpanahi commented on #7137
Hi @uzpaka

This is a very valid and good feature request. Perhaps we can have a param to allow users to decide the activation they need and leave it to default on `softmax`. We do have multi-class (ClassifierDL) and multi-label (MultiClassifierDL) annotators, so I am very well aware that this is a valid request.

I will look into `problem_type="multi_label_classification"` on HF and see if I can

[2022-03-08 18:33] wolliq opened #7143 "Investigation on the pipeline connecting RegexTokenizer to ContextualParser to parse zip codes"
## Description
While using a pipeline such as
[code]
we are seeing an error in the parsing of the zip codes which are not detected.

Zip parser stage is a ContextualParser as defined here:
[code]

At the beginning the error has been investigated into the RegexTokenizer against the simple Tokenizer which is working fine.

The pipeline can be corrected using a chaining of the 2 tokenizers:
[code]
wh

[2022-03-09 00:16] #568 closed

[2022-03-09 00:16] #567 closed

[2022-03-09 16:31] ravigurnatham opened #7149 "Getting class is not whitelisted when I'm using on databricks"
Hi, I have installed the spark-nlp on **databricks** cluster. i was able to import it but when i try to use it it is throwing the error

[code]

**py4j.security.Py4JSecurityException: Method public static java.lang.String com.johnsnowlabs.nlp.pretrained.PythonResourceDownloader.getDownloadSize(java.lang.String,java.lang.String,java.lang.String) is not whitelisted on class class com.johnsnowlabs.nl

[2022-03-09 16:37] #6917 closed

[2022-03-09 16:37] #6981 closed

[2022-03-09 16:43] maziyarpanahi commented on #7149
Hi,

Could you please provide the following information:

## Your Environment

* Spark NLP version `sparknlp.version()`:
* Apache NLP version `spark.version`:
* Java version `java -version`:
* Setup and installation (Pypi, Conda, Maven, etc.):
* Operating System and version:
* Link to your project (if any):

* Databricks Runtime?
* Spark config tab inside Advanced options of the cluster
* Screensh

[2022-03-09 18:02] ravigurnatham commented on #7149
Spark NLP version :  3.4.2
Apache NLP version : 3.1.2
Java Version : 1.8.0_282 (Azul Systems, Inc.)
Setup and installation : followed instruction on installation guide for databricks
Databricks Runtime : 7.3 LTS ML

[2022-03-09 18:26] maziyarpanahi commented on #7149
You didn't share the screenshots I asked for, so I go with what I can say. This happens in Databricks under certain situations:

Problem:
- you have some configs (or those are automatically set by that runtime) that conflict with HC cluster mode

Solution:
- Either choose another Cluster mode. (not high concurrency)
- or follow this instruction given by Databricks (setting only one of them to true

[2022-03-10 04:54] briglass commented on #7041
Thank you, I was able to properly run the line of code by uninstalling pyspark and spark-nlp (with `pip uninstall`) then re-installing the following versions, and ensuring the old libraries no longer existed.

[code]

I am running into a new problem, now. The following code runs:

[code]

And there is a spark session running

[code]

But, the following line throws an error:

`pipeline.fit(data).tr

[2022-03-10 06:01] maziyarpanahi commented on #7041
You are still on pyspark 3.2:

Apache Spark version: 3.2.1

For that you need to use either sparknlp.start(spark32=True) or spark-nlp-spark32 maven package name. (You didn’t share how you construct/start SparkSession). No need to downgrade anything, just a right package name will fix this. (Keep every pyspark on 3.2.1 and all the spark-nlp-spark32 maven package on 3.4.1, the PyPI spark-nlp is the

[2022-03-10 21:07] briglass commented on #7041
Thanks, I still had a versioning mismatch with the installed packages, but I have fixed it, and the code runs

[2022-03-11 00:18] #408 closed

[2022-03-11 18:00] ericbugin opened #7162 "Spark NLP getting BART models for Zero Shot Classifications"
Hello,
Was wondering if John Snow Labs had its eye on adding BART models from Huggingface for Zero Shot Classifications?

Here a model example from Huggingface
https://huggingface.co/facebook/bart-large-mnli

Thanks

[2022-03-12 10:20] abdullah-alnahas opened #7163 "Lemmatization performance on Universal Dependency Treebanks"
I am comparing the performance of the most popular lemmatization tools. I have found benchmark results for [Stanza](https://stanfordnlp.github.io/stanza/v100performance.html), [Trankit](https://trankit.readthedocs.io/en/latest/performance.html), and [spaCy](https://explosion.ai/blog/ud-benchmarks-v3-2#benchmarks) on [Universal Dependencies version 2.5](https://lindat.mff.cuni.cz/repository/xmlui/h

[2022-03-12 11:26] maziyarpanahi commented on #7163
Hi @abdullah-alnahas

Thanks for sharing your code and results here. One thing that is very important is adjusting the Tokenizer to get tokens similar to the original datasets (gold standard). Or, bypassing the Tokenizer and using the tokens from the test dataset. (this way you can align token by token which results in lemma by lemma)

I am going to the alignments and keeping this thread up to dat

[2022-03-13 00:16] #310 closed

[2022-03-13 00:16] #292 closed

[2022-03-13 00:16] #275 closed

[2022-03-13 07:12] maziyarpanahi commented on #7162
I reopen this since it’s related to the discussion of how to import BART models.

[2022-03-14 00:18] #273 closed

[2022-03-14 00:18] #267 closed

[2022-03-14 00:18] #166 closed

[2022-03-15 00:16] #36 closed

[2022-03-15 00:16] #52 closed

[2022-03-15 09:04] maziyarpanahi commented on #739
This should be possible via Spark Configuration for S3 and NerDLApproach supports S3, HDFS, and DBFS in addition to local fileSystem.

[2022-03-17 08:02] geowynn opened #7340 "Unable to load pretrained pipeline for ContextSpellCheckerModel; serialVersionUID error"
I'm new to using sparknlp and facing this error when adding the contextSpellCheckerModel pretrained to the pipeline.

## Description

Also, working on my project in CDSW (Cloudera workbench) and I've referred to links here but I'm not entirely sure how to point into the correct jar on cloud.

## Expected Behavior

Pretrained model for ContextSpellCheckerModel should run without serialVersionUID In

[2022-03-17 09:10] maziyarpanahi commented on #7340
Hi @geowynn

Could you please share how you start SparkSession in your Cloudera cluster which has `spark-nlp` Maven package? (since you are on Spark 2.4, the name of that package must be `spark-nlp-spark24`: https://github.com/JohnSnowLabs/spark-nlp#packages-cheatsheet)

Just double checking here, it could be totally the model itself that needs another copy for Spark 2.4, but before that, I want t

[2022-03-17 09:20] geowynn commented on #7340
Hi @maziyarpanahi ,

Are you referring to this line in the _Steps to Reproduce Section_?  I'm using spark = sparknlp.start(spark24=True) directly in CDSW IDE for starting spark session.

Thanks for the prompt response!

[2022-03-17 15:08] surajkrayon opened #7343 "Unable to load models on zeppelin-EMR setup"
## Description
 We are trying to setup the sparkNLP on EMR cluster. We did not have any problems importing the necessary libraries but got this error while trying to load any model.
Py4JJavaError: An error occurred while calling None.com.johnsnowlabs.nlp.embeddings.BertSentenceEmbeddings.
: java.lang.NoSuchMethodError: org.apache.spark.ml.util.MLWritable.$init$(Lorg/apache/spark/ml/util/MLWritable

[2022-03-17 15:14] surajkrayon commented on #7343
We have tried the things given in issue #846[https://github.com/JohnSnowLabs/spark-nlp/issues/846](url)

[2022-03-18 14:30] maziyarpanahi commented on #7343
Hi @surajkrayon

You are using Apache Spark 2.4.x, therefore, you need to choose an appropriate Maven package (`spark-nlp-spark24`).

- you can find the right package from this simple chart: https://github.com/JohnSnowLabs/spark-nlp#packages-cheatsheet
- and following the instructions just in case: https://github.com/JohnSnowLabs/spark-nlp#emr-cluster

[2022-03-18 14:30] #7343 closed

[2022-03-18 14:43] maziyarpanahi commented on #7340
Yes, that is the line, thanks @geowynn

I can confirm it's not your setup and it's actually the `spellcheck_dl` model. More precisely `spellcheck_dl_en_2.7.2_2.4_1611394065565` exact model which will be downloaded and crashes.

We will fix this model, re-upload it for Spark 2.4 and I'll keep you updated

[2022-03-18 20:05] maziyarpanahi commented on #7137
Hi @uzpaka

I am starting to implement this option in all the classifiers, could you please either share your model or share a link to a BertForSequenceClassification model on HuggingFace that was trained on a multi-label dataset? (I want to make sure the sigmoid is implemented correctly). Thank you

[2022-03-20 20:37] Bassie1 opened #7357 "Error when using pretrained model"
### Description:
I am trying to run code in python to preprocess data. I am using a few spark-nlp pretrained models. The notebook runs without issue on an AWS EMR cluster. When I try to run the notebook locally, in visual studio code, I run into an error.

### Steps to Reproduce:
This is the code block that I am trying to run:
[code]

###Expected Behavior:
As mentioned above, the code runs without

[2022-03-21 04:41] maziyarpanahi commented on #7357
Hi,

Please copy/paste both the code snippet and error in a formatted blocks, screenshots are hard to read and not searchable for others.

[2022-03-21 09:16] Bassie1 commented on #7357
Thank you @maziyarpanahi for your prompt response.
I have been working on this issue with my team for some time.
I pasted the code snippets in the post above and added the spark NLP version (3.4.1) in Environment details.
As for installing pyspark, I followed a tutorial for the installations and setting up environments, very similar to the instructions in issue #1022; I went through the instructio

[2022-03-21 09:22] maziyarpanahi commented on #7357
Thanks @Bassie1

I usually see `java.lang.NoSuchMethodError` error trying to use `.pretrained()` on Windows when one or more of the followings are not correctly setup:

- missing C:\tmp and C:\tmp\hive
- permissions these directories via winutils.exe
- a correct version of winutils.exe
- and last the Microsoft Visual C++ 2010 Redistributed Package

The issue is, that post was tested and made on Py

[2022-03-21 15:16] DevinTDHa opened #7445 "Show Example button missing for models in Annotator Page"
## Description

Ever since the front-end refactor (I suspect commit 4f1330f6fa34c92bf4e66c42dbc0b4e6fe7af773), the examples for the models in the [main annotator page ](https://nlp.johnsnowlabs.com/docs/en/annotators) are not displayed correctly anymore. It seems that `/static/models.css` cannot be applied.

Checking out the repo before tag 3.4.0 and running the docs, does not have that problem (`

[2022-03-22 10:47] Bassie1 commented on #7357
I am running the code in visual studio code.
code to start the sparksession:

[code]

[2022-03-22 20:52] jmcmt87 opened #7464 "Getting a Py4JJavaError when I try to use PretrainedPipeline()"
## Description

I'm using a PySpark Structured Streaming session, when I try to download the pre-trained pipeline for tweets sentiment analysis like this:

`nlp_pipeline = PretrainedPipeline("analyze_sentimentdl_use_twitter", lang='en')`

I get a Py4JJavaError message

## Expected Behavior
It should download the tweets sentiment analysis pipeline successfully

## Current Behavior
It throws the fol

[2022-03-23 02:22] maziyarpanahi commented on #7464
Hi,

The Maven package for Spark 3.2 is spark-nlp-spark32 : https://github.com/JohnSnowLabs/spark-nlp#packages-cheatsheet

[2022-03-23 02:22] #7464 closed

[2022-03-23 08:39] jmcmt87 commented on #7464
Great, that got me further but now it gives me another error message. After I execute the command:

`nlp_pipeline = PretrainedPipeline("analyze_sentimentdl_use_twitter", lang='en')` it seems to download that pre-trained pipeline but right afterwards gives me this error message:

[code]

[2022-03-23 08:44] maziyarpanahi commented on #7464
You are not setting any memory for the driver, it should be at least 8G and 16G for a smooth operations. (Default is 2G so it’s normal it’s OOM)
In the README we have examples of SparkSession, please make sure you have all the configs we use. (They are important just in case you set enough memory for your session)

[2022-03-23 09:11] jmcmt87 commented on #7464
Great, that solved the issue, thank you very much

[2022-03-24 00:07] zetobur opened #7470 "NerDLAproach bestModelMetric "Param bestModelMetric does not exist" Error"
### Discussed in https://github.com/JohnSnowLabs/spark-nlp/discussions/7469

<div type='discussions-op-text'>

<sup>Originally posted by **zetobur** March 24, 2022</sup>
I encountered an error which says "java.util.NoSuchElementException: Param bestModelMetric does not exist." when I try to execute [https://nlp.johnsnowlabs.com/docs/en/serving_spark_nlp_via_api_databricks_mlflow](url) example on D

[2022-03-24 04:19] wbo4958 opened #7471 "Pip uninstall can't purge the directory com/johnsnowlabs/nlp"
## How to repro:
[code]

and the directory installed by sparknlp is still in the site-packages,

`python3.8/site-packages/com/johnsnowlabs/nlp`

[2022-03-24 07:49] maziyarpanahi commented on #7471
You probably installed spark-nlp, I suggest uninstalling sparknlp and spark-nlp.
In any case, this is really between your system and pip, no Python package has any power when it cones to pip uninstall. (It’s not like we have a uninstaller l)

[2022-03-24 07:49] #7471 closed

[2022-03-24 08:15] maziyarpanahi commented on #7470
Please make sure you PyPI package and Maven package are both the same version. People tend to leave spark-nlp in PyPI but they need to choose a version for Maven, so one has the parameter because it’s newer but the other one doesn’t have it.

spark-nlp==3.4.2
com.johnsnowlabs.nlp:spark-nlp_2.12:3.4.2

[2022-03-24 08:15] #7470 closed

[2022-03-24 09:21] geowynn opened #7472 "SparkNLP dataset size limitations"
I've a dataset of about 1.1mil records that I'm trying to apply the sparknlp pipeline on for topic modelling. In each document there's on average 1-5 short sentences since I've pre-cleaned them using the traditional nlp spacy methods. Currently, I intend to use this pipeline as shown below on the entire dataset. Additionally, this is done in CDSW (Cloudera workbench) which I've added additional sp

[2022-03-24 10:18] maziyarpanahi commented on #7472
Hi,

Could you please share the following, without them, it's impossible to know what is happening:

- The full pipeline code (it's really important to see the models, size of them, etc.)
- The full code you use to set/start your SparkSession (with all the configs so I see what is the actual memory and all the other configs for driver, executors, and the rest)
- Screenshot from your Environment ta

[2022-03-25 03:11] geowynn commented on #7472
Hi @maziyarpanahi thanks for the follow up, please find the additional information below.

**Full Pipeline Code**

[code]

**Spark configs**

CDSW session 2vCPU and 8GB memory

started the session with sparknlp.start(spark24=True)

additional spark-defaults.conf in project directory

[code]

**Environment**
spark.sparkContext._conf.getAll()

[code]

**Storage tab**
blank page

**Stages tab**

<img

[2022-03-27 00:19] #6331 closed

[2022-03-28 16:17] albertoandreottiATgmail commented on #7340
hello @geowynn , have you tried using Kryo serializer?

[2022-03-28 17:05] shainaraza opened #7482 "untyped Scala UDF error"
I have run this code on google colab https://colab.research.google.com/github/JohnSnowLabs/spark-nlp-workshop/blob/master/tutorials/streamlit_notebooks/ocr/PDF_TO_TEXT.ipynb#scrollTo=BXtlGP0aa3ee , I do have lisence and this is the error I am getting

[code]

[2022-03-28 17:07] shainaraza commented on #7482
This happens when I take a batch in load()

[2022-03-28 17:12] maziyarpanahi commented on #7482
Hi,

This repository is for open-source Spark NLP library. Please use either Slack (#ocr channel) or directly via email.

[2022-03-28 17:12] #7482 closed

[2022-03-29 01:42] geowynn commented on #7340
Hi @albertoandreottiATgmail what do you mean by Kryo serializer? any examples? I'm not too familiar with it

[2022-03-29 07:53] jackieair opened #7485 "How to train Linear Chain CRF for word segmentation?"
**Name of the Spark NLP feature whose docs need improvement:**
Linear Chain CRF

**What you think the docs should say:**
Hi, I want to thank you for this great NLP project first.

I am new to NLP and want to use exactly LinearChainCrf for Chinese word segmentation.
As I know CRF needs feature templates(or feature functions, like Unigram/Bigram) for training like CRF++.

However, I found there's no

[2022-03-29 08:06] maziyarpanahi commented on #7485
Hi @jackieair

I don't believe we have LinearChainCrf in Spark or Spark NLP. However, for training new word segmentation models on languages that don't have whitespace like Chinese, Korean, etc. we have a feature called WordSegmenter:

- Document: https://nlp.johnsnowlabs.com/docs/en/annotators#wordsegmenter
- APIs regarding parameters: https://nlp.johnsnowlabs.com/api/python/reference/autosummary

[2022-03-29 08:07] maziyarpanahi commented on #7485
@DevinTDHa Could you please add a new directory here `chinese` and have a notebook that shows how to use WordSegmenterApproach for training Chinese word segmentation?

https://github.com/JohnSnowLabs/spark-nlp-workshop/tree/master/jupyter/training

[2022-03-29 08:20] jackieair commented on #7485
Hi, thanks for your prompt reply.

I guess you've implemented LinearChainCrf already:
https://github.com/JohnSnowLabs/spark-nlp/tree/master/src/main/scala/com/johnsnowlabs/ml/crf

Can this version be used for word segmentation or POS-Tagging? Sorry I have little knowledge in this area, so the question may sound dumb.

[2022-03-29 08:22] jackieair commented on #7485
Hi, thanks for your prompt reply.

I guess you've implemented LinearChainCrf already:
https://github.com/JohnSnowLabs/spark-nlp/tree/master/src/main/scala/com/johnsnowlabs/ml/crf

Can this version be used for word segmentation or POS-Tagging? Sorry I have little knowledge in this area, so the question may sound dumb.

[2022-03-29 08:25] maziyarpanahi commented on #7485
@jackieair I don't know what happened, your comments disappeared! but it exists in my reply.

[2022-03-29 08:51] jackieair commented on #7485
Did you mean that I can use NerCrf for POS Tagging?

If yes, then I can train a NerCrfModel for POS task, I noticed NerCrf is based on LinearChainCrf.

The dataset I would use is backoff2005, so the major work is to convert the format of backoff2005 to the required style, do I understand it well?
Or I only need to set documentAssembler, tokenizer, posTagger, embeddings like this：
https://github.co

[2022-03-29 08:52] jackieair commented on #7485
Hi, yes, I don't know why this happend. : )

[2022-03-29 08:55] maziyarpanahi commented on #7485
Yes, since POS is like NER, you can use NerCrfApproach for training POS. There are examples of how to do so:

- https://github.com/JohnSnowLabs/spark-nlp-workshop/blob/master/tutorials/blogposts/data_prep.ipynb
- https://github.com/JohnSnowLabs/spark-nlp-workshop/blob/master/jupyter/training/english/crf-ner/ner_dl_crf.ipynb

You need to have a CoNLL 2003 format dataset. (you need to use something

[2022-03-29 08:58] jackieair commented on #7485
@maziyarpanahi Many many thanks!

I'm so grateful for your kind help and prompt replies. wish you have a good day!

[2022-03-30 08:18] maziyarpanahi commented on #7445
@DevinTDHa Does this correlate to a specific browser? I have them on Chrome:
![image](https://user-images.githubusercontent.com/5762953/160785168-47fb635d-6bb4-46f7-8e6e-788a826336ff.png)

[2022-03-30 08:29] maziyarpanahi commented on #7485
@jackieair Here is a simple example of how to train word segmenter : https://github.com/JohnSnowLabs/spark-nlp-workshop/blob/master/jupyter/training/chinese/word-segmentation/WordSegmenter_train_chinese_segmentation.ipynb

Obviously, the larger and the better the dataset the higher is the accuracy.

[2022-03-30 09:07] jackieair commented on #7485
Hi, I'm trying to train a NerCrfModel by using **line69-104** from following:
https://github.com/JohnSnowLabs/spark-nlp/blob/master/src/main/scala/com/johnsnowlabs/nlp/annotators/ner/crf/NerCrfApproach.scala

However, when I use the **pretrained PerceptronModel and WordEmbeddingsModel**, some error occurred like this:

	at com.amazonaws.http.AmazonHttpClient$RequestExecutor.handleRetryableExceptio

[2022-03-30 09:15] maziyarpanahi commented on #7485
It seems you are behind some sort of proxy/firewall, you can use Google Colab or Kaggle for free with GPU, or you can follow these steps to simply download any models and use `.load` for offline use:
https://github.com/JohnSnowLabs/spark-nlp#offline

I'll close this as it is no longer an issue. (mainly WordSegmenter example)

[2022-03-30 09:15] #7485 closed

[2022-03-30 09:22] jackieair commented on #7485
Thanks!

[2022-03-31 10:03] Bassie1 commented on #7357
I switched my spark version to spark-3.1.3-bin-hadoop3.2 and now the download is working, but I am getting a memory error:
[code]
I have 16 GB of RAM and processor core is 2.30 GHz.
Does this make sense?

[2022-03-31 14:58] DevinTDHa commented on #7445
Issue was on my side, multiple browsers on my machine still had old caches it seems. It's fine after reinstalling!

[2022-03-31 14:58] #7445 closed

[2022-04-05 11:30] Nikhilsangle96 opened #7673 "py4j.protocol.Py4JJavaError: An error occurred while calling o80.load. : java.lang.NoClassDefFoundError: org/tensorflow/Tensor"
i am trying to run below code but getting the error

from sparknlp.pretrained import PipelineModel
from pyspark.sql import SparkSession
import sparknlp

spark=sparknlp.start(spark32=True)

pipeline = PipelineModel.load("/home/nikhil/final_project/classifierdl_bertwiki_finance_sentiment_pipeline_en_3.3.0_2.4_1636617651675")

df=spark.createDataFrame([["As interest rates have increased, housing rent

[2022-04-05 18:59] ericbugin opened #7678 "Japanese translator not translating all of the text."
Env: com.johnsnowlabs.nlp:spark-nlp-spark24_2.11:3.4.0

Using this model to translate Japanese to English
https://nlp.johnsnowlabs.com/2021/06/04/translate_ja_en_xx.html

Here is a screenshot of how it is working in my notebook using Spark NLP.
It is only translating the 1st sentence into English
![Screen Shot 2022-04-05 at 2 58 40 PM](https://user-images.githubusercontent.com/70169379/161829651-2

[2022-04-07 09:15] jackieair opened #7684 "Different cluster confs didn't change the training time when training NerCRF model."
## Description

Actually, it's not a bug because the training process is successful, but I'm puzzled by what happened to me.

I follow https://github.com/JohnSnowLabs/spark-nlp-workshop/blob/master/tutorials/blogposts/data_prep.ipynb to train NerCRF in **spark** (not pyspark), and I tried different confs like:
<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:

[2022-04-07 09:32] BartoszMaciejewski commented on #7149
Exception is well-known and described in Azure documentation: https://docs.microsoft.com/en-gb/azure/databricks/security/credential-passthrough/adls-passthrough#py4jsecuritypy4jsecurityexception--is-not-whitelisted

Still, I don't know if class you're using can be somehow whitelisted (in cluster init scripts or somewhere else).

[2022-04-07 19:21] sanjay-code-debug commented on #2063
still issue is there . not able to join the slack channel link

getting this message
-The email address must match one of the domains listed below. Please try another email.

[2022-04-07 19:24] sanjay-code-debug commented on #2063
i already have signup with the account into slack - if we got any link then we can directly join the link right . otherwise if we get any new invitation - then we need to create the new account or what was the actual way to get into - slack channel invitaion.

from official docs it shows something but inside the application it showing something different

[2022-04-07 20:34] Cabir40 opened #7686 "Graph_builder relation_extraction model file name extension problem with "auto" param"
## Description

while we generated graph for relation extraction with graph builder, and when we select the filename parameter as auto, the generated filename has no extension (.pb)
and
we don't have any problem if we specify filename specifically like "filename.pb"

you can try and check [HC 17.notebook](https://github.com/JohnSnowLabs/spark-nlp-workshop/blob/master/tutorials/Certification_Traini

[2022-04-07 20:50] Cabir40 opened #7687 "Add StructuredDeidentification Documentation to Python API (Sphinx)"
**Link to doc page in question (if any):**

**Name of the Spark NLP feature whose docs need improvement:**
StructuredDeidentification Annotator

**What you think the docs should say:**
There is [scala doc](https://nlp.johnsnowlabs.com/licensed/api/com/johnsnowlabs/nlp/annotators/deid/StructuredDeidentification.html) but no python doc
Can we add documentation to the python api for the StructuredDei

[2022-04-07 22:45] cholojuanito commented on #2738
I'm still running into this issue with the following environment

- Spark NLP version sparknlp.version(): 3.4.2
- Apache NLP version spark.version: 3.1.2
- Java version java -version: openjdk version "11.0.14"

[2022-04-08 03:04] taka-yayoi opened #7688 "Result "entity" of NerConverter for Japanese is truncated"
## Description
I tried NER on Japanese text, NER itself works fine but applying NerConverter to NER result returns truncated entity name.

## Expected Behavior

NerConverter returns correct entity name.

## Current Behavior

NerConverter returns (first 2 characters) truncated entity name.

![Screen Shot 2022-04-08 at 12 03 47](https://user-images.githubusercontent.com/74801096/162354838-03856ceb-a

[2022-04-08 11:56] maziyarpanahi commented on #7688
Hi @taka-yayoi

The NerConverter is for NER models that were trained based on IOB/IOB2 style. It will take (token, I-PERSON) (token, B-PERSON) and return (token, PERSON) by removing I- and B-. (extracting entities)

However, the NER model you are using doesn't have IOB/IOB2 style. It is already an entity, so NerConverter won't work in terms of merging them. (that is why in the example there is no

[2022-04-08 12:01] maziyarpanahi commented on #7684
Hi @jackieair

All the training of models (trainable annotators) happens inside the Driver, increasing the number of executors won't change that. (we don't have distributed trainings, only Word2Vec and Doc2Vec can be distributed over the cluster)

[2022-04-08 12:01] #7684 closed

[2022-04-08 12:04] maziyarpanahi commented on #7678
Hi @ericbugin

You are using the pretrained pipeline, it has a pre-set input/output max length. (we had to save the pipeline with pre-defined parameters)

You can have your own pipeline and change those parameters (https://nlp.johnsnowlabs.com/2020/12/28/opus_mt_ja_en_xx.html):

[code]

[2022-04-08 12:04] #7678 closed

[2022-04-08 12:06] maziyarpanahi commented on #7673
@Nikhilsangle96 could you please fill the issue template completely, we need all the information requested via the Environment:

https://github.com/JohnSnowLabs/spark-nlp/issues/new?assignees=maziyarpanahi&labels=&template=bug_report.md&title=

[2022-04-08 12:11] maziyarpanahi commented on #7472
Hi @geowynn

Thanks for the update. The `.limit()` really kills the distribution. Regarding Spark ML functions, I highly suggest separating them into 2 different stages/checkpoints via save/read in Parquet.

- first pipeline(s) Spark NLP, write.parquet
- second pipeline(s) Spark ML like `CountVectorizer`, read.parquet('first_pipeline_results'))

This way you can see how they are both behaving, eas