[2017-10-20 05:48] saifjsl opened #28 "Implement the NER so it is self contained in the Pipeline"
We want to avoid the user doing self algorithms to generate train-ready dataset, and limit themselves to just use spark-ml in spark-nlp library

[2017-10-20 05:49] saifjsl opened #29 "Implement Finisher output to other SparkML Models"
We want to extend output management by the Finisher to allow the annotations to be useful for further SparkML annotators

[2017-10-20 05:49] saifjsl opened #30 "Pregenerated downloadable models"
We want to make possible to the user to download pretrained annotators and even entire pipelines, to be ready to process text without a training stage.

[2017-10-20 05:52] saifjsl opened #31 "Implement Java API"
We want to extend Spark NLP support in Java Spark

[2017-10-20 05:56] saifjsl opened #32 "Include and perform accuracy measures"
We want to measure annotators accuracy both separately as well as combined against other similar processes within a same testing environment.

[2017-10-20 05:58] saifjsl opened #33 "Include and perform performance measures"
We want to measure our library in a stressful environment situation, not regarding much the training stage but most importantly the transform stages.

[2017-10-20 06:18] saif-ellafi opened #34 "SparkR Support"
Implement SparkR support for NLP annotators library.

[2017-10-20 16:08] ukamath opened #35 "application resource missing while running spark submit"
1. Latest spark-nlp downloaded
2. Run using Spark 2.2
spark-submit --jars /Users/john/spark-nlp/spark-nlp-snapshot.jar
Exception in thread "main" java.lang.IllegalArgumentException: Missing application resource.
	at org.apache.spark.launcher.CommandBuilderUtils.checkArgument(CommandBuilderUtils.java:241)

[2017-10-20 16:19] ukamath opened #36 "Implement Coreference Resolution"
Adding support in the pipeline for Coreference resolution will be really beneficial
https://nlp.stanford.edu/projects/coref.shtml

[2017-10-20 17:07] showy commented on #35
Hi @ukamath . The spark-submit command actually expects a jar file as a the last argument which holds the compiled code. eg. `spark-submit --jars spark-nlp.jar --class Main app.jar`.

If you want to have the repl environment, you could use spark-shell.

I'm closing this issue as is not specific to the library.

[2017-10-20 17:07] #35 closed

[2017-10-20 19:35] showy commented on #36
@ukamath Thanks for the recommendation man, we'll definitely add to the task list. Also you are welcome to contribute to library in any way you can. Let us know if you are interested on taking on the task. We'll happy to assist you.

[2017-10-20 20:40] ukamath commented on #36
Thanks. I can implement the base components and strategies around Neural, Statistical, etc. and provide an implementation for some and have others plug-in the implementations.

[2017-10-21 04:10] saifjsl commented on #29
https://github.com/JohnSnowLabs/spark-nlp/pull/37

[2017-10-21 16:05] Tomczik76 opened #38 "Sentiment Analysis always positive"
I'm evaluating this product and sentiment with the SentimentDetector always returns "result->positive". Does the package come with a trained model or do I have to train one myself?

[code]
Results:
|I hate this natural language processor. It it doesn't work at all!|[[document,0,65,I hate this natural language processor. It it doesn't work at all!,Map()]]|[[document,0,38,I hate this natural languag

[2017-10-21 17:05] aleksei-ai commented on #28
Done

[2017-10-21 17:05] #28 closed

[2017-10-21 20:27] hollinwilkins opened #40 "MLeap integration with spark-nlp"
MLeap provides a way to deploy Spark-trained pipelines to production-ready API servers

## Description
For NLP, the use cases for this abound. This library is great for training. Having an MLeap integration would mean we can deploy the models instantly to an API service.

Feel free to close this issue if you don't think it belongs here, I also made an issue in MLeap to track this integration: http

[2017-10-23 00:36] saifjsl commented on #28
https://github.com/JohnSnowLabs/spark-nlp/pull/39

[2017-10-23 20:08] rylanhalteman opened #41 "Unclear documentation on how to properly use the POSTagger"
## Description
The documentation does not provide a clear way to run the POSTagger.  The [annotator documentation](http://nlp.johnsnowlabs.com/components.html) gives the following snippet:
[code]

However, using this snippet results in a NullPointer exception rather than running.

## Expected Behavior
It would be expected that adding this snippet into a reasonable workflow, such as the one provide

[2017-10-25 13:28] #29 closed

[2017-10-25 14:28] saifjsl commented on #41
Hello, thanks for reporting the issue. I am taking a look at this issue, however I can't seem to reproduce it on my end. I just copy and pasted your code (and correcting the val data line...)

I get:

`scala> pipeline.fit(data).transform(data).show()
java.lang.Exception: Empty corpus for POS
  at com.johnsnowlabs.nlp.annotators.pos.perceptron.PerceptronApproach$.retrievePOSCorpus(PerceptronApproac

[2017-10-25 15:51] saifjsl commented on #41
The problem seems to be related to resources not reading directory file names outside our test environment. We expect the list of file names inside a directory.

[code]

where pointing to _/anc-pos-corpus/1400.txt_ would lead correctly.

A workaround is for now, manually pointing to **_src/main/resources/anc-pos-corpus_** using setCorpusPath()

Will keep looking

[2017-10-25 15:57] saifjsl commented on #38
Hello @Tomczik76

Yes, there are currently two sentiment analysis annotators, SentimentDetectorModel and ViveknSentimentApproach.

Both require training and for now there are no pre-trained annotators, the one you are using needs a setting **setDictPath()** which leads to a file that looks lke this:

ViveknSentimentApproach uses **setPositiveSourcePath** and **setNegativeSourcePath** to point to a

[2017-10-25 15:58] saifjsl commented on #40
Thanks, we are currently evaluating this.

[2017-10-26 06:49] hollinwilkins commented on #40
@saifjsl Sure thing. Let me know if you or anyone wants to jump on a Google hangout to discuss this more.

[2017-10-31 01:06] saifjsl opened #45 "Sentiment analysis not working when tokens get deleted after normalized"
Important bug reported by users of the library, makes the library throw an exception when trying to run sentiment analysis on normalized tokens that might have been removed after becoming empty
## Description

The issue was introduced in 1.2.0, since unpack function was sorting sentence tokens by their index, causing an issue when tokens were removed after clean up.
## Expected Behavior
should not

[2017-10-31 01:08] saifjsl commented on #45
https://github.com/JohnSnowLabs/spark-nlp/pull/46

[2017-10-31 02:36] saifjsl commented on #45
merged to master, released with 1.2.3

[2017-10-31 02:36] #45 closed

[2017-11-05 05:35] nilichen opened #48 "python example sentiment.ipynb - issues with Lemmatizer"
## Description

1. git clone the repository
2. export PYSPARK_DRIVER_PYTHON=jupyter
    export PYSPARK_DRIVER_PYTHON_OPTS='notebook'
3. pyspark --packages JohnSnowLabs:spark-nlp:1.2.3
4. had issues with Lemmatizer when running the sentiment notebook in python example

## Error message
Py4JJavaError: An error occurred while calling o40.setLemmaDict.
: java.lang.NoClassDefFoundError: com/typesafe/co

[2017-11-05 23:32] nilichen commented on #48
Tried with JohnSnowLabs:spark-nlp:1.2.2 and it works!

[2017-11-06 01:28] saifjsl commented on #48
Thank you @nilichen . I've tried both 1.2.3 and 1.2.2 and could not reproduce it either way, what do you think it could be? Looks like typesafe config not properly setup in your classpath but certainly there is no difference between 1.2.3 and 1.2.2, actually there is only minimal change in those versions.

[2017-11-06 05:44] nilichen commented on #48
@saifjsl My bad. I tried with 1.1.0 locally and it worked, neither 1.2.2 nor 1.2.3 works. I think it is indeed a problem of my local setting because I tried 1.2.3 on my school cluster and it works. Thank you so much!

[2017-11-07 17:23] saifjsl commented on #48
thank you

[2017-11-07 17:23] #48 closed

[2017-11-15 16:44] saifjsl commented on #41
https://github.com/JohnSnowLabs/spark-nlp/pull/49

This fix will resolve reading defaults from provided resources

[2017-11-16 18:15] robmoore opened #50 "ViveknSentimentApproach: Question regarding positive and negative sources"
## Description

I've create a Jupyter notebook using the ViveknSentimentApproach along the lines of the notebook provided in the [docs](http://nlp.johnsnowlabs.com/notebooks.html). Rather than using previously created files for the positive and negative training data, I am generating the files within the notebook itself. When I write the training sets to the filesystem (ie, `df.write.mode('overwri

[2017-11-17 05:46] saifjsl commented on #50
Thank you @robmoore
Certainly, the ResourceHelper needs a lot of work to improve it to allow different formats, and also throw proper errors when format or file types are not allowed.

I will take a look to this specific case and see what can be done.

[2017-11-17 14:38] robmoore commented on #50
@saifjsl Thanks! I really appreciate the work the team has done on SparkNLP and I have enjoyed working with it so my apologies if my ticket came off as entitled. My intention was to share the friction point I ran into while working on my [notebook](https://github.com/robmoore/jupyter-trump-sentiment) as a way to learn more about SparkNLP.

[2017-11-19 19:41] robmoore commented on #50
I've reworked my notebook to use the directory approach after removing all of the metadata files mentioned above. I don't get an error but it's clear that the annotator isn't working (all my sentiments are negative). Is there some assumption about what the filenames will be containing the data?

[2017-11-21 06:12] Bhuvanamitra commented on #30
This is highly required as training the model is time taking and should be avoided as much as possible. I tested NER with PERSON Dataset of my own, which contains 6.4Lakh names and it takes close to 30 seconds to produce result. This can be reduced if pretrained models are present.

[2017-11-21 13:35] saifjsl commented on #50
ViveknSentimentAnalysis will take two inputs, a folder containing positive .txt files and a folder containing negative.txt. Then, it will learn from those. You can take a look both at the python notebook examples in python/example folder or at the unit tests of such annotator, to see a use case example. Example training data is also included in the library

[2017-11-22 00:35] robmoore commented on #50
Thanks. I had consulted the example provided in this project previously. It sounds like what I've undertaken in the approach I took subsequent to asking this question is what you outline.

I do the following in my notebook:
[code]
As I said above, I do not get any error messages using this approach but my results are all negative so I suspect something is not working. Is there any logging I could

[2017-11-27 19:30] ekraffmiller opened #51 "Common English words being tagged as NER entities"
I am using NERRegexApproach to tag named entities, and using dict.txt to train the model.
I am getting many common English words tagged as entities, because of the dict.txt data.
Is there another training dataset that I can use which reduce the number of false positives on the entities?  Or is there another way to process the data which will produce a more accurate result?

I thought of filtering

[2017-11-28 02:44] saifjsl commented on #50
Thanks @robmoore . If you can provide me the contents of train-data-pos and train-data-neg as well as a piece of your target data, I may be able to help you and identify where the issue comes from.

For starters, if you are able to make it work with provided resources located in:
/src/test/resources/sentiment.parquet
using positive and negative content examples from:
/src/test/resources/vivekn/pos

[2017-11-28 15:43] robmoore commented on #50
Thanks @saifjsl. I was able to read in the vivekn pos/neg files successfully and received something other than all negative sentiments using the same pipeline as before.

I compared the input I'm using to the vivekn version and the only difference that stood out to me is that the last line of the vivekn version doesn't end in a linefeed whereas mine does.

Perhaps you can spot something I'm missin

[2017-12-04 19:56] sujitpal opened #52 "Lemmatizer should use POS and token to generate Lemma, have a default dictionary, and allow addition + overriding"
## Description

This is an enhancement request the Lemmatizer.

## Expected Behavior

1. The current lemmatizer appears to be dictionary based, and the caller needs to supply a mapping of word to lemma. From other dictionary based lemmatizers I have seen, the key is usually (token, pos). This is because certain words need to be lemmatized differently based on what POS it is - for example, stranger

[2017-12-07 21:16] showy commented on #51
We are working right now on a new CRF NER model that doesn't have the pitfalls of the regex model. Another possible solution will be to NER tag only a subset of POS tagged words like nouns. Maybe this is something worth adding as a feature to the RegexNER @saifjsl ?

[2017-12-07 21:29] showy commented on #52
@sujitpal Thanks for the observations. Effectively the lemma should make use of the POS tag. We'll be looking towards supporting these changes.

[2017-12-09 20:56] clayms opened #53 "Scala code on Python code tabs on Project's website."
Much of the "Python" code on the components.html page is a strange mixture of Scala and Python code.

[2017-12-09 21:29] clayms opened #54 "DocumentAssembler().setIdCol() throws error"
This code:

[code]

throws this error:

[code]

Changing line 33 of sparknlp base.py from:
  `return self._set(idCol=value)`
to:
  `return self._set(idColName=value)`
fixed the problem for me.

[2017-12-10 14:05] clayms opened #55 "python DocumentAssembler minor code description error"
Error in base.py lines 10 - 12 from:

[code]

to:

[code]

[2017-12-10 15:41] clayms opened #56 "DocumentAssembler().explainParams() throws ValueError."
running `DocumentAssembler().explainParams()` throws the following error.

`ValueError: Param Param(parent=u'DocumentAssembler_4d3093c7d855b0453bcc', name='idCol', doc='input column name.') does not belong to DocumentAssembler_4d3093c7d855b0453bcc.`

changing base.py lines 10 -12 from:

[code]

to:

[code]

fixed the problem for me.

[2017-12-10 20:48] clayms opened #57 "EntityExtractor().setRequireSentences(True) throws error."
`EntityExtractor().setRequireSentences(True)`

throws this error:

[code]

From the EntityExtractor.scala file, I found the `sentences` parameter defined on lines 99 to 105, but when I changed lines 191 and 192 in annotator.py from:

    def setRequireSentences(self, value):
        return self._set(requireSentences=value)

to:

    def setRequireSentences(self, value):
        return self._set(se

[2017-12-10 21:05] clayms opened #58 "using setRequiredAnnotatorTypes() with many of the annotators throws error."
Many of the annotators in annotator.py list `requiredAnnotatorTypes()` as a parameter when using either `<annotatorName>().explainParams()`, or `dir(<annotatorName>)`.

However, when using `<annotatorName>().setRequiredAnnotatorTypes` on most of these annotators, the following error is thrown.

[code]

The only place where the `requiredAnnotatorTypes` parameter is shown is in the `class AnnotatorP

[2017-12-11 13:30] clayms opened #59 "Adding StopWordsRemover"
I want to add the pyspark.ml.feature StopWordsRemover as a class in the annotator.py file so I can use that function in the same pipeline as the other sparknlp functions.

I have tried the code below, but I get the error: `TypeError: 'JavaPackage' object is not callable`

What am I doing wrong?

[code]

[2017-12-12 02:00] clayms commented on #59
How do I add the pyspark.ml.feature  StopWordsRemover to the spark-nlp_2.11-1.2.3.jar file?

[2017-12-13 13:57] javadba opened #60 "Velocity of this project"
This project was featured as a blog on DataBricks site on October 19. Since then the project was pushed to github and 24 issues logged. Of these *five* have been closed as of December 13: and those were only between October 21 and Nov 5.  So there has been visible activity for about two weeks out of the project's 8 weeks of visible lifetime.

What is the story about project maintenance and improve

[2017-12-13 17:10] maziyarpanahi commented on #41
Hi @saifjsl,

Is your merged commits included in version 1.2.3 on Maven? Cause in the latest version I have to copy `anc-pos-corpus` directory to my resources and manually pointed to what you mentioned here.

Many thanks.

[2017-12-13 20:44] saifjsl commented on #41
hey @maziyarpanahi thanks,

No, we did not make any release since that issue. We are quite busy on December but will retake activity soon :)

[2017-12-13 20:57] maziyarpanahi commented on #41
No problem at all mate! I was just making sure I’m not missing something :)
Thank you and have a great day.

[2017-12-14 00:11] zhangjinge588 opened #62 "wordCount from ResourceHelper doesn't return any value from Map[String, Int]"
When reading the corpus as "TXTDS" configured from the SpellChecker, the variable **result** has 0 Values (e.g. result.toSeq.length == 0). Please offer suggestion on how to retrieve this.
The code snippet is below: (starting at ResourceHelper.Scala:273)
[code]

[2017-12-14 08:11] aleksei-ai commented on #41
The changes are in master, so I'm closing this issue.

[2017-12-14 08:11] #41 closed

[2017-12-14 08:35] aleksei-ai commented on #57
It seems that EntityExtractor works totally incorrect. Will rewrite it in a day.

[2017-12-14 08:50] aleksei-ai commented on #56
Thank you @clayms! Fixed in master will release soon.

[2017-12-14 08:50] #56 closed

[2017-12-14 08:53] aleksei-ai commented on #55
As I understand this issue is the same as https://github.com/JohnSnowLabs/spark-nlp/issues/56.
I'm closing this issue.
If I'm wrong fill free to reopen it.

[2017-12-14 08:53] #55 closed

[2017-12-14 08:58] aleksei-ai commented on #54
As I understand it's duplicate of issue https://github.com/JohnSnowLabs/spark-nlp/issues/56.
If I'm wrong fill free to reopen it.

[2017-12-14 08:58] #54 closed

[2017-12-14 09:45] aleksei-ai commented on #51
@ekraffmiller
* Regex works bad for NER. I've removed RegexNer https://github.com/JohnSnowLabs/spark-nlp/pull/63
* Please, use NerCrfApproach instead. Here are two examples of how to train it:
** Example of training on conll2003  https://github.com/JohnSnowLabs/spark-nlp/blob/master/python/example/crf-ner/ner.ipynb
** Example of dataset reading, ingestion and train using it: https://github.com/Joh

[2017-12-14 09:45] #51 closed

[2017-12-14 13:07] rylanhalteman commented on #41
Works for me, I haven't had the time to retest this yet.  Thanks for fixing!

[2017-12-14 14:59] petervilleroy commented on #41
Thanks for including this in your next release, defaulting to standard Corpus a huge plus.

[2017-12-14 16:27] aleksei-ai commented on #57
@clayms  Thank you for report.
I've recreated EntityExtractor in branch https://github.com/JohnSnowLabs/spark-nlp/tree/rewrite_entity_extractor
Here is an example notebook how to use it https://github.com/JohnSnowLabs/spark-nlp/blob/rewrite_entity_extractor/python/example/entities-extractor/extractor.ipynb

[2017-12-15 11:13] aleksei-ai opened #65 "SentenceDetectorModel fills incorrect begin and end in annotation"
SentenceDetectorModel returns incorrect begin and end of sentence starting from the second sentence in the document.
For example:
"Hello World!! New Sentence"
## Description

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

## Context

## Your Environment

* Version used:
* Browser Name and version:
* Operating System and version (desktop or mobi

[2017-12-15 12:44] aleksei-ai commented on #62
@zhangjinge588
1. Do you use method .setCorpusPath(path)?
2. If "Yes", Do you read from local file, or spark-nlp jar resource file?

[2017-12-15 14:02] aleksei-ai commented on #58
@clayms  What annotator you use?
I tried with different annotators and it works for me:
print(PerceptronApproach().explainParams())
print(EntityExtractor().explainParams())
print(ViveknSentimentApproach().explainParams())
print(NorvigSweetingApproach().explainParams())
print(NerCrfApproach().explainParams())

[2017-12-15 20:14] aleksei-ai commented on #59
@clayms As I see you have a line self._java_obj = self._new_java_obj("com.johnsnowlabs.nlp.annotators.StopWordsRemover", self.uid)
But there is not StopWordsRemover in package com.johnsnowlabs.nlp.annotators. I think that is the reason why you got this Exception.

I suggest to add pyspark StopWordsRemover as a first stage of your pipeline.

[2017-12-17 19:46] clayms commented on #59
Thank you @aleksei-ai .  I see that now.  I got the Spark ML StopWordsRemover to work previously together with the Spark ML RegexTokenizer, but was having trouble getting them to work in the same pipeline as the John Snow Labs annotators.  I ended up putting those Spark ML stages at the end of the John Snow Labs annotator stages.  The end results are what I am after.  Thank you.

[2017-12-17 19:46] #59 closed

[2017-12-17 19:56] clayms commented on #58
Hi @aleksei-ai I have tried it with RegexTokenizer, Normalizer, Stemmer, Lemmatizer, RegexMatcher, EntityExtractor, DateMatcher, SentenceDetectorModel, PerceptronApproach, SentimentDetectorModel, NERRegexApproach, and NorvigSweetingApproach.

the .explainParams() method works on all of them, but when I try and use the .setRequiredAnnotatorTypes when building the annotator to use in a pipeline, tha

[2017-12-18 04:53] saifjsl commented on #58
Hi, setRequiredAnnotatorTypes() is a deprecated method and should not be used. This function in python code is just a mistake of a lingering code. Shall be deleted. Thank you @clayms

[2017-12-18 04:57] saifjsl commented on #60
Thank you @javadba for the honest feedback. It is true we've been lagging behind but it is also because we are catching up and synchronizing priorities. We are actively working on this project and shall see further activity towards the beginning of the new year for sure.

[2017-12-18 05:03] saifjsl commented on #58
Merged Fix

[2017-12-18 05:03] #58 closed

[2017-12-18 05:06] javadba commented on #60
Thanks - it would be great to have better nlp related algos in spark.

[2017-12-18 05:06] #60 closed

[2017-12-18 05:24] saifjsl commented on #62
Hello @zhangjinge588, thank you for testing the library.
To confirm this works properly, I have added a unittest here: https://github.com/JohnSnowLabs/spark-nlp/pull/67

This shows TXTDS works normally. So perhaps there is an unclear instruction on how it works:

TXTDS tells the spellchecker to read training corpus using a Spark Dataset. This is useful when the training corpus may be large and dis

[2017-12-18 05:24] #62 closed

[2017-12-18 05:26] saifjsl commented on #53
Hey @clayms can you help pinpoint one example of a strange mixture? thank you!

[2017-12-18 05:47] saifjsl commented on #38
lack of further input. closed.

[2017-12-18 05:47] #38 closed

[2017-12-18 08:07] saifjsl opened #69 "Resolve annotators and pipelines consuming lots of driver RAM"
## Description

Annotators, specifically the Vivekn Sentiment Analysis, is consuming lots of driver RAM due to standard scala collections containing model information. This becomes a storage both inside pipelines and when reading the models back. We need to let this information flow from disk instead

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce

1.
2.
3.

[2017-12-18 14:19] clayms commented on #53
Hi @saifjsl   on the (http://nlp.johnsnowlabs.com/components.html)[components] site the following pyspark annotators still has the `val` and `new` scala code there:

stemmer: Looks like you just fixed it :-)

SentenceDetector, POSTagger, and Finisher still need fixing.  I think that is about it.

[2017-12-19 01:46] saifjsl commented on #53
Very much appreciated @clayms. Feel free to let us know of any other misleading information.

[2017-12-19 01:46] #53 closed

[2017-12-26 00:53] siddarthareddyt opened #71 "Unable to load saved pipelinemodel if i used Stemmer in the pipeline"
The error: **java.lang.NoSuchMethodException: com.johnsnowlabs.nlp.annotators.Stemmer.read()**
## Description

I have trained a classifier with following Annotators:
     documentAssembler,
      sentenceDetector,
      tokenizer,
      normalizer,
      spellChecker,
      stemmer,
      finisher,
      filterer.

The model is trained and saved successfully.
However, when I load the model to pred

[2017-12-26 11:51] aleksei-ai commented on #69
@saifjsl Please try my fix with Kryo Serialization. Let me know is it works for you https://github.com/JohnSnowLabs/spark-nlp/tree/vivekn_sentiment_model_kryo_serialization

[2017-12-26 11:51] #69 closed

[2017-12-26 12:38] aleksei-ai commented on #71
@siddarthareddyt  Thank you for the bug report.
I fixed it in master https://github.com/JohnSnowLabs/spark-nlp/commit/cb9aa4366f3e2c9863482df39e07b7bacff13049
Will be included into next release

[2017-12-26 12:38] #71 closed

[2017-12-26 15:26] maziyarpanahi opened #73 "Latest release (1.2.4) has not been yet published on Maven"
## Description
Hello, the SBT can't find the latest release on Maven repository:
https://mvnrepository.com/artifact/com.johnsnowlabs.nlp/spark-nlp

Therefore, the SBT fails to download the new release on refresh. Also, the jar is pointed to 1.2.3 version from Maven on the Home Page:
http://nlp.johnsnowlabs.com/

Many thanks.

## Current Behavior
[code]
## Steps to Reproduce

`  "com.johnsnowlabs.n

[2017-12-27 16:36] aleksei-ai commented on #65
Fixed in https://github.com/JohnSnowLabs/spark-nlp/pull/75

[2017-12-27 16:36] #65 closed

[2017-12-28 14:21] showy commented on #73
@maziyarpanahi Thanks for noticing. We have already published the artifacts to maven central and spark-packages.

[2017-12-28 14:21] #73 closed

[2017-12-30 03:44] Dabada opened #77 "Typo in NerCrfApproach"
https://github.com/JohnSnowLabs/spark-nlp/blob/fce84691a2d8943ee6db8b5c115c4144e5f5bc02/src/main/scala/com/johnsnowlabs/nlp/annotators/ner/crf/NerCrfApproach.scala#L61

The function setDatsetPath shoud be setDatasetPath

[2018-01-02 10:11] yiruol commented on #34
Which version will contain this feature?

[2018-01-02 10:12] yiruol commented on #34
Which version will contain this feature? @aleksei-ai

[2018-01-02 19:53] gregar commented on #36
Would this include NE Disambiguation as a more general case?

[2018-01-08 11:54] maziyarpanahi commented on #77
I made a pull request, thanks

[2018-01-08 21:16] saifjsl commented on #77
Thank you, merged

[2018-01-08 21:16] #77 closed

[2018-01-08 21:17] saifjsl commented on #69
https://github.com/JohnSnowLabs/spark-nlp/pull/78

[2018-01-11 09:43] lambdaofgod opened #80 "Deploy spark-nlp 1.2.5 to maven-central"
## Description

Version 1.2.5 [is not uploaded to Maven Central](https://mvnrepository.com/artifact/com.johnsnowlabs.nlp/spark-nlp).

## Expected Behavior
It should be deployed since it says so in README ;)

[2018-01-11 14:42] saifjsl commented on #80
thank you @lambdaofgod I'm working on it. It's been a struggling release :)

[2018-01-11 15:08] saifjsl commented on #80
Published. It might take some time. It is already available if used as dependency

http://central.maven.org/maven2/com/johnsnowlabs/nlp/spark-nlp_2.11/

[2018-01-11 18:54] lambdaofgod commented on #80
It works! Thanks @saifjsl !

[2018-01-11 18:54] #80 closed

[2018-01-19 06:33] sofianeh opened #85 "Could not initialize class com.johnsnowlabs.nlp.util.io.ResourceHelper$ error with EntityExtractor().setEntitiesPath"
I receive this error when I try to use EntityExtractor() in a transformer in Python:

[code]
I tested with v1.2.6

[2018-01-23 10:49] anju-jsl opened #86 "Change the copyright year in all html pages"
## Description
All HTML pages for nlp.johsnowlabs.com should have "© 2017-2018" in the footer

[2018-01-23 10:53] maziyarpanahi commented on #86
I can do this, if this is the right format and I am allowed to touch the HTML on the pages?
`last time I did update the HTML it was rejected`

[2018-01-23 10:54] anju-jsl opened #87 "All HTML pages should have unique title"
## Description
Titles are same for most of the pages e.g. components.html, faqs.html. We should add unique and contextual titles for each page.
title tags are used in SEO and SERPs (Search engine result pages)

[2018-01-25 16:16] saifjsl opened #91 "Python annotators should be loadable on its own"
## Description

Python annotators can be loeaded when inside a pipeline, but it fails when loaded on its own:
[code]
[code]

## Expected Behavior

We should be able to load standalone python components

[2018-01-25 21:56] saifjsl opened #92 "DateMatcher should create RuleFactory only once"
## Description

DateMatcher is creating a RuleFactory on every attempt to match a date. Should be created once right before the annotate() call if possible

[2018-01-26 22:05] randomgambit commented on #34
Also interested in that. What about Sparklyr? https://github.com/rstudio/sparklyr

[2018-01-29 18:56] sofianeh commented on #57
I can't have the EntityExtractor() match with any of my entities even though my documents contain those. Here's a simple example I've built in Databricks, as you can see _entitites_ column is an empty list
https://databricks-prod-cloudfront.cloud.databricks.com/public/4027ec902e239c93eaaa8714f173bcfc/3306898732834076/1537424650694939/3546260386063631/latest.html

[2018-01-31 14:13] aleksei-ai commented on #57
@sofianeh It seems that file /dbfs/testfile.txt is local file not an hdfs file.

Can you try file:///dbfs/testfile.txt instead?

[2018-01-31 16:00] sofianeh commented on #57
Already tried with both file:///dbfs/testfile.txt and file:/dbfs/testfile.txt. The end up with this error:
`Caused by: java.io.FileNotFoundException: file:/dbfs/testfile.txt (No such file or directory)`

[2018-01-31 16:04] saifjsl commented on #57
@sofianeh there is a param called **entitiesFormat**. By default, this param is set to "TXT" which means it only reads from local files without any prefix (we could add parsing of the prefix). To use with prefix and/or to read from hdfs with prefix, you should set this param to "TXTDS"

This will use spark to read such file, and spark allows file:// or hdfs:// prefix

use **setEntitiesFormat("TXTD

[2018-01-31 16:11] sofianeh commented on #57
Yes, using TXTDS prevents the error, but I still end up with empty entities. Is there something wrong in my example (content of testfile.txt, my documents, my Pipeline, ...)?
Also, the [documentation](http://nlp.johnsnowlabs.com/components.html) mentions a _setMaxLen(number)_ parameter but it seems no longer working.

[2018-01-31 16:25] saifjsl commented on #57
@sofianeh what is the content of testfile.txt?? and thanks, setMaxLen doesn't exist anymore.

I have just tried this and worked for me (this is one of the unit tests we have there, I have changed it to TXTDS though)
[code]

[2018-01-31 16:27] sofianeh commented on #57
testfile.txt is created on the fly within the example notebook I've provided above

[2018-01-31 16:33] saifjsl commented on #57
Right, sorry about that. Let me check i'll try the same thing

[2018-01-31 16:45] saifjsl commented on #57
@sofianeh wow. We found the bug. Actually it is not a bug a bad decision. We are normalizing the input file you provide (testfile.txt) and thus, it lower cases all its contente. Hence it is not matching 'Hello World'.

We'll fix this quick. Not normalize the input unless the user uses RecursivePipelines (a new Pipeline object that allows transforming the input with the same Pipeline the user is us

[2018-01-31 16:50] sofianeh commented on #57
Thanks @saifjsl. I will use the workaround you've suggested for now. By the way, setInsideSentences() param is not documented anywhere

[2018-01-31 16:53] saifjsl commented on #57
Will update the website asap as well. setInsideSentences decides whether you want to respect or not the sentence bounds. Is set to True by default.

For example, if you search for a piece of text **'This is a sentence. This is another'**, if InsideSentences is True, this will never match since the target belongs to different sentences. Most of the times it is not the case.

Feel free to share feed

[2018-01-31 17:00] #57 closed

[2018-01-31 17:19] sofianeh opened #95 "Available jars on Maven Central do not include Python API"
I've noticed the the jars [here](https://search.maven.org/#artifactdetails%7Ccom.johnsnowlabs.nlp%7Cspark-nlp_2.11%7C1.3.0%7Cjar) are missing python the api. Is this on purpose?

[2018-01-31 17:33] sofianeh commented on #57
I've published my working example on [github](https://github.com/sofianeh/databricks-examples/blob/master/python/SparkNLP-entityExtractor-example.py) in case people will need to understand the issue I was having.

[2018-02-02 02:48] saifjsl commented on #95
Hi @sofianeh Thank you for the feedback!

The jar won't include python API. Python API for pyspark is meant to be used throughout --packages in Spark-Packages which will download it for you and include it in any spark session. https://spark-packages.org/package/JohnSnowLabs/spark-nlp

Nonetheless, will be working on adding spark-nlp as a python PIP module.

Please close if this answers your commen

[2018-02-02 09:10] anju-jsl commented on #86
Thank you @maziyarpanahi for providing the help
I had to make another change in the footer and alongside changed this one also.
Hope thats ok, and please do keep checking the spark-nlp repo and keep providing the suggestions for further improvements.
Thanks
Anju

[2018-02-02 09:10] #86 closed

[2018-02-05 14:28] sofianeh commented on #95
Installing from Maven Central adds also many dependencies artifacts, which is not the case when you install the pyhton jar alone (might be the reason for this error in [Issue 85](https://github.com/JohnSnowLabs/spark-nlp/issues/85)

[2018-02-05 14:46] lorenz-nlp opened #98 "tests-jar in release"
## Description

When implementing an own AnnotatorModel, I would love to (re)-use text-fixtures of Spark NLP, such as AnnotatorBuilder or DataBuilder

## Expected Behavior
spark-nlp-${spark-nlp-version}-tests.jar is provided in the spark repo, so that it can be used as a test-dependency

## Current Behavior
No spark-nlp-${spark-nlp-version}-tests.jar is provided

## Possible Solution
In maven, the

[2018-02-05 17:17] showy commented on #98
@lorenz-nlp I really like this idea. We'll check to extract the tests utilities into their own artifact .

[2018-02-05 19:16] lorenz-nlp commented on #98
@showy Great, I'm looking forward to it, many thanks!

[2018-02-07 16:04] Crisliu opened #101 "Cannot find entity match in NerCrfApproach"
## Description

When using NerCrfApproach, it returns error message below. I use a simple text data to test, which includes 'Walmart is in Germany‘, but it cannot find any matching on 'Germany', even that 'Germany' is contained in the test_ner_dataset.txt

## Expected Behavior

It should find some match from the simple test data.

## Current Behavior

Error message: java.util.NoSuchElementExceptio

[2018-02-08 03:04] toddleo opened #103 "Road Map for Other Languages"
Hi,

I understand it's non-trivial work, but, still wonder if other languages (say, Chinese) are already on your road map. Or is the model plug-able so that developers can easily attach Chinese models in spark-nlp?

---
BR,
Todd

[2018-02-09 01:14] showy commented on #98
@lorenz-nlp For our new release 1.4.0 we published the test artifacts. Let me know if you have any problem.

[2018-02-09 11:33] GreGGus commented on #50
Same issue in Spark/Scala

HDFS :
    -/user/me/tweet/txt/neg/neg_tweet.txt
    -/user/me/tweet/txt/pos/pos_tweet.txt

`    val sentiment_analysis = new ViveknSentimentApproach()
      .setInputCols(Array("token", "sentence"))
      .setOutputCol("vivekn")
      .setPositiveSourcePath("/user/me/tweet/txt/pos")
      .setNegativeSourcePath("/user/me/tweet/txt/neg")
`

Doesn't work.

`    val sentim

[2018-02-09 12:56] GreGGus commented on #50
My bad

[2018-02-10 00:30] saifjsl commented on #50
Hi @Griggs,  next release is reworking all external inputs reader to allow filesystem or hdfs just as spark does.

[2018-02-10 00:35] saifjsl commented on #50
I mean 1.4.0

[2018-02-13 10:19] eoinlane opened #105 "java.lang.UnsatisfiedLinkError: org.rocksdb.LRUCache.newLRUCache(JIZD)J when trying to do NER using NerCrf"
Issue with NER in version 1.4

## Description
I am using a Databricks notebook to run the latest version of Spark NLP and trying to do NER using NerCrf. I get an error below and this takes a long time to run.

## Expected Behavior
I get the following error when i run the NerCrf

java.lang.UnsatisfiedLinkError: org.rocksdb.LRUCache.newLRUCache(JIZD)J
	at org.rocksdb.LRUCache.newLRUCache(Native Meth

[2018-02-13 14:13] aleksei-ai commented on #105
@eoinlane It seems that RocksDB 5.2.1 is already used by DataBricks https://docs.databricks.com/release-notes/runtime/3.3.html

Probably shading we can do shading or release special version for DataBricks

[2018-02-13 14:17] aleksei-ai commented on #101
@Crisliu May I ask you to attach full exception (with stack)?

[2018-02-13 14:32] aleksei-ai commented on #85
@sofianeh May I ask you:
1. Sample of code that reproduces that error?
2. What spark-nlp library version do you use? Do you use spark+yarn?

[2018-02-13 14:34] aleksei-ai commented on #30
Implemented it: https://github.com/JohnSnowLabs/spark-nlp/pull/104
Will be released in 1.5

[2018-02-13 14:34] #30 closed

[2018-02-13 14:45] sofianeh commented on #85
It is the same [code example](https://github.com/sofianeh/databricks-examples/blob/master/python/SparkNLP-entityExtractor-example.py) I've mentionned in [Issue 57](https://github.com/JohnSnowLabs/spark-nlp/issues/57). The error occurs when I use a Databricks multi-node spark cluster. I've already contacted them and it looks like the spark-nlp library is trying to create another spark context withi

[2018-02-13 14:50] aleksei-ai commented on #85
@saifjsl Is it solved by 1.4? Can you help with it?

[2018-02-13 16:47] eoinlane commented on #105
Thanks aleksei-ai, a release special version for DataBricks would be great.

[2018-02-13 20:07] lorenz-nlp commented on #98
Many thanks for your quick reaction! I upgraded today to v1.4.0 in order to use the test artifacts. However, I was not able to retrieve them, and in Maven Central no test artifacts are known (https://dl.bintray.com/spark-packages/maven/JohnSnowLabs/spark-nlp/1.4.0/). Would you be so kind to check?

Best, Lorenz

[2018-02-15 14:43] albertoandreottiATgmail commented on #85
Hi @aleksei-ai, @sofianeh,

I was able to reproduce this problem too. It seems that as @sofianeh mentioned, a spark context is being created in one of the executors, and as a result the class that contains the context cannot be instantiated.
I can fix this with a reorg of the code, as the code we need to run on the executors doesn't actually need the initialized spark context.
I can have a PR for

[2018-02-15 16:46] aleksei-ai commented on #85
@albertoandreottiATgmail Hi Alberto,

Yes, it will be great.

[2018-02-15 17:44] cj2001 opened #106 "pyspark on EMR not able to import"
I am attempting to run this on an AWS EMR cluster with PySpark.  It runs just fine in spark-shell, but I cannot import the package via pyspark.

## Description

I run pyspark from the CLI via:

`pyspark --packages JohnSnowLabs:spark-nlp:1.4.0`

which gets the shell started with a few warning lines that are not usually present:

[code]

I immediately try to do `from sparknlp.annotator import *` and

[2018-02-15 19:51] albertoandreottiATgmail commented on #85
Hi guys,

after reviewing the new code and testing, I can confirm that this is no longer a bug in the current code base. So no PR from my side, although @sofianeh  you will need to change the way you instantiate the EntityExtractor, like this,

extractor = EntityExtractor()\
  .setEntities("/dbfs/myentities.txt")\
  .setInputCols(["normal", "sentence"])\
  .setOutputCol("entities")

Only thing you

[2018-02-20 15:19] albertoandreottiATgmail commented on #105
hi @eoinlane, until a special release for Databricks comes along, you can use the following image to create your cluster in Databricks platform,
Spark 2.1 (Auto-updating, Scala2.11)

I tried that image and was able to run your code without problems.

[2018-02-20 17:15] lorenz-nlp opened #108 "SentenceDetector replaces "ö" with "?""
The SentenceDetector is applied on German texts. If an "ö" occurs, it is replaced by "?".  However, if other German special characters (such as ä,ü,ß) occur, the SentenceDetector performs as it should, and does not replace them by a question mark.

## Expected Behavior
The SentenceDetector should not change the text within its annotation.

## Current Behavior
The SentenceDetector replaces "ö" by "

[2018-02-20 19:16] albertoandreottiATgmail commented on #105
I created a jar that uses older 5.2.1 rocksdb library, that will enable the use of the latest 3.5 Databricks images, take a look here,
https://drive.google.com/open?id=1WwNDDjPXBo3LDxYtbsADscwnDFLXKkNv

@saifjsl, @aleksei-ai, A PR for this can be found ([here](https://github.com/JohnSnowLabs/spark-nlp/pull/109)).

[2018-02-20 19:30] sofianeh commented on #85
@albertoandreottiATgmail I loaded your JAR and I now receive the following error:
`java.io.FileNotFoundException: File/XXXXXXXXXXXXXXX/dbfs/myentities.txt does not exist.
`

When I try to use setEntitiesFormat('TXTDS') instead, I receive this error:
`AttributeError: 'EntityExtractor' object has no attribute 'setEntitiesFormat'`

[2018-02-20 20:24] albertoandreottiATgmail commented on #85
hi @sofianeh, the API has changed a bit, the setEntitiesFormat() method is gone, now you specify the format as a parameter to setEntities() method, example,

setEntities(self, path, read_as="LINE_BY_LINE", options={"format": "text"})

documentation is indeed outdated, and there's already a PR for it that should be merged in the following days.

[2018-02-21 06:37] sofianeh opened #110 "Input format examples in DateMatcher()"
Could you please include some examples of accepted input date formats that would be automatically detected by the DateMatcher? I have a corpus using multiple formats that are not detected, here are some examples:
[code]
Is it be possible to add our own custom input formats?

Also, it is not clear what are the accepted InputCols as well. Having tried Tokens and Sentences crashes the pipeline execut

[2018-02-21 21:51] eoinlane commented on #105
I can confirm that both of those options are working and look forward to a supported Databricks release going forward. Thanks for all your help.

[2018-02-21 22:10] easimadi opened #112 "Tokenizer: Composite Tokens not retained when targetPattern is set"
When I `setTargetPatter(\\w+)` , composite tokens are not retained
## Description

Below code returns 3 tokens 'New', 'York', 'City' instead of 'New York City'.
However  When I comment out setTargetPattern(\\w+) the behaviour is becomes correct.
[code]

## Context

I am using Spark-NLP release 1.4

[2018-02-22 10:50] pobreiluso opened #113 "Tokenizer: NoSuchMethodError: com.johnsnowlabs.nlp.annotators.common.Sentence.start()"
## Description

Tokenizer isn't working while using Python bindings for SparkNLP 1.4.
In SparkNLP 1.2.3 I used RegexTokenizer without any issue.

## Expected Behavior

I expected to get a list of tokens from product titles that I pased as parameters, for example.

["this is a product title"]  == should return ==> ["this", "is", "a","product","title"]

## Current Behavior

The scripts returns the e

[2018-02-22 14:21] saifjsl commented on #98
I'm wondering whether the AnnotatorBuilder and the DataBuilder wouldn't be useful on the main repo actually...

[2018-02-22 14:32] saifjsl commented on #103
Hi @toddleo thanks for you interest in the library.

Currently the library works as language-agnostic for occidental languages only. There is no other language support plans in the short term, but we are willing to accept contributions or help to get it prioritized further.

[2018-02-22 14:32] #103 closed

[2018-02-22 14:40] saifjsl commented on #106
@cj2001 thanks for the feedback. This is indeed interesting.

I myself tried on Amazon EMR two weeks ago and it worked on a m4 large cluster.

The library is intended to work both on python2 and python3, nonetheless it wouldn't hurt if you could try it with python3 to try to catch where the error comes from.

[2018-02-22 14:47] saifjsl commented on #110
hi @sofianeh

The datematcher says to require DOCUMENT type, meaning either DocumentAssembler's output or SentenceDetector's output. Tokens won't work but sentences should.

Regarding the supported formats, the unit test coverage checks on the following formats:

[code]

Anything outside these example's format is probably not covered. I am surprised 'June 30, 2021' doesn't work though, i'll take a

[2018-02-22 14:51] showy commented on #98
@lorenz-nlp actually the test artifact was built for the maven central repository. You can retrieve it from here https://search.maven.org/#search%7Cga%7C1%7Ca%3A%22spark-nlp_2.11%22 . Is there any specific reason why you are using the spark packages repo in order to retrieve it? In any case we'll try to also add it to our next releases.

@saifjsl I would prefer to leave them out the main build fro

[2018-02-22 14:54] saifjsl commented on #105
Going with this downgrade fix for now https://github.com/JohnSnowLabs/spark-nlp/pull/109
We should consider longer term solution though.

[2018-02-22 14:54] #105 closed

[2018-02-22 17:29] cj2001 commented on #106
Just tried it and got the same result...

[code]

[2018-02-23 15:21] lorenz-nlp commented on #98
@showy It seems like I accidentally used "JohnSnowLabs" as the groupId, and this has forced me to get the jars from the Spark packages repo. Once I switch the groupId to "com.johnsnowlabs.nlp", the test-jars will be provided by maven central apparently. Thanks a lot!

Btw, is there a reason why the coordinates of the releases vary depending on the repo?

[2018-02-23 16:53] showy commented on #98
@lorenz-nlp actually we deploy all versions to spark-packages and to maven central. We deploy to maven central for the dependencies in the development projects and  we  deploy to spark packages so that the library can be easily downloadable with the spark command ```--package JohnSnowLabs:spark-nlp:version``` . We know that the package command could also download from maven central directly but th

[2018-02-23 16:53] #98 closed

[2018-02-23 16:58] saifjsl commented on #112
https://github.com/JohnSnowLabs/spark-nlp/pull/115

[2018-02-23 17:51] saifjsl commented on #113
I am being unable to reproduce this issue, I have executed pyspark with
`~/apps/spark-2.1.1-bin-hadoop2.7/bin/spark-submit --driver-memory 2g --executor-memory 2g --num-executors 4 --executor-cores 4 --packages JohnSnowLabs:spark-nlp:1.4.0 code.py`

with this following code
[code]

[2018-02-23 17:54] #112 closed

[2018-02-23 17:58] saifjsl commented on #106
hm, I am not sure where to start looking. Does this also happen if you use --master local[*] ??

Not sure if there is any remote chance of the downloaded package is corrupt or not properly downloaded.

[2018-02-23 18:12] albertoandreottiATgmail commented on #113
I couldn't reproduce the problem either, looks to me like a classpath problem?

[2018-02-23 20:30] saifjsl commented on #101
I think I could reproduce it, this happens directly in our examples jupyter notebooks. I'll take a look

[2018-02-23 21:30] saifjsl commented on #101
@aleksei-ai this seems to happen because function embeddings() is being called even when sourceEmbeddingsPath has not been set. I'll need your help here, since this is being used.

This should be fixed by 1.4.1.

Thanks @Crisliu for reporting it.

[2018-02-24 11:49] aleksei-ai commented on #101
The bug is fixed. Thank you @saifjsl !

[2018-02-26 02:00] sofianeh commented on #95
Installing yhe library from Maven on Databricks adds all the following artifacts, are those required when using the Python API?
![image](https://user-images.githubusercontent.com/271142/36650016-eb344690-1a6e-11e8-9981-c28185f0b2a7.png)

[2018-02-26 02:02] sofianeh commented on #85
@albertoandreottiATgmail Are the changes in your JAR (from google drive) now included in the master branch?

[2018-02-26 07:35] pobreiluso commented on #113
Hi There and sorry for the late response, I have been messing around with this issue, and finally i can confirm that it was all related to a classpath issue.

If I run my spark-submit command within spark-nlp/python/ directory it works like a charm, otherwise it throws the reported error.
Now I am figuring some way to run my code while using virtualenv in cluster mode, but that's another history,

[2018-02-26 07:35] #113 closed

[2018-02-26 14:33] albertoandreottiATgmail commented on #85
HI @sofianeh, yes, it should work now with the jar coming from the new release. Please take a look and let me know if anything does not work as expected.

[2018-02-26 22:41] avenka11 opened #121 "Wrong FS when loading PerceptronModel"
## Description
Saving a trained POS model to s3 and loading it back throws a `java.lang.IllegalArgumentException` exception with the message "Wrong FS, ... expected: hdfs...."

## Expected Behavior
A saved model (either standalone or as part of a spark PipelineModel) should be loadable from s3

## Current Behavior
While the model can be saved at the moment, reading it back either as a standalone m

[2018-02-27 05:11] arnold-jr opened #122 "java.land.NullPointerException in DocumentAssembler"
Hi,

Thanks for the code! Lots of good functionality here!

I've run into the following issue:

https://github.com/JohnSnowLabs/spark-nlp/blob/1244e9312d6074761c8426965b73c6d942b24092/src/main/scala/com/johnsnowlabs/nlp/DocumentAssembler.scala#L52

According to this line, if `text.length` <= 0 then the upper bound of the range is `< 0`, which I believe is causing a `NullPointerException` for my `D

[2018-02-27 11:00] showy commented on #122
@arnold-jr effectively we don't have a 0 lower bound for the length so we are going to resolve this. Now, it also would be helpful if you describe your whole pipeline and if you paste the error. Thanks :)

[2018-02-27 11:02] showy commented on #122
I have not been able to reproduce the NullPointerException with the DocumentAssembler alone.

[2018-02-27 13:33] showy commented on #121
@avenka11 thanks for the report. Could you provide me information about your spark environment? Version, is it an Amazon EMR spark instance?. Thanks

[2018-02-27 16:20] saifjsl opened #125 "addInfixPattern missing from pyspark API"
## Description

addInfixPattern function is not available through python API

[2018-02-27 17:21] saifjsl opened #126 "Downloadable NerCrf sometimes fails on first attempt"
## Description

This can be reproduced in the ModelDownloaderExample on python notebooks.
The second time sometimes returns a 'Socket is closed' exception, and works only the third attempt.
This is a sporadic issue, some times it may not happen at all. Restart kernel and try again to reproduce it.
[code]
## Expected Behavior

Should work for the first time after it is downloaded

[2018-02-27 21:40] tkachuksergiy opened #127 ".fit() fails"
Hi,

I was running one example notebook 'sentiment.ipynb' and Pipeline fails on **lemmatizer** step.

Any idea why it fails?
I also tried on my own data and have the same output.

![fit issue](https://user-images.githubusercontent.com/18151556/36756368-1d5f08fc-1c0f-11e8-87c6-63b5623fb327.PNG)

I am using version 1.4.1.

[2018-02-27 22:20] saifjsl opened #128 "clearCache deletes .zip but does not delete unzipped model"
## Description

clearCache deletes .zip but does not delete unzipped model. Is this on purpose or is this correct behavior?

[2018-02-27 22:27] avenka11 commented on #121
@showy My environment is a managed Spark 2.2.0 cluster running on EC2 instances

[2018-02-28 14:53] saifjsl commented on #127
Hi @tkachuksergiy ,

looks like an installation / dependency issue. As if you are lacking typesafe Config dependency.

How are you using the library? did you build it yourself or using --packages use case?
Is this on local mode or some sort of cluster?

[2018-02-28 14:59] tkachuksergiy commented on #127
Hi @saifjsl ,

I used --packages to install the dependency and I am running Spark in local mode using Jupyter Notebook.
Is there any way to uninstall the dependency and rebuild it?

Thanks a lot!

[2018-02-28 15:29] saifjsl commented on #127
I am not sure there is clear documentation into uninstalling a dependency, as far as I know the cache with the downloaded jars is located at ~/.ivy2/jars/ so you could try deleting the content in this folder manually and try again so it re-downloads them.

Other cache may be found in ~/.ivy2/cache or ~/.m2/repository depending on your setup

[2018-02-28 20:26] tkachuksergiy commented on #127
I am using Spark v2.2.1

[2018-03-01 15:50] tkachuksergiy commented on #127
The issue stays even after installation of the dependency.

[2018-03-05 09:39] saifjsl commented on #125
https://github.com/JohnSnowLabs/spark-nlp/pull/130

[2018-03-05 23:12] shashishekhard opened #132 "TypeError: setDictionary() got an unexpected keyword argument 'key_delimiter'"
Tried running the dictionary-sentiment example in python, it gives a type error for set dictionary call in Lemmatizer.
.setDictionary("../../../src/main/resources/lemma-corpus/AntBNC_lemmas_ver_001.txt", key_delimiter="->", value_delimiter="\t")
## Description

Took the dictionary sentiment example in pyspark and ran on Hortonworks sandbox. It returns a Type Error saying key_delimiter is an unexpe

[2018-03-06 16:33] #101 closed

[2018-03-06 18:56] aleksei-ai commented on #128
Fixed in master

[2018-03-06 18:56] #128 closed

[2018-03-07 23:39] saifjsl commented on #132
thank  you @shashishekhard ! will take a look asap. Can you please confirm whether this happens on 1.4.1 as well?

[2018-03-08 15:35] shashishekhard commented on #132
Hi @saifjsl it works perfectly with 1.4.1. No issues. Thank you.

[2018-03-08 18:18] #132 closed

[2018-03-08 18:30] albertoandreottiATgmail commented on #121
Hello @avenka11 will try to reproduce this.

[2018-03-09 09:18] saifjsl opened #134 "Verify word embeddings under Windows OS"
## Description

[code]

[2018-03-11 01:08] saifjsl commented on #121
@albertoandreottiATgmail fixed this on  #135. Marked to be released with 1.4.2 at the end of today. Thank you so much for reporting this issue.

[2018-03-11 03:52] saifjsl commented on #134
Fixed in https://github.com/JohnSnowLabs/spark-nlp/pull/133

[2018-03-11 03:52] #134 closed

[2018-03-11 05:00] saifjsl opened #136 "RocksDB 5.2.1 does not include windows .dll library"
Due to a mistake from RocksDB, this specific version does not include proper .dll, hence making it fail when using the library on Windows OS.

Nonetheless, we chose this specific release to achieve high compatibility with other libraries.

[2018-03-12 04:53] saifjsl commented on #136
fixed in 1.4.2

[2018-03-12 04:53] #136 closed

[2018-03-12 04:55] saifjsl opened #140 "Model downloader not working in databricks platform"
#Description
It throws an error regarding the local cache directory missing (Since it doesn't have a local path really, it all handles DBFS filesystem

[2018-03-12 06:39] saifjsl commented on #121
Fix released. Thank you @avenka11
https://github.com/JohnSnowLabs/spark-nlp/releases/tag/1.4.2

[2018-03-12 06:39] #121 closed

[2018-03-12 21:28] #125 closed

[2018-03-13 08:27] zengshansong opened #141 "can spark-nlp load tensorflow model?"
## Description

I want to use spark-nlp to load tensorflow model,  is there any method to do this?
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

## Context

## Your Environment

* Version used:
* Browser Name and version:
* Operating System and version (desktop or mobile):
* Link to your project:

[2018-03-13 20:43] jdosselm opened #142 "No module named johnsnowlabs.nlp when loading a fitted pipeline"
## Description
I am successfully creating a pipeline with sparknlp annotators plus some spark.ml components. I am able to fit the pipeline to my training data and transform and evaluate my test data.
I then call model.save(model_path) to save the fitted pipeline.

In another process that runs and initializes identically to the above one (e.g. in client mode, same environment variables, pythonpath,

[2018-03-19 18:21] saifjsl commented on #141
Hello, we are currently on development of TensorFlow based models that may be able to do this. Although our first use cases will be specific NER and Assertion Status models.

[2018-03-19 18:35] lamastex opened #145 "Can’t load library into databricks from maven"
## Description

I am unable to load library in databricks shard.
See attached image for:
com.johnsnowlabs.nlp:spark-nlp_2.11:1.4.2

## Expected Behavior

One should be able to load the library from maven coordinates

## Current Behavior

Error that it is not available
## Possible Solution

Try to load Library from databricks community edition

## Steps to Reproduce

1.
2.
3.
4.

## Context

## You

[2018-03-20 19:04] karan-joshi commented on #145
I ran into same issue with the latest Spark NLP 1.4.2 release. I am also unable to import it into Azure Databricks. A quick solution was to use an older release. I was able to get the version 1.3.0 imported in Databricks. (Versions 1.4.0 and 1.4.1 also did not work)

However, there are a few things that are not available in older release, for example the ability to add infix patterns to tokenizer.

[2018-03-21 21:13] rdelbel opened #146 "Pretrained model manual download"
I am using spark-nlp on a cluster without internet access.

I got spark-nlp working by downloading the jar file locally, sending it to the cluster and including it in my spark-submit.

I went through the github repo and documentation but i cant find where i can manually download the pretrained models that are normally downloaded by the downloadModel method.

Can you please point me to the location

[2018-03-22 09:56] zengshansong opened #147 "java.lang.OutOfMemoryError: GC overhead limit exceeded"
When I train the spark-nlp　CRF model, emerged  java.lang.OutOfMemoryError: GC overhead limit exceeded  error
## Description

I found the training process only run on driver, and the executor was killed, so the driver take most of training works , and the driver's memory and cpu resources limit the training speed, and emerged above error " java.lang.OutOfMemoryError: GC overhead limit exceeded", is

[2018-03-22 22:28] showy commented on #106
@gfhayworth Great man. I'm closing this issue then.

[2018-03-22 22:28] #106 closed

[2018-03-23 17:40] Mahesha999 commented on #31
What is status of this? Is Spark NLP fully compatible with Java. There are some Java specific classes available in spark core api such as JavaRDD, JavaSparkContext. So I feel its not 100% compatible. If it is not, has anyone tried using this in Java with some work around?

[2018-03-25 05:45] avenka11 opened #151 "Building a SearchTrie for entity extraction can sometimes throw java.lang.IndexOutOfBoundsException"
Building the `SearchTrie` for entity extraction can sometimes throw `java.lang.IndexOutOfBoundsException`

## Description
Building a trie for Entity extraction fails when datasets contain a word that is a part of many phrases  such that it appears first in the middle of a one phrase and subsequently appears as the first word of another phrase. For e.g. the word _ring_ in a dataset containing the f

[2018-03-25 07:48] avenka11 opened #153 "Building fat jars of scala projects with application.conf gives raise to build errors"
Building fat jars of scala projects with `application.conf` gives raise to build errors

## Description
When including spark-nlp in a fat jar (using sbt-assembly) with existing `application.conf`, merge errors similar to the below error get raised
[code]

## Possible Solution
According to https://github.com/lightbend/config#standard-behavior , it is correct to rename the file `reference.conf`

##

[2018-03-25 11:37] showy commented on #153
@avenka11 although I agree that we should be using reference.conf for the library settings, you can also specify the merge strategy for the application.conf files:

[code]

Let me know how that works for you.

[2018-03-26 12:25] aleksei-ai commented on #147
Now there is no other solution. By design our algorithm is driver-based.
We can try to optimize memory usage.

[2018-03-26 12:47] aleksei-ai commented on #146
Hi @rdelbel.
1. You can run com.johnsnowlabs.downloader.en.pipelines.CloudPOSPipeline.write.overwrite.save("your_folder")
2. Then you can upload folder to your cluster.
3. And in cluster run PipelineModel.read.load("your_cluber_folder").

You can do the same with models (not only with pipelines) if you need.

If it doesn't work, please reopen the issue.

[2018-03-26 12:47] #146 closed

[2018-03-26 12:52] aleksei-ai commented on #126
@saifjsl  can you try again with my branch deep_learning_ner?

[2018-03-26 13:04] eoinlane commented on #145
I am having the same import error trying to import Spark NLP 1.4.2 /1.4.1 as a Spark Package in Datbricks

Error: Your maven coordinate did not return any artifacts. Are you trying to import any Spark or Scala Dependencies?

[2018-03-26 19:46] avenka11 commented on #153
@showy yes, that does work. Thank you so much!

[2018-03-26 19:46] #153 closed

[2018-03-26 19:47] avenka11 commented on #151
@aleksei-ai Thanks for the fix

[2018-03-28 09:16] aleksei-ai commented on #126
As I understand this task is fixed. @saifjsl reopen it if there are still some problems

[2018-03-28 09:16] #126 closed

[2018-03-28 11:51] maziyarpanahi opened #157 "Grammar extraction (chunking or phrase extraction)"
Hi,

Since there are two annotators already exist `PerceptronApproach ` and `RegexMatcher `, is it possible to have a new annotator (or function/feature) for grammar extraction or chunking? Stanford CoreNLP has some regex annotators to do this and I think it would be a great feature to have in spark-nlp:

Example for :
[code]
Or just pure regex:
[code]
Where the result of POS is:
[code]

I appreci

[2018-03-28 13:15] aleksei-ai commented on #85
@sofianeh I'm closing this issue. Please reopen if there is still a problem here.

[2018-03-28 13:15] #85 closed

[2018-03-30 12:37] showy commented on #145
The error:

`Error: Your maven coordinate did not return any artifacts. Are you trying to import any Spark or Scala Dependencies?`

Actually comes from the fact that the we have sdk-bom as a dependency in build.sbt

"com.amazonaws" % "aws-java-sdk-bom" % awsVer

For the already released packages (including the 1.5.0) please just make sure to exclude the sdk-bom.
![screenshot from 2018-03-30 14-36-

[2018-03-30 12:43] showy commented on #95
Dependencies are actually required.

[2018-03-30 12:44] showy commented on #95
As @saifjsl commented, the python API is only planned to be supported using the spark-packages package. Closing this issue.

[2018-03-30 12:44] #95 closed

[2018-03-30 12:47] showy commented on #147
Closing this issue. We should open a new issue to discuss about the specifics regarding distributed training .

[2018-03-30 12:47] #147 closed

[2018-03-30 15:28] maziyarpanahi opened #162 "Failed to find a default value for corpus in 1.5"
## Description

After upgrading to 1.5 my pipeline fit crashes with: `Failed to find a default value for corpus` which it will go away by removing `PerceptronApproach` from the pipeline.
I can see in 1.5 `src/main/resources/anc-pos-corpus` has been removed.
## Expected Behavior

In documentation for annotation it should be more clear if the default has been removed and only pre-trained models exis

[2018-03-30 15:46] saifjsl commented on #162
hi @maziyarpanahi !

Wow! thanks for updating so fast :). We are shifting the paradigm a little bit in 1.5, as we are not including corpus for training anymore (along with the issues that brings with).

Now you have two ways of using the library:

1. You can download a pretrained POS model with PerceptronModel.pretrained() call
2. You can use BasicPipeline which is a pretrained pipeline that inclu

[2018-03-30 18:46] aleksei-ai commented on #162
@maziyarpanahi
You can simple replace your posTagger training with code:
`posTagger = PerceptronModel.pretrained()`

Instead of training you simple download pretrained model.

[2018-04-02 09:09] Mahesha999 opened #163 "Does adding dependency in scala maven project works?"
I added the dependency

[code]

to scala-maven project in eclipse and ran maven install. It gave me following error:

[code]
Their is no jar present at the following location:
http://central.maven.org/maven2/com/amazonaws/aws-java-sdk-bom/1.11.306/
or here:
https://mvnrepository.com/artifact/com.amazonaws/aws-java-sdk-bom/1.11.306
But their is only pom.

What  I am missing?

[2018-04-02 10:01] lorenz-nlp commented on #163
I face the same problem with my maven-based project. Actually till spark-nlp version 1.4.0 I have no problems, but since then then (spark-nlp 1.4.1, 1.4.2, 1.5.0) the unresolved dependency of com.amazonaws:aws-java-sdk-bom prevents me from updating.

However, in my case the version of aws-java-sdk-bom somehow is 1.11.272.

[2018-04-02 10:39] Mahesha999 commented on #163
For me too the version is 1.11.272.
Also I added exclusion for this dependency. The error is gone, but am afraid if it will break in the future.

[2018-04-02 11:29] maziyarpanahi commented on #162
Hi @saifjsl,

Thanks for the explanation. I think some example datasets for different languages is a great idea.

[2018-04-02 11:31] maziyarpanahi commented on #162
Hi @aleksei-ai

I tried your snippet as you mentioned, I have this error which it means the download from S3 has failed. Is this only available to people on AWS or is it possible to use it without AWS credentials?

[code]

[2018-04-02 12:29] aleksei-ai commented on #162
hi @maziyarpanahi,
* First exception raised because you set up AWS Key\Secret in config or via Environment Variables
* Second exception is more difficult. I think there are some troubles with dependencies. Can you create mininum project that reproduces this error and put it as gist https://gist.github.com/?

[2018-04-02 12:37] Mahesha999 opened #164 "Is API doc available online?"
I was trying to translate sentiment analysis example given in [this python notebook](https://github.com/JohnSnowLabs/spark-nlp/blob/1.5.0/python/example/dictionary-sentiment/sentiment.ipynb) in Scala.

I translated this:

[code]
to this:

[code]

But getting error
[code]
Hence, I tried to find scaladocs of the library, so that I can find signatures of different overloads of setDictionary method (s

[2018-04-02 15:22] albertoandreottiATgmail commented on #164
Hi Mahesha999,

I think the closest to Scaladoc that is available is this list,

http://nlp.johnsnowlabs.com/components.html#scala

That's a list of common usages for all the annotators. It doesn't contain an exhaustive list of every possible method but it's a good starting point.
Also, you can directly look at the code for each annotator, for example, the one you're using is here,

https://github

[2018-04-02 15:37] aleksei-ai commented on #162
@maziyarpanahi
I found that the problem is that Spark NLP 1.5.0 now depends on spark-core 2.3.0.
spark-core 2.3.0 has transitive dependencies on two version of google guava 16.0.1 and 11.0.2 and in guava 16 was a lot of breaking changes.
So you have to choose 11.0.2 explicitly adding it as a dependency.
    <dependency>
      <groupId>com.google.guava</groupId>
      <artifactId>guava</artifactId>

[2018-04-02 15:47] aleksei-ai commented on #164
@Mahesha999
One of options in your case is:
`var sentimentDetector = new SentimentDetector()
    .setInputCols(Array("lemma","sentence"))
    .setOutputCol("sentiment_score")
    .setDictionary(ExternalResource("../../../src/test/resources/sentiment-corpus/default-sentiment-dict.txt", ReadAs.LINE_BY_LINE, Map("delimiter"->",")))`

Please, reopen the issue if doesn't help.

[2018-04-02 18:30] maziyarpanahi commented on #162
@aleksei-ai
* I added `"com.google.guava" % "guava" % "11.0.1"` to my build.sbt with Spark 2.2.1 and it gave me the same error.
* I changed my Spark version to 2.3 without `guava` and it gave me the same error
* I added `"com.google.guava" % "guava" % "11.0.1"` to my build with Spark 2.3 and still the same error

I can see the cache_pretrained has been downloaded.

Here is my build.sbt: https://gi

[2018-04-02 19:36] #164 closed

[2018-04-02 19:49] aleksei-ai commented on #162
@maziyarpanahi

If you are using sbt than you can try exclude guava as transition dependency.
`"org.apache.spark" %%"spark-core" % sparkVer exclude("com.google.guava", "guava"),`
`"com.johnsnowlabs.nlp" %% "spark-nlp" % "1.5.0"  exclude("com.google.guava", "guava"),`

Can you try it?

[2018-04-02 22:28] saifjsl commented on #50
Should be fixed in version #1.5.0

[2018-04-02 22:28] #50 closed

[2018-04-02 22:37] saifjsl commented on #157
Thank you @maziyarpanahi for proposing this feature and with the example. Chunking is on our roadmap but still undefined priority or release date.

Currently this would be possible with the RegexMatcher annotator, if you accordingly use a Finisher annotator with inputs targeting the token annotator and the POS annotator.

This would generate two array columns (one containing the POS tags and anoth

[2018-04-03 08:03] ga243 opened #166 "Does spark nlp work with Apache ignite?"
I want to perform some ml task in application written in java and then some spark nlp task in python and / or scala applications. Is it possible to have the data shared between different applications written in different languages (one of which performs spark nlp processing) using Apache Ignite?

[2018-04-03 08:28] showy commented on #163
@lorenz-nlp @Mahesha999 For now, excluding the dependency is the way to work.

We are looking into the sdk-bom issue. It shouldn't break and I do believe we can remove the bom dependency from our build.sbt. We will pay attention to this issue in the following releases.

[2018-04-03 08:30] showy commented on #145
Previous answer has proven effective. We will look into sdk-bom issue to prevent the users from adding this exclusion.

[2018-04-03 08:30] #145 closed

[2018-04-03 08:39] showy commented on #166
@ga243 Sadly we currently don't have any specific APIs in the spark-nlp library (annotators and helpers) to connect to Ignite, so I guess you will need to retrieve the data using external libraries. :(

It would be interesting to plan support for ignite in the future @saifjsl

[2018-04-03 08:44] showy commented on #142
@jdosselm Can you check if this is happening with 1.5.0 ?

[2018-04-03 09:14] aleksei-ai commented on #163
@showy I think we can fix it adding correct sbt and pom.

[2018-04-03 09:18] showy commented on #163
@aleksei-ai the sdk-bom seems to be only really necessary when using more that one aws sdk module. Do you know we need it for a fact in the build.sbt?

[2018-04-03 09:24] aleksei-ai commented on #163
@showy Probably you are right. We can simply remove it so far.

[2018-04-03 09:37] aleksei-ai commented on #163
@showy I've tested that we really don't need it in dependency.
So I removed it from our sbt, thank you!

[2018-04-03 09:37] #163 closed

[2018-04-03 09:44] showy commented on #145
As a side note: it's a fact that we are removing the sdk-boom dependency for future releases.

[2018-04-03 10:27] maziyarpanahi commented on #162
@aleksei-ai
I did as you instructed, but still the same error.

[code]

[2018-04-10 20:19] saifjsl commented on #162
Hi @maziyarpanahi

This thread became a little bit confusing and misleading.

Please open new issues with specific title. Also, feel free to join our SLACK channel mentioned in the website: nlp.johnsnowlabs.com

[2018-04-10 20:19] #162 closed

[2018-04-15 22:01] saifjsl commented on #108
I believe this was fixed in 1.4.0 after tokenizer became language agnostic. This is implicitly solved. Added test in PR to make sure this is so: https://github.com/JohnSnowLabs/spark-nlp/pull/165

[2018-04-15 23:11] #92 closed

[2018-04-16 07:17] elielhojman opened #176 "Using Spark ML NGram after Stemmer"
I am new at Spark and I looked all over your notebook examples and I didn't find an example which combines the JohnSnow's NLP library with the spark.ml feature extractors. Are those supposed to work together?
A similar issue was raised in #59, but no solution specific to my problem was offered.

Thanks

[2018-04-16 20:44] maziyarpanahi commented on #176
@elielhojman It's actually very easy. You need to use `Finisher` in your Pipeline to output a column with arrays of string (either tokens, filtered tokens by removing stop words, or as you said stemmed tokens).
Then you can point your NGram extraction input column to the output of `Finisher` column. You can use all the Spark ML functions alongside with spark-nlp as long as the input is an array of

[2018-04-17 06:29] elielhojman commented on #176
Thanks for the quick response!
Apparently I missed that part of the documentation :/.

[2018-04-17 06:29] #176 closed

[2018-04-17 18:41] Tredence-GitHub opened #178 "Unable to initialize DocumentAssembler in Python"
## Environment:

- Spark 2.3.0
- SBT 1.1.4
- Scala 2.12.5
- Windows 8.1

## Initial Issue:

Unable to compile spark-nlp on Windows due to ivy2 dependency issue.

sbt.ResolveException: unresolved dependency: org.apache.ivy#ivy;2.4.0: several p
roblems occurred while resolving dependency: org.apache.ivy#ivy;2.4.0 {compile=[
compile(*), master(compile)], runtime=[runtime(*)]}:

## Initial Issue Resol

[2018-04-18 16:21] mlocutus opened #179 "pre-trained POS PerceptronModel model only downloads to the driver node"
## Description

I'm trying to run a pretrained POS model on a small spark cluster. However, it appears that the pretrained model only downloads to the driver node - when I run the script below, I get the following exception:

[code]

## Expected Behavior
Model should be distributed / downloaded to all worker nodes

## Current Behavior
Model is only downloaded to the driver node

## Steps to Reprod

[2018-04-19 15:52] mlocutus commented on #179
here's the full stacktrace

[code]

[2018-04-19 17:12] saifjsl commented on #178
Hi @Tredence-GitHub

I am a little bit confused. Ivy is failing as a dependency, which is super strange.
Also, I'd suggest you use scala 2.11.12 instead of 2.12.x.

And finally, why don't you use --package from spark-packages as shown in the instructions?
If you really need to compile it, --jars is the way to got, not --class. Spark-submit just with spark-nlp doesn't make much sense to me.

Let us

[2018-04-19 17:31] jkabrg commented on #140
I think I'm experiencing the same problem. This is the exception:

`org.apache.hadoop.mapred.InvalidInputException: Input path does not exist: /cache_pretrained/pos_fast_en_1.5_2_1522180653497/metadata`

[2018-04-20 17:02] #140 closed

[2018-04-21 16:55] mlocutus commented on #179
Still getting an error when I try with a spark standalone cluster with no shared file system.  The path is slightly different now (`root`, instead of `data`), but still getting FileNotFound on the worker nodes.  The model *is* downloaded to the driver node, it's just not found on the worker node.

[code]

[2018-04-23 13:39] saifjsl commented on #179
Sorry, closed by mistake. Still investigating

[2018-04-23 14:16] saifjsl commented on #179
After some thought and research, it seems we won't be able to support this use-case of a cluster without a shared file-system.

As Spark documentation says itself:

You can override cache_pretrained folder by creating an application.conf in working directory replacing the following value:

nlp {
  pretrained {
    pretrainedCacheFolder = "/path/to/cached"
  }
}

We'll be releasing a 1.5.2 hotfix r

[2018-04-23 14:16] #179 closed

[2018-04-30 17:05] superman24-7 opened #189 "SentenceDetector Failed to find a default value for useCustomBoundsOnly"
## Description

In attempting to use the Named Entity Recognition Deep Learning annotator (NerDLApproach)  I get the exception

[code]
This stems from the SentenceDetector that I have included in my pipeline. I have also managed to replicate the issue using the below code:

[https://github.com/JohnSnowLabs/spark-nlp/blob/84d338d342485abba01e7aa1a94a7b5064c6bd4e/src/test/scala/com/johnsnowlabs/benc

[2018-05-02 09:47] AtulSehgal opened #191 "is AveragedPerceptron.scala missing in the latest release spark-nlp_2.11-1.5.2 ?"
I believe you forgot to add com.johnsnowlabs.nlp.annotators.pos.perceptron.AveragedPerceptron in spark-nlp_2.11-1.5.2

I am getting the error below when I try to download a PerceptronModel using command : downloader.downloadModel(reader= PerceptronModel, name= "pos_fast", language= Option("en"))

downloader.downloadModel(reader= PerceptronModel, name= "pos_fast", language= Option("en"))
18/05/02 0

[2018-05-02 12:24] #178 closed

[2018-05-02 12:28] saifjsl commented on #191
Hi, I assume you are running the ModelDownloader example?

It is working fine for me, I am also using Kryo serializer. can you specify how are you running this code?

Feel free to join Slack channel for further questions

[2018-05-02 12:37] saifjsl commented on #189
Hello @superman24-7

I am sorry I missed this! You are indeed right and this is not failing in our tests only because we test it in Python, and python has such default value.

Release 1.5.2 had some flaws so we'll be releasing a hotfix shortly and will very probably fix this.

[2018-05-02 13:18] saifjsl commented on #189
I have tested and, even though the error is correct, for me it works if I call setUseCustomBoundsOnly(false) on the SentenceDetector.

[2018-05-02 13:35] AtulSehgal commented on #191
Sorry, I should have been more elaborate..

I am using Cloudera Data Science Workbench.
In order to run NLP algorithms I am using JAR files (Due to access issues I cannot add dependency directly through Maven).

So, initially I was using spark-nlp_2.11-1.5.1.jar. Below are the complete lines of my code.

There are basically two issues...Dealing with **Issue A** led me into **Issue B**.

**Issue A:

[2018-05-02 14:28] saifjsl commented on #191
Also, using the downloader directly is a bad but possible example, a better use case for you would be

`PerceptronModel.pretrained()`

[2018-05-02 19:30] Yushan-Liu opened #198 "spark-nlp can only run in scalar after installing on Apache Zeppelin notebook"
## Description
I installed spark-nlp on Apacehe Zeppelin notebook following the instruction [here](http://nlp.johnsnowlabs.com/quickstart.html).

However, it only works when I run the notebook in Spark. If I try to import with pyspark, the package cannot be found. Does anyone have similar experience before? How to make it also run on Pyspark.  Thank you for any thoughts and inputs.

Below is the d

[2018-05-02 19:53] superman24-7 commented on #189
Thanks @saifjsl.

After further testing, calling setUseCustomBoundsOnly(false) on the SentenceDetector succeeds with:

[code]

but fails with the exception when declaring the pipeline as:

[code]

[2018-05-02 21:42] saifjsl commented on #189
We'll be shortly releasing 1.5.3 with the param default value fix. after this it should work fine.

[2018-05-02 21:45] saifjsl commented on #198
Hi @Yushan-Liu

Using Maven coordinates will only cover the Scala/Java side. To use the python side of the library you will need to inject it with --packages argument.

In Zeppelin, you can do the following https://zeppelin.apache.org/docs/0.7.3/interpreter/spark.html:
`export SPARK_SUBMIT_OPTIONS="--packages com.databricks:spark-csv_2.10:1.2.0 --jars /path/mylib1.jar,/path/mylib2.jar --files /pat

[2018-05-02 21:57] Yushan-Liu commented on #198
Thank you. I will try tomorrow and update the status later.

[2018-05-03 00:37] AtulSehgal commented on #191
Hi @saifjsl ,

Thanks for the response..

Command **val pos = PerceptronModel.pretrained()** gives me the same error.. please see below
_val pos = PerceptronModel.pretrained()
18/05/03 00:35:53 ERROR scheduler.TaskResultGetter: Exception while getting task result
com.esotericsoftware.kryo.KryoException: Unable to find class: [Lcom.johnsnowlabs.nlp.annotators.pos.perceptron.AveragedPerceptron;
	at

[2018-05-03 00:47] AtulSehgal commented on #191
Hi @saifjsl ,

Is there a way I can simply use the already downloaded metedata in the local folder **/home/cdsw/cache_pretrained** ?

_You can either default and let the downloader re-download the model according to 1.5.2 parameters, or change such folder location in an application.conf file located in your working directory, overriding such this setting:_ <<<

- My downloader keeps on downloading

[2018-05-03 14:15] saifjsl commented on #191
The application.conf should go in the current working directory (./) from where you run pyspark.

The error is still strange, are you sure you are using a standard kryo serializer? Did you try disabling your serializer?

[2018-05-04 14:30] saifjsl commented on #191
@AtulSehgal Please request to join to Slack (check our website or GitHub readme to see how). We can follow up and help over there. We did not find any issues here, this might be a setup problem.

[2018-05-04 14:30] #191 closed

[2018-05-04 14:30] #198 closed

[2018-05-04 14:31] saifjsl commented on #189
Should be fixed now

[2018-05-04 14:31] #189 closed

[2018-05-04 15:47] kevinykuo commented on #34
@randomgambit sparklyr support will be coming later this year, tracking at https://github.com/rstudio/sparklyr/issues/1286

[2018-05-04 16:21] MobinRanjbar opened #199 "Language support"
Hi there,

I have a critical problem with NLP tools if they support other language like Persian/Farsi. Is SparkNLP support other language?

Thanks

[2018-05-10 19:32] saifjsl commented on #199
Hi @MobinRanjbar

Spark-NLP is currently language agnostic (except for the Stemmer) on occidental languages. None of our current contributors know about other language support, feel free to provide any feedback or contributions.

[2018-05-10 19:32] saifjsl commented on #122
Closing due to inactivity

[2018-05-10 19:32] #122 closed

[2018-05-10 19:33] saifjsl commented on #127
Closing due to inactivity

[2018-05-10 19:33] #127 closed

[2018-05-10 19:33] saifjsl commented on #142
Closing due to inactivity

[2018-05-10 19:33] #142 closed

[2018-05-11 07:28] AtulSehgal commented on #191
This issue still persists for me..even when I use spark-nlp_2.11-1.5.3.jar

Below is the code I use:
**_%AddJar file:/home/cdsw/spark/spark-nlp_2.11-1.5.3.jar

import com.johnsnowlabs.nlp.base._
import com.johnsnowlabs.nlp.annotator._
import org.apache.spark.ml.Pipeline
import com.johnsnowlabs.nlp.pretrained.ResourceDownloader
import com.johnsnowlabs.nlp.annotators.Lemmatizer
import com.johnsnowla

[2018-05-11 07:37] AtulSehgal opened #203 "Issue with spark-nlp_2.11-1.5.3.jar (Unable to find class: [Lcom.johnsnowlabs.nlp.annotators.pos.perceptron.AveragedPerceptron;)"
#191
Issue 191 is not resolved yet..

This issue still persists for me even after using the latest JAR (spark-nlp_2.11-1.5.3.jar
) file [Downloaded from maven]

Below is the scala code I have used:

**_%AddJar file:/home/cdsw/spark/spark-nlp_2.11-1.5.3.jar_**

**import com.johnsnowlabs.nlp.base._
import com.johnsnowlabs.nlp.annotator._
import org.apache.spark.ml.Pipeline
import com.johnsnowlabs.nl

[2018-05-11 07:55] AtulSehgal commented on #203
The same error comes even when I add Jar  for latest kryo **kryo-4.0.2.jar** [Jar downloaded from Maven central]

**_%AddJar file:/home/cdsw/spark/kryo-4.0.2.jar_**
%AddJar file:/home/cdsw/spark/spark-nlp_2.11-1.5.3.jar

import com.johnsnowlabs.nlp.base._
import com.johnsnowlabs.nlp.annotator._
import org.apache.spark.ml.Pipeline
import com.johnsnowlabs.nlp.pretrained.ResourceDownloader
import com

[2018-05-14 08:48] AtulSehgal commented on #191
@saifjsl : Would it be possible for you to suggest something on this issue?

[2018-05-14 08:49] AtulSehgal commented on #203
Hi @saifjsl ,

Would it be possible for you to suggest something on this issue?

[2018-05-14 12:29] saifjsl commented on #203
hi @AtulSehgal this is not something wrong with the library. it's definitely an environment problem with some of your dependencies.

The default spark's kryo serializer should work. Please request access to slack and we can continue discussion there. There's nothing we can do library-wise to fix your issue.

[2018-05-15 07:49] AtulSehgal commented on #203
Thanks @saifjsl for all the inputs so far.
I am not quite sure about the environment problem though.

Sure, will join your slack channel.

[2018-05-15 16:09] saifjsl commented on #203
@AtulSehgal please send an email to nlp@johnsnowlabs.com so we can send you an invite to your email

[2018-05-15 21:56] arnold-jr opened #206 "Unable to import python libs: AttributeError: 'module' object has no attribute 'annotator'"
Using Spark 2.1.0, I am Python is unable to locate the spark-nlp python files.

## Description

I'm trying to import sparknlp in a Jupyter notebook.

## Expected Behavior

I should be able to load sparknlp python modules.

## Current Behavior

Cannot import.

## Possible Solution

Spark should be shipping out the Python code in the jars, but is not. I've seen other projects zip up the Python sourc

[2018-05-15 22:15] surendralalwani opened #207 "Error while using 1.5.3 with python 2.7.11"
## Description
[code]

[2018-05-15 22:17] saifjsl commented on #207
https://github.com/JohnSnowLabs/spark-nlp/pull/205

Thanks @surendralalwani

[2018-05-15 22:42] thesuperzapper commented on #206
fixed in #205

[2018-05-16 00:12] thesuperzapper opened #208 "Support for Offline/Air-Gaped Spark Clusters"
Is it currently possible to use pretrained models in offline Spark clusters, for example, submitting the trained model files along with the Spark job, because right now it seems as if there is no way to point to a local version of the pretrained models.

[2018-05-16 06:27] AtulSehgal commented on #203
@saifjsl

interestingly, in file **cache_pretrained/pos_fast_en_1.5_2_1522180653497/fields/POS Model/part-00007**  i found reference to **[Lcom.johnsnowlabs.nlp.annotators.pos.perceptron.AveragedPerceptron;**

I wonder if "L" should be prefixed to "com" ? Probably, incorrect class reference is leading to this  issue.

This issue is not closed yet and is unresolved. (I did send request for slack ch

[2018-05-17 09:55] VincentRoma opened #210 "Pretrained Model not working due to missing Amazon dependencies"
## Description

When running a pretrained model such as shown in the documentation, an error occurs due to com.amazonaws.services.s3 dependencies missing.

I've been trying to use this lib in a Spark Streaming job, but after trying to debug the dependency issue, I try running the simple exemple from the documention, and I'm getting this error using spark 1.6 or spark 2.2

[code]

## Steps to Repro

[2018-05-19 11:12] maziyarpanahi opened #212 "Using pretrained in PerceptronModel results in NoClassDefFoundError"
Hi,

I am following up on an issue I reported before: https://github.com/JohnSnowLabs/spark-nlp/issues/162

I am still experiencing the same issue in version 1.5.4 on local Spark:
[code]
Here is my sbt build: https://github.com/multivacplatform/multivac-nlp/blob/master/build.sbt

Many thanks,
Maziyar

[2018-05-19 21:16] maziyarpanahi opened #213 "Zeppelin NoClassDefFoundError when the JAR is used"
Hi,
If I use --package in my Zeppelin everything is fine. But when I use the JAR in my Zeppelin I receive this error: (I use JAR because it's on HDFS and it has a faster session creation for users)
[code]

Many thanks,
Maziyar

[2018-05-22 15:56] ShixAJ opened #215 "RecursivePipeline Error"
**I was trying to train using RecursivePipeline and I got this error while doing fit:**

Py4JJavaError                             Traceback (most recent call last)
~/Desktop/charles/workspace/spark2.30/python/pyspark/sql/utils.py in deco(*a, **kw)
     62         try:
---> 63             return f(*a, **kw)
     64         except py4j.protocol.Py4JJavaError as e:

~/Desktop/charles/workspace/spark

[2018-05-24 07:02] algoscale1 opened #217 "how much memory does it require to train the crf-ner model?"
I am trying to train the crf-ner model in Scala on a 16gb machine but getting java.lang.OutOfMemoryError. I am using the same data that are used in the below link.
https://github.com/JohnSnowLabs/spark-nlp/blob/1.5.4/python/example/crf-ner/ner.ipyn

How much memory does it need?
And do we have some examples for ner in scala?

[2018-05-24 11:07] saifjsl commented on #203
Reopening, this is an issue regarding Cloudera framework + docker + oracle jdk combination that makes Kryo blow up

[2018-05-28 11:44] saifjsl commented on #217
Hello @algoscale1 , please join our Slack channel, it is more appropriate for these kind of questions than here.

To answer quickly here, NerCRF Is quite memory hungry because of the nature of its training dataset (one row per token). I want to work on it to improve it soon. I've heard of this problem with larger than 15MB CoNNL data already, also because it adds up with WordEmbeddings which are h

[2018-05-28 11:44] #217 closed

[2018-05-28 11:44] saifjsl commented on #215
Thank you, will look into this asap.

[2018-05-28 11:46] saifjsl commented on #213
This is very strange error, what does ConfigMergeable has to do with Spark-NLP jar I wonder, is it a Spark dependency or something else?

How did you add the jar into zeppelin? Through the interpreter dependency list (pointing to a path)? if the jar it self it is not failing, it is probable that it is something else, an incompatible problem.

@albertoandreottiATgmail ?

[2018-05-28 11:50] saifjsl commented on #208
Hi @thesuperzapper sorry for the delay. This is a much better question for Slack, since here is more for issues. Please join so.

To close the issue answering shorty. Yes, if you are offline, you should save the pretrained() contents (usually in $HOME/cached_pretrained) and load them using e.g. PerceptronModel().load("path/to/folder").

pretrained() function is exclusively online, so it will alway

[2018-05-28 11:50] #208 closed

[2018-05-28 11:57] saifjsl commented on #31
Hi, I've seen many people using Spark-NLP on Java. Scala interoperability should work by default with Java Spark. Closing this until further feedback.

[2018-05-28 11:57] #31 closed

[2018-05-28 11:58] saifjsl commented on #141
NerDLApproach and AssertionDLApproach are capable of training tensorflow models through provided graphs, and predict with Tensorflow. Closing this.

[2018-05-28 11:58] #141 closed

[2018-05-28 12:00] saifjsl commented on #199
Closing this, not an issue or a specific feature request. Continue on Slack for questions.

[2018-05-28 12:00] #199 closed

[2018-05-28 12:01] #207 closed

[2018-05-29 21:33] saifjsl opened #219 "Python setters are missing from python annotator models"
## Description

We are not capable of overriding params once an approach has been trained into a model, in Python. Setters are missing.

[2018-05-30 07:44] maziyarpanahi commented on #213
I am adding the JAR in zeppelin-env.sh like this:

[code]
I have many other jars which they all working. It seems there compiled spark-nlp.jar is missing something from typesafe dependency if I am not mistaken.

[2018-05-30 17:30] saifjsl commented on #213
Why aren't you using --packages? this downloads all necessary dependencies automatically.

We have realized recently that to use --jars, we need to include the fat-jar (i.e. result of sbt assembly). We'll be updating the website with the fat-jar to download. but for now you'll have to clone and assembly yourself

[2018-05-30 18:10] maziyarpanahi commented on #213
Hi @saifjsl
Actually, I did that but this is a multi-user Zeppelin which some haven't logged in to the server. Therefore, there is no home directory and Zeppelin fails to start Spark interpreter if there is --package inside config cause it looks for .ivy2/cache.
That is why I usually find the fat JAR and put them on HDFS to avoid waiting on starting new session and asking users to logged-in (auto

[2018-05-30 18:30] saifjsl commented on #213
I see. So, the next hypothesis is that the jar is not being reached by the executor nodes. We had a discussion on that as well. We've got it working by making sure the jar is accessible from all nodes, and setting these settings (--conf) submit options.

[code]
or if yarn
[code]
[code]

[2018-05-30 18:34] maziyarpanahi commented on #213
Actually, it used to work only by assigning the JAR. I am guessing at some point it stopped being a fat JAR including every dependency. Hard to say cause the size dropped when everything moved to pre-trained downloadable models.
Is there a way to confirm that `ConfigMergeable` is indeed in the JAR? As you said it may be because it is not a fat JAR. But I am sure it worked with no problem for few v

[2018-05-30 19:30] saifjsl commented on #213
Needs a little patience, I myself i'm not sure anymore into how Spark properly distributes stuff in a cluster when working with extra class paths.

All I know is that we solved a user's problem with a YARN cluster by carefully setting up SparkSession configurations, in order to be make sure executors were getting the *fat-jar* so yes, it only worked with distributed fat-jar in a distributed storag

[2018-05-31 14:20] saifjsl commented on #213
A fat jar is about 60-70mb. I Also think you can open it with an archive manager to browse the jar contents.

Obtener Outlook para Android<https://aka.ms/ghei36>

________________________________
From: Maziyar Panahi <notifications@github.com>
Sent: Wednesday, May 30, 2018 9:34:09 PM
To: JohnSnowLabs/spark-nlp
Cc: Saif Addin Ellafi; Mention
Subject: Re: [JohnSnowLabs/spark-nlp] Zeppelin NoClassDef

[2018-05-31 17:21] haimco10 commented on #210
I'm  having the same issue.

[2018-05-31 17:26] albertoandreottiATgmail commented on #210
@haimco10 thanks for reporting your situation. Are you also on CDH?

[2018-05-31 18:34] GreGGus commented on #210
Same issue.
Spark Standalone

[2018-05-31 22:51] danilojsl commented on #210
Hi all, I will try to reproduce the issue and will let you know my findings

[2018-06-01 05:55] #206 closed

[2018-06-01 06:07] saifjsl commented on #210
I have reached out Cloudera to work together into solving this issue with CDH/CDSW.
@GreGGus Can you point us to OVH website? I am not sure I heard of it.

[2018-06-02 16:21] MobinRanjbar commented on #199
@saifjsl OK, but you tagged this as a Feature Request and you are saying this is not a feature request?!

[2018-06-03 12:57] haimco10 commented on #210
@albertoandreottiATgmail . Yes, I'm also on CDH.

[2018-06-07 22:22] VincentRoma commented on #210
@saifjsl, I made some test using a Spark standalone 2.2.0 on the same cluster and it's working. I now assume something is wrong with the spark2.2.0.cloudera1 version, I'm opening a ticket to Cloudera Support. I'll let you know

[2018-06-10 17:58] maziyarpanahi commented on #213
@saifjsl OK, the size is not reasonable to be downloaded. Is there any recipe for creating a fat JAR by using spark-nlp source code if someone needs a fat JAR?

[2018-06-11 12:07] saifjsl commented on #213
Hi @maziyarpanahi , what do you mean the size is not reasonable?

Yes, to build it from source, simply clone the library and run `sbt assembly` from its root directory.

[2018-06-11 14:27] maziyarpanahi commented on #213
@saifjsl I meant the size without including everything is between 2-5mb usually. So it is not reasonable to ask you for the fat JAR which is going to be around 6-70mb. That's why I asked how to do it ourselves.
However, having fat jar provided by you guys is much simpler and better :)
We can close this issue and many thanks.

[2018-06-11 15:07] saifjsl commented on #213
Thank you

[2018-06-11 15:07] #213 closed

[2018-06-12 14:28] saifjsl commented on #108
Reopening issue. I just found by chance the mysterious reason for this issue, which implicitly caused other issues in some scenarios. Will be fixing in 1.5.5

[2018-06-12 14:44] saifjsl commented on #108
Fixed in https://github.com/JohnSnowLabs/spark-nlp/pull/221

[2018-06-13 15:04] saifjsl commented on #210
Hi all, if anyone can build this PR and test it on Cloudera to confirm it's resolved
https://github.com/JohnSnowLabs/spark-nlp/pull/222
It's a proposal fix by rolling back AWS dependencies by @apiltamang

[2018-06-14 17:30] algoscale1 opened #225 "Getting typesafe config error while loading the model file"
I have a project in scala and spark, that also uses typesafe config. I have already created a trained pipeline and model using the default training data provided in the examples. Now In this project, I am trying to load these models for a prediction on test data. While trying to load the model this is what I am getting -
[code]

## Description

This is how i am loading the model and pipeline in th

[2018-06-15 18:16] sethah opened #227 "Python Tokenizer addInfixPattern does not work properly"
## Description

Add infix pattern method is defined as:

[code]

But I don't think these take effect since the rules are applied from start of list. In the Scala API, it is done differently:

[code]

The new rule is added to the start of the list, so it takes effect ok. I more or less verified that changing the Python code to:

[code]

fixes the issue. I could submit a PR for it, but need to write

[2018-06-18 00:01] saifjsl commented on #227
Hello @sethah

Sorry for the delay. Indeed that' s a very good catch. We should definitely fix the python implementation for addInfixPattern.

[2018-06-18 00:20] saifjsl commented on #225
Hello @algoscale1
Indeed, it may be a little bit confusing. We may need to explore a little bit this and see where the issue comes from.

settings {} is a configuration file provided by Spark-NLP, it could be the case that you are overriding Spark-NLP's setting with yours.

The content of our application.conf is the following:
[code]

So it may be required that you use typesafe config in a way tha

[2018-06-20 11:58] lorenz-nlp opened #231 "Parameters passed from AnnotatorApproach to AnnotatorModel"
Creating a NormalizerModel by using Normalizer, parameters such as the patterns, slang dictionary or lower case are passed to the resulting NormalizerModel. However, the input and output columns defined in the Normalizer are not being passed to the model.

This behavior also applies to other annotators, such as the Lemmatizer and LemmatizerModel.

It is not exactly a bug, but very surprising to th

[2018-06-22 16:59] bigheadming opened #232 "TypeError: 'JavaPackage' object is not callable"
Get "TypeError: 'JavaPackage' object is not callable " error whenever trying to call any annotators.
## Description

Platform: Ubuntu 16.04LTS on Windows 10's Linux System (wls)
Python: Python 3.6.4 |Anaconda custom (64-bit)| (default, Jan 16 2018, 18:10:19)
Pyspark:  Use pip to install (ie python without explcit spark installation)
spark-nlp: pip install --index-url https://test.pypi.org/simple/

[2018-06-26 14:24] thelabdude commented on #40
Just curious if any progress has been made on this one?

[2018-06-26 19:00] sshikov commented on #210
BTW, pretrained model example from docs also required internet connection (to download model probably). This is not obvious. Is it possible to download models for offline work?

[2018-06-27 18:12] jklukas commented on #106
It looks like EMR is doing something strange to paths before they end up in `sys.path`. If you run `pyspark --packages JohnSnowLabs:spark-nlp:1.4.0` on EMR and then inspect `sys.path`, you'll see a file path to the spark-nlp jar that starts with `/mnt/spark-` which doesn't actually exist on the filesystem.

Here's a workaround that seems to get the right paths for `--packages` entries available to

[2018-07-02 11:08] haimco10 commented on #225
I'm having the same issue

[2018-07-02 13:53] PinusSilvestris opened #235 "'Finisher' object has no attribute 'setIncludeMetadata'"
When working with PySpark Finisher does not seem to have this attribute implemented.

finisher = Finisher() \
  .setInputCols(["assembled"]) \
  .setCleanAnnotations(True) \
  .setOutputAsArray(False) \
  .setIncludeKeys(True) \
  .setIncludeMetadata(False)

This happens on machine with Apache Spark 2.3.1 and SparkNLP 1.5.4

[2018-07-03 13:35] haimco10 commented on #225
BTW, I only had to add to my config file, the settings that @saifjsl posted and it solved my issue. Thanks.

[2018-07-04 11:08] saifjsl commented on #235
Thank you, I confirm this bug exists and fix shall be released  this week

[2018-07-04 11:09] saifjsl commented on #232
Hi @bigheadming

You **do** have this jar here and with this name right?

`.config("spark.driver.extraClassPath", **"lib/sparknlp.jar"**) `

[2018-07-04 11:13] saifjsl commented on #231
Thank you @lorenz-nlp

This is a strange, since if you put everything in a Pipeline, the input and output columns do get passed, since otherwise it wouldn't be able to call **transform()** (since the annotator next to the Normalizer wouldn't be using NormalizerModel's output on the pipeline), but that does happen.

Is this hapening when you load a NormalizerModel from disk? I'll check it out

[2018-07-04 11:14] saifjsl commented on #219
https://github.com/JohnSnowLabs/spark-nlp/pull/223

[2018-07-04 14:15] saifjsl commented on #235
https://github.com/JohnSnowLabs/spark-nlp/pull/237

[2018-07-04 14:16] saifjsl commented on #227
https://github.com/JohnSnowLabs/spark-nlp/pull/237

[2018-07-04 15:00] #227 closed

[2018-07-04 15:06] boris-mtdv commented on #176
How exactly can you use the output from finisher as input for word2vec? would you mind posting some code?

[2018-07-04 16:02] maziyarpanahi commented on #176
@boris-mtdv The results of Finisher is an array of string which you pass it to your hashing function and the rest is the same as the examples on Spark website.
You can open a new issue and I give you some snippets.

[2018-07-04 16:09] boris-mtdv opened #239 "How exactly can you use the output from finisher as input for word2vec? would you mind posting some code?"
I have used Spark's native Tokenizer on a corpus, and have seen examples that use Spark nlp's finisher afterwards. My question is, how can you use the output from the finisher as input to the word2vec algorithm in mllib? here is an example of my code:

val textDF = bigRdd.toDF("text")

    val tokenizer = new Tokenizer().setInputCol("text").setOutputCol("tokenized_text")

    val tokenized = token

[2018-07-04 17:49] lorenz-nlp commented on #231
Thanks for checking the problem. I didn't use a pipeline here, but just called `train `with an empty dataset on the Normalizer in order to obtain the NormalizerModel.

[2018-07-05 08:58] boris-mtdv commented on #176
I opened and issue and I still haven't been able to figure it out. Can you just post a snippet here please?

[2018-07-07 04:56] saifjsl commented on #239
Hi, please request access for Slack channel. We can help you there. Closing this since it is not an issue.

[2018-07-07 04:56] #239 closed

[2018-07-07 04:58] saifjsl commented on #231
@lorenz-nlp Could you please check whether this behavior is the same within SparkML in general? (i.e. using Spark ML transformers outside pipelines and see if you can load models and they keep their input/output cols)

[2018-07-07 07:44] lorenz-nlp commented on #231
Sure, I just checked `org.apache.spark.ml.feature.{IDF,IDFModel}` and `org.apache.spark.ml.feature.{VectorIndexer,VectorIndexerModel}`: In both cases, the params are being passed to the resulting model by using the `copyValues`-method of the `Params`-trait in the `fit`-method of the estimator.

But seeing the code of `AnnotatorApproach`, the `fit`-method does copy the params as well (thats why it

[2018-07-07 08:37] saifjsl commented on #231
ohh! I just realized you said you used train(). Indeed, I even believe
train() should be protected. I'll give it some thought. Thank you.

If you believe there's no issue, feel free to close.

On 07/07/2018 04:44 AM, lorenz-nlp wrote:

[2018-07-08 07:17] lorenz-nlp commented on #231
Sure, thanks for your help, I happily close the issue.

[2018-07-08 07:17] #231 closed

[2018-07-08 16:49] maziyarpanahi opened #243 "Feature request: setMaxLength for SentenceDetector"
The Stanford CoreNLP has a global flag to improve performance where it avoids very long sentence from being parsed. I am not sure how this library is parsing for sentence detection, but I am sure the length of sentences and characters are impacting performance.

## Description
`setMaxLength`: Add option to avoid parsing any sentence more than `maxLength` to boost performance/memory especially in t

[2018-07-09 08:57] maziyarpanahi commented on #157
I think we can close this feature request as `Chunker()` annotator does exactly as I have wished for.
Thank you 👍

[2018-07-09 08:57] #157 closed

[2018-07-16 16:00] saifjsl commented on #110
Hello @Rachana-Baldania Thank you for trying out the DateMatcher!

Unfortunately, we're a small team and our current priorities are not on this annotator. You are more than welcome to debug it / fix it / make a new one and we are more than willing to help you in the process.

Feel free to join slack, we can discuss details over there.

Once I get free time I'll take a look at this one

[2018-07-18 07:56] ashu122 opened #245 "Error while loading model files"
I am unable to load model files from local and from s3 in my spark application which i trained using NerCrfModel.

## Description

While trying to load the model files from local directory and from s3 this is what I am getting.

`Exception in thread "main" org.apache.spark.SparkException: addFile does not support local directories when not running local mode.
	at org.apache.spark.SparkContext.addF

[2018-07-18 08:18] kevinykuo opened #246 "Scaladoc"
Is this available somewhere? I'm working on the R API and it would be helpful to have documentation that's more details than http://nlp.johnsnowlabs.com/components.html.

[2018-07-18 12:02] ashu122 opened #247 "Wrong FS when loading NerCrfModel"
## Description
Saving a trained NerCrf model to s3 and loading it back throws a java.lang.IllegalArgumentException exception with the message "Wrong FS, ... expected: file://...."

## Expected Behavior

A saved model (either standalone or as part of a spark PipelineModel) should be loadable from s3

## Current Behavior

While the model can be saved at the moment, reading it back throws an exceptio

[2018-07-19 06:13] iolbr opened #248 "Finisher throws Exception when flattening Regex results"
When setting up a pipeline with RegexMatcher I got an exception executing the finisher step
## Description

1. Build test datafram
2. Load Regex pattern
3. Match
4. Run finisher
## Expected Behavior

Expect new column in dataframe with results from RegexMatcher
## Current Behavior

org.apache.spark.SparkException: Failed to execute user defined function(anonfun$flatten$1: (array<struct<annotatorTy

[2018-07-19 06:52] Rachana-Baldania commented on #210
Hi @saifjsl,

Can you please answer the question asked by @sshikov ? because I also have the same question.

Thank you.

[2018-07-20 18:45] saifjsl commented on #210
Released.

@sshikov there is no way to do that now. But once you download them once through the API, you may have access to cache folder and may be able to read the models offline directly pointing to the path.

Cache folder by default is located in $HOME/cache_pretrained

[2018-07-20 18:45] #210 closed

[2018-07-20 19:11] surendralalwani opened #250 "Issue while loading a saved model into a different cluster"
The below error occurred when I created and saved a custom model in CDH cluster and tried to load in AWS EMR.

Traceback (most recent call last):
  File "/tmp/zeppelin_pyspark-5073389282467574021.py", line 367, in <module>
    raise Exception(traceback.format_exc())
Exception: Traceback (most recent call last):
  File "/tmp/zeppelin_pyspark-5073389282467574021.py", line 360, in <module>
    exec(c

[2018-07-20 19:51] sshikov commented on #210
Thanks. What if I download it myself and manually put into cache_pretrained?

[2018-07-23 07:08] Rachana-Baldania commented on #210
@saifjsl Thank you, I want to download your POS models all trained text files folder (for example, this small pos trained tags https://github.com/JohnSnowLabs/spark-nlp/tree/master/src/test/resources/anc-pos-corpus-small) and any other trained files which you have uploaded in amazon s3 folder which is private may be so I want to access it. So how it will be possible?

[2018-07-23 07:13] Rachana-Baldania commented on #210
@saifjsl Thank you, I want to download POS models all trained text files folder (for example, small pos trained tags https://github.com/JohnSnowLabs/spark-nlp/tree/master/src/test/resources/anc-pos-corpus-small) As per my knowledge which you have uploaded in amazon s3 server I don't know how to access it and also about the privilege it is private or public So how can I access it?

[2018-07-23 18:18] saifjsl commented on #210
It is public. I may have access to give you some links to download them offline. Lets continue on Slack to do so.

[2018-07-25 09:33] snape6666 commented on #199
i would like to request german as one of the first languages ;)

[2018-07-25 15:09] snape6666 commented on #232
I just installed spark-nlp for python and i get the same error... how do i fix this? i tried @saifjsl solution but didnt worked in my case...

any other suggestions? I dont understand why this isnt fixed by updating the install, its a well spread problem..^^

thx for help

[code]

[2018-07-25 18:16] ypandit commented on #245
Facing the same issue with External, Validation and Test dataset in `NerDLApproach`. The path from `pyspark.SparkFiles.get('train.txt')` is already available on all workers, however, I get the error `addFile does not support local directories when not running local mode.`

[2018-07-25 19:31] saifjsl commented on #232
@snape6666 it is not a problem in the library. The solution will depend on each Spark user, depending on their own environment.

Nowadays, Spark is widely spread used in different environments (Hadoop clusters with Yarn, Standalone with S3, Azure, Amazon EMR, etc..).

It is up to the user to understand his environment, in order to know how to make Spark executors be able to reach out JARS on a cla

[2018-07-25 19:37] #232 closed

[2018-07-26 05:39] snape6666 commented on #232
Thx for reply. I know that the system searches the JAR file. But which one?^^
I added the following without changes...

`os.environ['PYSPARK_SUBMIT_ARGS'] = '--jars C:/MYPATH/lib/spark-nlp-assembly-1.6.0.jar pyspark-shell'`

i exchanged MYPATH of course ;)

Or does the DocumentAssembler()   searches the spark...jar? Iam new in using spark so sorry for my stupid questions :">

[2018-07-26 05:57] snape6666 commented on #232
ok can be closed. found this nice tutorial =)

https://changhsinlee.com/install-pyspark-windows-jupyter/

[2018-07-31 06:39] snape6666 commented on #48
I have the same problem with 1.6.0,
what kind of settings do i need?

[2018-08-09 07:05] admunnik opened #253 "NER label always 'O' with Pyspark"
When training a ner label via Pyspark, the results of the NER tags always is 'O'.
This issue happens when following the provided example notebooks for NER tagging. One can simply reproduce this by following the example on Github:
https://github.com/JohnSnowLabs/spark-nlp/blob/1.6.0/python/example/crf-ner/ner.ipynb

It seems to work fine when using the pretrained() POS and NER in a pipeline, but us

[2018-08-09 18:15] saifjsl commented on #253
The issue happened also in Scala. It is related to a bug introduced in 1.6.0 with newly trained models, having bad accuracy due changes in DocumentAssembler that caused breaking of CONLL format.

https://github.com/JohnSnowLabs/spark-nlp/pull/252

[2018-08-09 18:18] saifjsl commented on #247
This issue happens due to S3 not providing a **defaultFS** configuration. So Spark-NLP doesn't know where to put shared temporary files by default. Something to try out would be to manually overriding defaultFS setting in Spark, and point it to somewhere in S3 so all nodes can access it.

We'll be investigating this issue further. Related pull request might help towards that issue but not necessar

[2018-08-09 19:24] saifjsl commented on #247
It is probable we include in next release, an override setting for shared path for internal embeddings in an S3 framework. We'll include instructions on the website and github

[2018-08-09 19:25] saifjsl commented on #245
It is probable we include in next release, an override setting for shared path for internal embeddings in an S3 framework. We'll include instructions on the website and github

[2018-08-09 20:13] surendralalwani commented on #250
It was 1.5.0

On Thu, Aug 9, 2018, 11:21 AM Saif Addin <notifications@github.com> wrote:

[2018-08-09 21:25] saifjsl commented on #247
https://github.com/JohnSnowLabs/spark-nlp/pull/257

[2018-08-09 21:25] saifjsl commented on #245
https://github.com/JohnSnowLabs/spark-nlp/pull/257

[2018-08-09 21:26] saifjsl commented on #247
Hi, this should have been fixed in 1.6.0. If not, 1.6.1 should. Which version did you use?

Thanks

[2018-08-10 20:04] anasamoudi commented on #40
Any updates here?

[2018-08-11 11:39] maziyarpanahi commented on #243
Hi, @saifjsl

If there is already a way to avoid long sentences to avoid degrading performance automatically then my feature request for SentenceDetector is not relevant anymore. But to clarify, sometimes, some corpus has long sentences either by mistake (forgetting the `.` at the end) or intentionally due to either poor writing or other reasons. That is why the setMaxLength is to assure regardles

[2018-08-17 21:28] saifjsl commented on #253
Fixed for CRF in 1.6.1. Will be fixed for DL in 1.6.2

[2018-08-17 21:28] #253 closed

[2018-08-21 04:36] danielchalef opened #265 "Pretrained Lemmatization model fails to download for 1.6.0-1.6.2"
## Description

I'm unable to download the pretrained "lemma-fast" model for versions 1.6.0-1.6.2. Strangely, I was able to do so for version 1.6.0 in the recent past.

## Expected Behavior

Model downloads to cache directory and is available for use.

## Current Behavior

Download errors out. See stack trace below.

## Possible Solution

## Steps to Reproduce

This occurs with both Python 3.6.6 a

[2018-08-21 16:00] saifjsl commented on #265
hi @danielchalef can you confirm if it is working now? I have a last-minute type in pretrained metadata causing all pretrained models to fail.

[2018-08-21 16:12] danielchalef commented on #265
That worked. Thanks!

[2018-08-21 16:12] #265 closed

[2018-08-22 13:55] saifjsl commented on #250
Hi, is it working on the current versions? Please try these instructions:

https://github.com/JohnSnowLabs/spark-nlp#s3-cluster-with-no-hadoop-configuration

[2018-08-22 13:56] saifjsl commented on #248
Thank you, we'll take a look!

[2018-08-22 13:57] saifjsl commented on #247
Hi, can you confirm this still happens in current version and by following these instructions?

https://github.com/JohnSnowLabs/spark-nlp/issues/248

[2018-08-22 13:58] saifjsl commented on #246
Hello, unfortunately not! Welcome to help

[2018-08-22 15:46] albertoandreottiATgmail commented on #248
Looks, to me that's happening in the regex matcher, will take a look

[2018-08-22 17:10] #235 closed

[2018-08-22 17:11] saifjsl commented on #245
Hi, please try this solution on the new releases

https://github.com/JohnSnowLabs/spark-nlp#s3-cluster-with-no-hadoop-configuration

[2018-08-22 17:11] saifjsl commented on #243
We have discussed a little bit about this. We may include this plus a min-max limit on amount of sentences per row after sentence detection.

[2018-08-22 17:12] saifjsl commented on #225
Hi, please reopen if there is anything we can do to improve this use case.

[2018-08-22 17:12] #225 closed

[2018-08-22 17:12] #219 closed

[2018-08-22 17:13] saifjsl commented on #215
Hi, please confirm on 1.6.2

[2018-08-22 17:13] saifjsl commented on #212
Should be fixed

[2018-08-22 17:13] #212 closed

[2018-08-22 17:14] #108 closed

[2018-08-22 21:29] albertoandreottiATgmail commented on #248
@iolbr the problem is that "|" is special character for regular expressions, we're not handling that at the moment in the API, but you can work around this with the following change,
val resource = ExternalResource("regex.txt", ReadAs.LINE_BY_LINE,Map("delimiter"->"\\|"))

We will fix this in the next release.

[2018-08-22 22:52] #250 closed

[2018-09-01 00:20] arnold-jr opened #267 "Feature request: Annotation-flattening transformer"
Use case: I want to feed tokenized (cleaned) words (`Array[String]`) into a SparkML pipeline.

Problem: `Tokenizer` yields `Array[Annotation]` which needs to be mapped. To use further in a Spark ML pipeline requires a `Transformer`.

Proposed solution: A standard `AnnotationFlattener` transformer to do this. I implemented one myself, with the pertinent bit being
[code]

Thanks!

[2018-09-07 13:15] saifjsl commented on #267
Hi @arnold-jr thanks for the idea. Indeed sometimes someone might want to feed into tokenized content.

Our DocumentAssembler is capable of reading Array[String] columns although it's output is going to be of type DOCUMENT and not token.

[2018-09-17 18:55] apiltamang opened #273 "Beginning and end marker for JavaAnnotation are not correctly aligned with string for \n and double white-spaces"
## Description

There seems to be some character alignment issue, when extracting JavaAnnotation from strings containing special characters. SparkNLP seems to ignore duplicate white-spaces, as well as newline characters while doing text analysis and extraction.

## Steps to Reproduce

1. Start spark with spark-nlp (i.e. bin/spark-shell start --package JohnSnowLabs:spark-nlp:1.6.3
2. Run the given

[2018-09-17 18:56] apiltamang commented on #273
Also if relevant, it might be worth backporting this fix so that other users can benefit from the discrepancy.

[2018-10-02 16:49] daniel-cortez-stevenson opened #274 "Can not download fat jar for version 1.6.3"
## Description
Hey y'all, thanks for the great package! Just getting started working with it but it's exactly what I need. My issue is that the fat jar for version 1.6.3 is not downloading.

## Expected Behavior
The download for the fat jar should commence when clicking the 'here' button within https://nlp.johnsnowlabs.com/quickstart.html (section: Pre-Compiled Spark-NLP for download)

## Current

[2018-10-03 08:30] danilojsl opened #275 "ExternalResource Special Character Support"
There is a bug when using special character delimiters in ExternalResource.

## Description

Users are having problems when using a special character delimiter in ExternalResource parameter.

## Expected Behavior

ExternalResource should have the same behavior as other standard Java or Scala APIs

## Current Behavior

It requires scape with two slashes characters to load the external resource when

[2018-10-05 18:12] saifjsl commented on #274
Thank you @daniel-cortez-stevenson

I am now uploading the jars, should be available in the next few minutes from this comment

[2018-10-08 17:16] daniel-cortez-stevenson commented on #274
Great, thanks @saifjsl

[2018-10-08 17:16] #274 closed

[2018-10-10 07:56] haimco10 opened #276 "sentenceDetector fails when bound is between two words that contain apostrophes"
## Description

`SentenceDetector` annotator fails to detect bounds when bound is between two words that contain apostrophes.

## Expected Behavior
In such case, it should split such text based on the given bounds.
For example:

Should become:

    "Isn't it right?"

## Current Behavior
It doesn't split text on such cases.
For example, the sentence:

Stays the same.

## Possible Solution
The reaso

[2018-10-10 15:26] apiltamang opened #277 "Cannot call NerDLModel.pretrained() on a Windows Instance"
## Description

Downloaded the stock spark ver 2.3.1 with precompiled hadoop-7 in a Windows Server 2016. Started the spark-shell with dependency on spark-nlp 1.6.2. Then attempted to load the pretrained NerDL Model in the shell.

## Expected Behavior

The pretrained model should load just fine.

## Current Behavior

The load fails with the following stacktrace:
[code]

## Possible Solution

Someon

[2018-10-18 15:35] bairathirahul opened #281 "Creating custom annotators"
Dear Team,

Is there any guide to develop custom transformers or annotators with the spark-nlp framework? I know we can use the Finisher and then use our Spark ML transformers. But it would be easier to develop something complying to this framework, so that we can plug our functions in between the pipeline.

[2018-10-18 18:46] saifjsl commented on #281
hi! I believe we have an outdated documentation here:
https://nlp.johnsnowlabs.com/contribute.html
which might give you a few ideas. also, there is a recent commit with a silly-simple annotator here:
https://github.com/JohnSnowLabs/spark-nlp/blob/9a8319a2bd6ac395eb62cf157660f5f2e414d333/src/main/scala/com/johnsnowlabs/nlp/Chunk2Doc.scala

Feel free to join slack or propose some new documentation

[2018-10-18 18:47] saifjsl commented on #277
1.7.0 included the uri fix, can you confirm it now works?

[2018-10-18 18:53] bairathirahul commented on #281
Thanks a lot. I will look into these.

[2018-10-18 19:50] bairathirahul opened #283 "Wrong FS error while training NerCrfApproach"
I am facing two issues with the version 1.7.0 while training NerCrfApproach
1. I am not able to provide Embeddings from HDFS. I was able to do it with version 1.6.3
2. Now that I have provided the source files from the local file system, I am receiving following error while training.

[code]

[2018-10-22 14:00] bairathirahul opened #291 "Config file format"
Spark's default conf file format consists of key, value pair, separated by a whitespace. However, the lightbend config file reader does not support this format. I am receiving the following error when a properties file is specified with "--properties-file" command line argument.

`py4j.protocol.Py4JJavaError: An error occurred while calling o96.fit.
: com.typesafe.config.ConfigException$Parse: ./a

[2018-10-22 14:14] bairathirahul opened #292 "ConfigException$Parse with --properties-file flag"
Receiving `com.typesafe.config.ConfigException$Parse` when a custom properties-file is provided to the `spark-submit` command with the `--properties-file` flag.

## Description

I am providing a custom .conf file to the spark-submit command, and I think it is being read in the ConfigLoader.scala. The format for Spark's configuration file is key value pair separated by whitespace. This format is no

[2018-10-25 03:07] lisaslyis opened #293 "Issues of integration with Zeppelin on local environment"
The library is not usable in local Zeppelin 0.8.0 + Spark 2.3.1 environment when the instruction is followed.
Some of the issues might need to be fixed on Zeppelin side.

## Description
1. Spark-nlp python API has issues when the maven artifact is configured in Zeppelin web interface
    1. commons-codec 1.3 seems to have a version conflict issue in Zeppelin pyspark interpreter
![image](https://us

[2018-10-25 17:03] saifjsl commented on #283
Hello @bairathirahul please confirm, this is supposed to be fixed in 1.7.2

Thanks

[2018-10-25 17:05] saifjsl commented on #292
Hm this is interesting, would be great to know what makes Spark-NLP (actually that is Spark's responsibility) read application.conf in such format. @albertoandreottiATgmail any thoughts?

[2018-10-25 17:11] saifjsl commented on #293
Thanks, we should review the current installation instructions and see what's going on. A user on Slack reported the same issue with the apache.commons.codec path.

[2018-10-25 17:45] bairathirahul commented on #283
Hi @saifjsl Yes, it was fixed with 1.7.2.

[2018-10-25 17:46] #283 closed

[2018-10-25 17:46] #281 closed

[2018-10-25 22:49] lisaslyis commented on #293
The dependency is as follows
 aws-java-sdk 1.7 -> commons-codec 1.3

I guess using a different version of aws-java-sdk or enforcing commons-codec >=1.4 in build-process can be a solution if it doesn't create any compatibility issue.

[2018-10-26 13:58] saifjsl commented on #293
Yes I am investigating this. I could reproduce the issue. So far the only thing I learned is that SPARK_SUBMIT_OPTIONS is not reliable in anyway anymore. If I could suggest a package for zeppelin that upgrades commons-codec that should be enough for now, but still testing.

[2018-10-29 16:32] saifjsl commented on #293
https://github.com/JohnSnowLabs/spark-nlp/pull/296

[2018-11-02 13:26] EnricoMi opened #298 "Loading NER Model on Windows fails with RocksDBException"
Loading a pre-trained Crf or DL NER Model on Windows fails with an `org.rocksdb.RocksDBException: Snappy not supported or corrupted Snappy compressed block contents`.

## Description
When loading a pre-trained Crf (ner_fast_en_1.7.0_2_1539896043754) or DL (ner_precise_en_1.7.0_2_1539623388047) NER model on Windows, I get this exception:
[code]

## Expected Behavior
The models should load without a

[2018-11-02 14:00] EnricoMi opened #299 "Using a NER model throws NoSuchElementException / SparkException"
Using a pre-trained Crf or DL NER Model with a DataFrame having multiple partitions fails with a `NoSuchElementException` and `SparkException: Failed to get broadcast_6_piece0 of broadcast_6`.

## Description
When tagging a DataFrame using a pre-trained Crf (ner_fast_en_1.7.0_2_1539896043754) or DL (ner_precise_en_1.7.0_2_1539623388047) NER model in cluster mode, I get this exception:
[code]
This

[2018-11-05 13:29] saifjsl commented on #299
Thank you, I am investigating the issue. Sounds to be introduced in 1.7.x.

[2018-11-05 17:04] EnricoMi commented on #298
The very same Spark code on Windows is able to write parquet files with Snappy compression, so some Snappy implementation seems to be available.

However, providing models trained on Windows would be an easy fix to this.

[2018-11-07 12:52] auroredea opened #301 "Tokenizer : Problems with the compound words start with ?"
I trained a PosModel with my own Tokenizer, which uses some compound word starting with special characters like '?' or '$' or '-'.
It complains at the prediction stage with '?', not the training stage.

## Description

## Expected Behavior
No errors.

## Current Behavior
With a compound word starting with '?', at loading the model and annotate with LightPipeline, I have the following stacktrace :

[2018-11-07 20:42] albertoandreottiATgmail commented on #301
@auroredea we will take a look, please keep an eye on this page.

[2018-11-08 09:55] haimco10 commented on #276
@saifjsl , Can you please confirm if it's indeed a bug?

[2018-11-08 13:51] albertoandreottiATgmail commented on #301
Hi @auroredea ,

I think the problem you're experiencing is coming from not escaping special characters ?, !, etc.
It seems that the setCompositeTokens is accepting regular expressions, and you will have to escape special characters to take them as literal, and not their function in regexes.
Can you give more detail on what is that you want to accomplish by calling that API? Sample input / sample

[2018-11-08 18:49] saifjsl commented on #276
Hi @haimco10 not sure why I missed this issue. Thanks for reporting this.

It is not necessarily a bug, it's a product decision. The best way would be to have an option to be capable of breaking blocks (quotes, parenthesis content, etc).

I'll take a look into this or feel free to propose a way that makes different use-cases happy.

[2018-11-08 20:08] auroredea commented on #301
Yes Alberto, I didn't understand it was regular expression, so I will quote them.
Input/output of the tokenizer annotation?

[2018-11-08 20:09] albertoandreottiATgmail commented on #301
Yep. I'd like to see if maybe you're using the wrong tool for the job. Also if want more support, I invite you to join our Slack channel.

[2018-11-11 22:17] saifjsl commented on #299
https://github.com/JohnSnowLabs/spark-nlp/pull/303

[2018-11-12 14:41] gsindholt opened #305 "Error loading AdvancedPipeline: AmazonS3Exception: Forbidden"
## Description
Loading pretrained pipeline: `AdvancedPipeline().pretrained`, I get the following AWS exception:

`Exception in thread "main" com.amazonaws.services.s3.model.AmazonS3Exception: Forbidden (Service: Amazon S3; Status Code: 403; Error Code: 403 Forbidden; Request ID: CE4C334E140CF087), S3 Extended Request ID: H6TN70nAEPU6YlG3uriBXo31m0w+DbkFi7hrK1ABzcti5NkndmGK053yfXRQ4zcYjE3TJnHrzao=

[2018-11-12 23:48] saifjsl commented on #305
Thanks for reporting this. I'll take  a look shortly

[2018-11-13 07:32] munaAchyuta opened #306 "java.lang.NullPointerException issue while calling PerceptronApproach().setCorpus()"
Hi,

can anyone tell me why this issue is coming ?

while setting corpus after done with pos-tag this issue is coming.  specifically in this line.
`.setCorpus("file:///" + os.getcwd() + "/../../../src/test/resources/anc-pos-corpus-small/","|")`

is it permission issue ? i don't think so, bcs other files are able to be created.

python - 2.7
spark - 2.4.0
spark-nlp - latest version

more on issue d

[2018-11-13 15:51] saifjsl commented on #305
There is a problem on our server, mismatching model version and number. Going to re-train and re-upload as soon as possible and will let you know!

[2018-11-13 16:57] albertoandreottiATgmail commented on #306
hi @munaAchyuta, I don't understand how that line could have triggered the exception you pasted. It seems like you're trying to fit the POS model without a dataset or an external file.
Is this your code?,

      2 #import pdb;pdb.set_trace()
      3 print("Start fitting")
----> 4 model = pipeline.fit(data)
      5 print("Fitting is ended")
      6 print (time.time() - start)

In case it's not, ple

[2018-11-14 05:32] munaAchyuta commented on #306
Hi @albertoandreottiATgmail  , thanks for quick reply. FYI, i am using some code samples from spark-nlp repo. more concretely crf-ner code , which is available in **spark-nlp-->python-->example-->crf-ner-->ner.ipynb**

i was just exploring features through given example test script.

as mentioned above , i'm also using same given dataset (spark-nlp-->src-->test-->resources-->anc-pos-corpus-small).

[2018-11-15 12:47] haimco10 commented on #276
Thanks @saifjsl. It is possible to have the option to break or protect single quotes, but once we decide to protect them, we need to make sure it  behaves correctly. This is why I think it's a bug.

My suggestion, as I suggested above, is:
To replace the current regex: `'[\\w\\s?!\\.,']+'` with  `(?<=\\s|^)'(?:[^']|'\\w)+'`

I created an example here:
- With the current regex: http://rubular.com/r

[2018-11-15 21:06] EnricoMi commented on #299
I can confirm that this is fixed for me. Great work, thanks!

[2018-11-15 21:11] saifjsl commented on #305
hi @gsindholt this is supposed to be fixed. Could you confirm?

[2018-11-15 21:11] #299 closed

[2018-11-15 22:44] auroredea commented on #301
It's ok for me. Thank you

[2018-11-16 07:29] gsindholt commented on #305
Yes, I can confirm that it now works 👍

[2018-11-16 07:29] #305 closed

[2018-11-17 17:17] oscarvarto opened #308 "Support for Scala 2.12.X"
Spark 2.4.0 introduced support for Scala 2.12. It would be great to have a release compatible with current stable version of Scala.

[2018-11-19 02:14] saifjsl commented on #301
Closing. Release 1.7.3 included changes in param functions to indicate this is a regex.

[2018-11-19 02:14] #301 closed

[2018-11-20 10:10] dengelha commented on #308
Yes !!! Same here :+1:

[2018-11-20 10:35] maziyarpanahi commented on #308
I am all with starting the conversation about what it takes to make this library support Scala 2.12, but let's not forget the support for Scala 2.12 in Spark 2.4.x is experimental as it is stated in the release notes. Also, almost the entire Spark community is still on 2.11 (some even 2.10) and they will stay on it for years to come. (That is why it took so long for Spark developers and maintainer

[2018-11-20 10:55] danilojsl opened #310 "SPARK_HOME Issue + DeIdentification Fix + Normalizer Improvement"
1. There is an issue whit pip installation when SPARK_HOME variable is setup.
2. There is a fix required in DeIdentification unit tests.
3. There is a pending improvement in Normalizer.

## Description

Installation of spark-nklp with Python package is working in all environments, but when SPARK_HOME is setup, it does not find _sparknlp.jar_

## Expected Behavior

1. When using spark-nlp under pyh

[2018-11-20 11:32] dengelha commented on #308
Nice, so then, let's create TODOs :-)

My motivation concerning the upgrade is the permanent conversation with my DEV section. "No, we cannot use spark, as we need to have 2.12!". In consequence, sticking to CoreNLP.. and even considering spaCy (no offense but I am a Scala guy) for future tasks :(

So, let's rock'n'roll our TODOs..

[2018-11-20 11:45] maziyarpanahi commented on #308
Great to hear that @dengelha! Since you are the Scala guy you might have some ideas as to where to start?

I have read this post, it is still helpful to this day:
https://www.scala-lang.org/news/2.12.0/
Also, keep an eye on the release notes for the newest changes:
https://github.com/scala/scala/releases

[2018-11-20 19:36] saifjsl commented on #306
Thank you, indeed the fault it is **Spark 2.4.x**.

So, we're officially not yet supporting it.

[2018-11-20 22:57] maziyarpanahi commented on #306
I just tested my Scala code that uses already trained POS model by `spark-nlp` against **Spark 2.4.0** and it worked. Is this only for Python?
I'll see if I can test more annotators to see if they all pass in Scala at least.

[2018-11-21 04:38] saifjsl commented on #306
Indeed, the problems seems to come mostly from python. But since Spark 2.4.x changes were noticeable, we can't say we support it until we explicitly tested everything with it. It is safer for now to work with Spark 2.3.2.

[2018-11-22 15:41] #32 closed

[2018-11-22 15:41] #33 closed

[2018-11-23 11:39] danilojsl commented on #215
Since there are 6 months without an answer and I replicated the code without issues in my environment.

[2018-11-23 11:39] #215 closed

[2018-11-26 18:40] yg37 commented on #232
Thanks @snape6666!

[2018-11-26 21:33] fzr72725 opened #312 "Complete list of class labels for the pre-trained NER models?"
## Description

No issues running the model. But I would like to get a complete list of NER labels the pre-trained models provide. I could not find this information anywhere in the existing documentation.

Thanks!

[2018-12-04 04:19] lidan1014 opened #317 "Data format of setExternalDataset() in NerCrfApproach()"
Other than CoNLL 2003 IOB based dataset format, does setExternalDataset() support other data format input? If yes, could you provide an example?

## Description

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

## Context

## Your Environment

* Version used:
* Browser Name and version:
* Operating System and version (desktop or mobile):
* Link t

[2018-12-05 11:21] dengelha commented on #308
Thanx for the advice @maziyarpanahi,

hopefully, I can make it work during my vacation in this month. I just forked. This will be my very first contribution to a github project, so please do not expect me to succeed. If you have any suggestions, please let me know. Hopefully, there are others trying the 2.12 upgrade as well and we can exchange thoughts.

[2018-12-05 17:42] saifjsl commented on #312
Thanks, we should update this in the documentation indeed.

For practical purposes, the pretrained NER model has

B-ORG
I-ORG
B-PER
I-PER
B-LOC
I-LOC

and it has been trained from:
https://raw.githubusercontent.com/patverga/torch-ner-nlp-from-scratch/master/data/conll2003/eng.train

[2018-12-05 17:48] saifjsl commented on #317
Hi, aside from CoNLL format (The labels do not have to be IOB, that is completely up to the user) we allow training from the dataset passed to `fit()`.

The parameter `labelCol` should be defined and exist in the provided dataframe.

And this column should be of type Array[Annotation] although this is not yet very well documented. If you can go through a little bit on the code, you'll see that an

[2018-12-07 05:35] lidan1014 commented on #317
Hi Saif,

Thanks for your reply. Could you please add me to slack? I am still having
some difficulties.

Thanks,
Dan

On Wed, Dec 5, 2018 at 9:48 AM Saif Addin <notifications@github.com> wrote:

[2018-12-08 18:19] rohit-nlp opened #321 "Set config path in python do not reset the new S3 credentials in ResourceDownloader"
## Description

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

## Context

## Your Environment

* Version used:
* Browser Name and version:
* Operating System and version (desktop or mobile):
* Link to your project:

[2018-12-09 17:53] fzr72725 commented on #312
Awesome! Thanks @saifjsl! How can one contribute to the SparkNLP documentation? I can add this into the documentation and would love to join the on-going doc maintenance/update!

[2018-12-10 12:11] maziyarpanahi commented on #312
Hi @fzr72725 and thank you for your interest in contributing to this library. For contributing to documentation, you simply need to clone the library and look for `docs` directory in the root. They are bunch of `.html` files like these:
https://github.com/JohnSnowLabs/spark-nlp/tree/master/docs

To test, you can just use your browser(any) without a need to run anything before hand. (simply double

[2018-12-14 19:20] dharaghodasara opened #326 "How can i remove HTML tags from text"
As part of text cleaning/normalization process, i want to remove HTMl tags from text.
## Description

I am using NLTK library. To remove HTML tags , i am using BeautifulSoup library's HTML parser.
But now we are moving to Spark for large scale text processing.

I checked documentation but didn't find any way to remove HTML tags. Can  you help me that?

[2018-12-21 21:56] KayShenClarivate opened #330 "How to get OCR works with Databricks notebook?"
So I am trying to follow this notebook and get it to work on a databricks notebook: https://github.com/JohnSnowLabs/spark-nlp-workshop/blob/master/jupyter/ocr-spell/OcrSpellChecking.ipynb ; However, after installing all the packages, I still get stuck by the time I get to

[code]

Error message is:

[code]

Anyone knows why? Much appreciated!

[2018-12-22 10:09] maziyarpanahi commented on #326
I think you should take a look at `Normalizer`. It has `setPatterns` option which allows you to define some regex strings. It will replace them with space.
Or you can use the same regex which removes HTML tags from the text in a simple UDF that can be applied on your DataFrame before it goes to Spark NLP pipeline.

[2019-01-06 20:32] saifjsl commented on #330
Hi, welcome.

For help it is better if you join Slack so people can help you. You are probably installing Tesseract incorrectly.

Please close as this is not a specific issue with the library

[2019-01-06 20:33] saifjsl opened #337 "Verify all embeddings pathing is correct when redefining local dirs"
## Description

setting configurations like `--conf "spark.local.dir=/home/saif/tmp/"` makes embeddings not work (embeddingsRef not found) properly in local environments. Internal config readings should be synchronized.

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

## Context

## Your Environment

* Version used:
* Browser Name and version:
*

[2019-01-06 22:46] #330 closed

[2019-01-07 12:18] maziyarpanahi commented on #52
To contribute to this discussion, I use CoNLL-U from Universal Dependencies to train POS tagger models. If you look at the format most of the languages/datasets come with Lemma included. Just one example of how to unify the training for Lemma which needs POS and they all come from the same `test`, `dev`, `train` datasets.

http://universaldependencies.org/format.html

[2019-01-09 22:15] johnmccain opened #340 "Spark-NLP Annotators Incompatible with Custom Transformers"
## Description
Using a custom Spark transformer before a Spark-NLP annotator causes an exception.  This holds true when the custom transformer does nothing.

**[Notebook with steps to replicate](https://gist.github.com/johnmccain/2a572be76a0ef3dce69416b2516614f7)**

Exception can be seen in cell 16.  A similar exception occurs when the custom transformer is placed before the Normalizer, so this is

[2019-01-14 20:03] johnmccain opened #345 "SymmetricDeleteApproach.setCorpus Has Different Behavior In Python vs. Scala"
## Description
The [documentation for the SymmetricDeleteApproach.setCorpus](https://nlp.johnsnowlabs.com/components.html#SymmChecker) method suggests that it can be called with a single String argument.  This is true in Python, but not in Scala.

## Expected Behavior

[code]

should be equivalent to:

[code]

## Current Behavior

The Python version works, while

[code]

fails with the message:

[

[2019-01-14 20:05] johnmccain commented on #345
This also appears to affect NorvigSweetingApproach.

[2019-01-17 20:26] maziyarpanahi commented on #199
Hi @MobinRanjbar, @snape6666,

As you may have noticed, `spark-nlp` has many annotators to help users to construct their NLP Pipeline. Creating an entire NLP Pipeline for one language requires a good amount of dataset that is labeled correctly with high and acamdic quality to cover all the annotators (Lemma, POS, Sentiment, NER, etc.). Unfortunately, today this is only true and available for Engli

[2019-01-17 20:37] maziyarpanahi opened #347 "Support fastText as Word Embeddings in NerDLModel"
Hi,

This is a feature request which might be already possible. Facebook has introduced and extention to word2vec called fastText which has some very good Word Vectors. We can use these word vectors in training NerDLModel and other possible annotators requiring word embeddings.

It supports over 157 languages and most of their vectors from news and Wikipedia are way more recent than others (Google

[2019-01-18 18:07] saifjsl opened #348 "Finisher setIncludeMetadata() not working when outputAsArray is False"
## Description

Finisher setIncludeMetadata() not working when outputAsArray is False

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

## Context

## Your Environment

* Version used:
* Browser Name and version:
* Operating System and version (desktop or mobile):
* Link to your project:

[2019-01-19 10:13] danilojsl commented on #345
Thanks for reporting it, I created a [PR](https://github.com/JohnSnowLabs/spark-nlp/pull/349) that solves the issue.

[2019-01-24 10:07] maziyarpanahi commented on #340
Hi @johnmccain,

I took a look at your code. There seem to be one too many columns named `token`. Can you please rename the columns to unique name such as `token` for Tokenizer, `normal` for Normalizer, `custom` for custome_transformer and see if the error still the same? Also, a `printSchema` in each stage would be good to make sure the schema of all columns is the same.

Sorry, I am not a Python

[2019-01-25 20:48] saifjsl commented on #348
it does include metadata when output is string. just not in a separate column.

[2019-01-25 20:48] #348 closed

[2019-01-26 00:00] saifjsl commented on #276
Hello @haimco10

We were reviewing your Pull request (and actually merged). But after further testing, before release. We found it caused a several issue when training a NerCrf model with sentence detector after this change.

If you are willing to try (and sorry for long delayed responses), this is the text that causes a

[code]
With the following target text:
[code]

Also, you can reproduce it wi

[2019-01-26 15:12] haimco10 commented on #276
@saifjsl , I see,. It's an issue caused by a [long string Regex](https://stackoverflow.com/questions/7509905/java-lang-stackoverflowerror-while-using-a-regex-to-parse-big-strings). I will try to find a better Regex.

[2019-01-28 20:47] saifjsl commented on #276
Thanks!!

[2019-01-29 00:01] Tshimanga commented on #347
Try reformatting the `.vec` file to glove format. That seems to do the trick for me.

[2019-01-29 18:31] ecmonsen commented on #232
Thanks from me as well, @snape6666 !

[2019-01-30 10:16] maziyarpanahi commented on #232
Of course, you can download the provided JAR or Fat JAR and make it available to your Spark via many ways. However, if you are using `pip` or `conda` to install `spark-nlp` then when it comes to upgrading it you also have to manually come back and download the right JAR again!

The solution is to find `sparknlp.jar` path from your packages. For instance, `site-packages/sparknlp/lib/sparknlp.jar` i

[2019-01-30 13:34] saifjsl commented on #232
I think there's a typo on @maziyarpanahi answer. The config is `spark.jars` (plural)

[2019-01-30 14:02] maziyarpanahi commented on #232
Oh sorry! I'll edit it out since the other two are enough. I checked and there is no need for `spark.jars` to be set. Thanks @saifjsl 👍

[2019-01-30 17:07] Tshimanga commented on #347
This is how I have been using my own fasttext embeddings in spark nlp, and it works fine; but so far I haven't been too concerned with fully utilizing fasttext as more than a convenient cli for generating in-domain word vectors. You're almost certainly right in expecting it to be lossy. @maziyarpanahi

[2019-01-30 20:23] Tshimanga opened #358 "DeepSentenceDetector.read() is missing"
The DeepSentenceDetector class introduced in @danilojsl 's PR #342 is missing an implementation of `ParamsAndFeaturesReadable[DeepSentenceDetector]` as per @saifjsl .

As such, one can train and persist DL NER Sentence Splitting models/pipelines but cannot then re-load them.

[2019-01-31 10:02] danilojsl commented on #358
I created a [PR](https://github.com/JohnSnowLabs/spark-nlp/pull/361) that solves this issue

[2019-02-04 19:25] rohit-nlp opened #364 "Cache embeddings locally to avoid re download"
## Description

Currently, the embeddings helper downloads the embeddings everytime it is loaded. This cause a lot of delay as the embeddings file is quite huge in size. Like the pretrained model the embeddings should also be cached locally so that it is not downloaded every time.

[2019-02-06 02:53] albertoandreottiATgmail opened #367 "Update documentation"
'setIncludeKeys' still mentioned in documentation for Finisher.
![image](https://user-images.githubusercontent.com/4570303/52318011-407e4000-29a1-11e9-9ba2-86a6b5119882.png)

## Description

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

## Context

## Your Environment

* Version used:
* Browser Name and version:
* Operating System and version

[2019-02-06 17:20] saifjsl commented on #367
Fixed

90473453d373182919ed717d8502fc7b9169fc20

[2019-02-06 17:20] #367 closed

[2019-02-07 18:38] #358 closed

[2019-02-12 00:06] jeffisenhart opened #374 "DocumentAssembler in Java"
## Description

I am trying to create a DocumentAssembler instance in Java
## Expected Behavior

The following code should create a DocumentAssembler instance
[code]

## Current Behavior
But I get this instead
[code]

* Version used:
compile group: 'org.apache.spark', name: 'spark-core_2.12', version: '2.4.0'
compile group: 'org.apache.spark', name: 'spark-sql_2.12', version: '2.4.0'
compile group

[2019-02-12 00:17] maziyarpanahi commented on #374
Can you please try to use Scala 2.11 for Spark as well? Not sure if it has anything to do with this error, but I don’t think Spark NLP supports 2.12 even on Spark’s side.

[2019-02-12 01:55] Tshimanga opened #375 "DeepSentenceDetector missing sys.modules links"
`deep = sys.modules[__name__]`

and

`sys.modules['com.johnsnowlabs.nlp.annotators.sbd.deep'] = annotator`

missing from `sparknlp.annotator.py` and `sparknlp.__init__.py` respectively. Blocks usage of the `DeepSentenceDetector` class

[2019-02-12 16:19] maziyarpanahi commented on #232
Now you can just use Spark Packages instead of locating and pointing to sparknlp.jar:

[code]

[2019-02-12 18:06] jeffisenhart commented on #374
Yep, changing dependencies solved it

compile group: 'org.apache.spark', name: 'spark-core_2.11', version: '2.4.0'
compile group: 'org.apache.spark', name: 'spark-sql_2.11', version: '2.4.0'
compile group: 'com.johnsnowlabs.nlp', name: 'spark-nlp_2.11', version: '1.8.2'
compile group: 'com.johnsnowlabs.nlp', name: 'spark-nlp-ocr_2.11', version: '1.8.2'
runtime group: 'org.apache.spark', name: 'spa

[2019-02-12 18:06] #374 closed

[2019-02-12 18:25] jeffisenhart opened #380 "Replicate NerDLPipeline in Java"
I am trying to replicate NerDLPipeline in Java (standalone) and getting an exception

Here is the code. I expect to see the output of the call

`pm.select("ner","ner_converter").show(false);`

[code]

When this line executes

`NerDLModel ner = NerDLModel.pretrained(NerDLModel.pretrained$default$1(), NerDLModel.pretrained$default$2(), NerDLModel.pretrained$default$3());`

I get the following except

[2019-02-12 18:55] maziyarpanahi commented on #380
This is actually related to the version `guava` used in Hadoop. Are you using any other packages which might be incompatible with the version shipped with Spark 2.4.0?
Few quick fixes are adding `hadoop-client` with the version that supports a higher `guava` or Identified your dependency hierarchy and exclude the one that uses `guava`.

[2019-02-12 21:24] jeffisenhart commented on #380
OK, I've trimmed down the dependencies to see what the issue might be and now getting a different error. Here is the exhaustive list of my dependencies.

[code]

And the current issue:

[code]

[2019-02-13 17:03] jeffisenhart commented on #380
I finally got the code to run by restricting the quava to version 15

[code]

[2019-02-13 17:03] #380 closed

[2019-02-13 20:10] maziyarpanahi commented on #380
Good to hear that :)

[2019-02-15 22:41] Tshimanga opened #385 "DeepSentenceDetector records incorrect begin and end offsets"
Currently the `DeepSentenceDetector` sets all sentence begin offsets to 0 and ending offsets to the length of the sentence.

The begin offset should the character offset in the document and the end offset the end of the sentence in the document.

[2019-02-15 23:02] Tshimanga opened #386 "DeepSentenceDetector handles initial tokens incorrectly"
Boundaries don't get handled properly if the DL model mis-classifies an initial or terminal token.

For example, if a document starts off as
[code]
and the model classifies tokens as,
`[0, 1, 0, 0, 0, 0, ....]`
then the output sentences ends up being
[code]
rather than
[code]

The `DeepSentenceDetector` should in general strongly assert that the first token in a document is a `B-sent` token, regar

[2019-02-19 14:37] albertoandreottiATgmail opened #391 "Splitpages in OcrHelper doesn't behave as expected"
## Description
OcrHelper.splitPages() works by splitting regions, and not only pages, sometimes regions and pages are equivalent, but in general they are not. Rename the method to reflect what it actually does or add an additional method splitRegions(), and make splitPages() behave as expected.

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

##

[2019-02-23 11:01] #276 closed

[2019-02-23 11:52] saif-ellafi opened #407 "Fix DeepSentenceDetector not handling multiple DOCUMENT input types"
## Description

As a future enhancement, this should be easier and possible with CHUNK `sentenceIndex` metadata.

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

## Context

## Your Environment

* Version used:
* Browser Name and version:
* Operating System and version (desktop or mobile):
* Link to your project:

[2019-02-23 11:53] saif-ellafi opened #408 "Research a MOCKing library for making easier unit testing annotations"
## Description

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

## Context

## Your Environment

* Version used:
* Browser Name and version:
* Operating System and version (desktop or mobile):
* Link to your project:

[2019-02-23 17:53] Tshimanga commented on #375
Fixed in #376

[2019-02-23 17:53] #375 closed

[2019-02-23 17:53] Tshimanga commented on #385
Fixed in #388

[2019-02-23 17:53] #385 closed

[2019-02-23 17:54] Tshimanga commented on #386
Fixed in #392

[2019-02-23 17:54] #386 closed

[2019-02-23 17:57] Tshimanga commented on #408
There seems to be a parallel Scala project for Mockito https://github.com/mockito/mockito-scala

How does that look for your desiderata?

[2019-02-24 10:23] maziyarpanahi commented on #166
`spark-nlp` is a native library on top of the Apache Spark ML. Apart from all the advantages of running `spark-nlp` natively in Spark, it also takes advantage of the Spark ecosystem. This means you get to do your ML/DL pipeline anywhere, for instance, Apache Ignite and use Spark to read/write the results.

You can read any data from any source by using Spark which can come from another pipelines,

[2019-03-02 00:28] saifjsl commented on #347
It sounds a similar feature to what we do on BERT, by using a custom tokenizer tokenize specific set of features, plus giving embeddings to entire sentences, wouldn'it?

Maybe I am adding confusion here, but the question to answer there is which annotators would benefit from such content?

[2019-03-02 07:47] maziyarpanahi commented on #347
I’m happy that we support BERT. The reason for asking about fastText was that it is new and updated with support for many languages. So I don’t think we need to support fastText and as mentioned earlier users can still read fastText in word2vec format.

The only annotator that supports word embedding is NER_DL at the moment. I would love to have NER for multiple language especially with the high a

[2019-03-09 17:53] Tshimanga opened #424 "DeepSentenceDetector can output empty Annotations"
The deep sentence detector seems to be able to emit empty sentences (""). Empty Annotations should be filtered out.

[2019-03-21 11:16] rmitsch opened #463 "Using pretrained pipelines in PySpark throws java.util.NoSuchElementException"
Trying to run a minimal example including a pretrained pipeline in PySpark results in an exception thrown in `com.johnsnowlabs.nlp.pretrained.PythonResourceDownloader.downloadPipeline`.

## Description

Running the minimal example provided at https://github.com/JohnSnowLabs/spark-nlp/blob/master/python/example/quick-start.ipynb crashes at `pipeline = PretrainedPipeline('pipeline_vivekn')` with the

[2019-03-21 11:44] maziyarpanahi commented on #463
Hi @rmitsch,
We just pre-released `2.0.0` and haven't announced it yet. We need to train and upload models and pre-trained pipelines in order to work in the latest release.
Please consider using `1.8.x` for now until we announce this release publicly once everything is set.
Thank you.

[2019-03-21 11:51] rmitsch commented on #463
Alright, thanks for the quick response.

[2019-03-21 11:52] maziyarpanahi commented on #463
You are welcome, I'll keep you updated here once everything is sorted out.

[2019-03-21 12:02] rmitsch commented on #463
Awesome, thank you. I'll keep the issue open until then.

[2019-03-22 16:29] maziyarpanahi commented on #463
We have fixed most of our example with the new release, please consider using this repo for all current and future examples:
https://github.com/JohnSnowLabs/spark-nlp-workshop

You are welcome to create an issue if you see something not working properly.
Thank you for reporting this :)

[2019-03-22 16:29] #463 closed

[2019-03-22 20:00] csyhuang opened #469 "Unable to run python/example/basic/explain_document.ipynb"
## Description

I encountered an error when running the jupyter notebook `python/example/basic/explain_document.ipynb`. Here are the scripts in my notebook cell:

[code]

## Current Behavior

When running through the lines above, it gives the `NoSuchMethodError`:

[code]
Is there something I am missing?

Note that I'm using spark version 2.2.1 - would that be the cause of the problem? Thanks.

[2019-03-22 20:36] maziyarpanahi commented on #469
Hello,

The current examples are with the newest release which is 2.0.0 and it’s only compatible with Spark 2.4.x above.

Also, we have a repo which we are going to use for examples and it supports Docker if you would like to test some examples.

https://github.com/JohnSnowLabs/spark-nlp-workshop

[2019-03-22 21:20] csyhuang commented on #469
@maziyarpanahi , thanks for pointing me to the Docker image. I'm now running the docker such that the spark version is 2.4.0, but when calling

[code]

there is still `No such file or directory` but this time it's about tensorflow? The error messages are included below

[code]

Are the notebooks supposed to run without error in the docker? Thanks!

[2019-03-22 21:26] maziyarpanahi commented on #469
You are welcome, could you please open an issue in that repo? I think we have more hands on issues related to those examples there.

Many thanks again

[2019-03-23 00:54] csyhuang commented on #469
Sure. I opened an issue there:
https://github.com/JohnSnowLabs/spark-nlp-workshop/issues/21

[2019-03-25 12:14] #469 closed

[2019-03-25 12:14] #326 closed

[2019-03-26 19:59] herokyar opened #478 "Py4JJavaError: An error occurred while calling z:com.johnsnowlabs.nlp.pretrained.PythonResourceDownloader.downloadPipeline."
Hi,

I am running pyspark 2.2 (local pip install)  with spark-nlp 1.8.3 (local pip install)

Below is how I create the SparkSession.

[code]

But below code is failing:

[code]

Below is the error:

---------------------------------------------------------------------------
Py4JJavaError                             Traceback (most recent call last)
<ipython-input-10-7568dfc1f56e> in <module>()

[2019-03-27 20:00] maziyarpanahi commented on #306
This has been fixed in new releases of `spark-nlp` against Spark `2.4.0`.

[2019-03-27 20:00] #306 closed

[2019-04-03 16:36] ciliop opened #480 "Error using PretrainedPipeline: AmazonS3Exception: AccessDenied"
## Description
Hello, I'm trying the example "running pre-trained models" from spark-nlp workshop but looks like I don't have access to the pre-trained models.

I'm using PretrainedPipeline("pipeline_basic") to annotate a String, but i get the following exception:

Exception in thread "main" com.amazonaws.services.s3.model.AmazonS3Exception: Status Code: 403, AWS Service: Amazon S3, AWS Request ID

[2019-04-03 17:30] maziyarpanahi commented on #480
Hi @ciliop,
Could you please create this issue in the appropriate repo for others if they might face the same problem?

Many thanks,

[2019-04-03 17:30] #480 closed

[2019-04-07 22:38] correlator commented on #273
Are there any updates or workarounds for this issue?

[2019-04-08 04:04] correlator commented on #273
Looks like this may have been addressed in the 2.0 release

[2019-04-09 02:57] danilojsl commented on #273
As pointed out by @correlator, it works now setting `setTrimAndClearNewLines(False)`  on `DocumentAssembler` annotator. I tested the code on the latest version (2.0.1) with the following output:

`JavaAnnotation(document,0,14,I   have a dog.,{sentence=0},[F@604d90a0,[F@604d90a0)`
`JavaAnnotation(document,17,28,He`

` barks.,{sentence=1},[F@604d90a0,[F@604d90a0)`

[2019-04-12 19:49] Tshimanga opened #484 "Tokenizer.setCompositeTokensPatterns() does not handle regular expressions!"
## Description
If you use a regular expression to protect composite tokens from breakage. There are a couple issue (so far) that arise that make the method unusable:

##  Current Behavior
1) The token.result value is the pattern used to match the substring(s) of interest.
2) The token.end value is the "beginning of matched substring" plus "length of pattern used" minus 1
## Expected Behavior
1) to

[2019-04-17 14:16] albertoandreottiATgmail opened #487 "Problem in initialization in OCR"
## Description
When running OCR pipelines in a cluster, the classes for Tesseract access seem to have problems in initialization,

## Stacktrace

org.apache.hadoop.mapreduce.lib.output.FileOutputCommitter
2019-04-17 03:11:01 ERROR Executor:91 - Exception in task 5.3 in stage 17.0 (TID 52)
java.lang.ExceptionInInitializerError
	at net.sourceforge.tess4j.util.LoadLibs.getTessAPIInstance(LoadLibs.jav

[2019-04-24 10:28] dekelcohen commented on #478
Similar error with spark 2.3.x and sprak-nlp 2.0.1

Which spark versions does spark-nlp 2.0.1 supports ?
Which tensorflow versions ?

[2019-04-24 10:57] maziyarpanahi commented on #478
@dekelcohen For your issue and Apache Spark support you should read this: https://github.com/JohnSnowLabs/spark-nlp#apache-spark-support

However, you do not need to even have TensorFlow if you are not training NER. So the TF version is irrelevant.
For more examples or testing Spark NLP 2.0.1 without installing anything (Docker) you can check this repo: https://github.com/JohnSnowLabs/spark-nlp-wo

[2019-04-24 10:57] #478 closed

[2019-05-13 17:02] CyborgDroid opened #504 "BUG: bert_recognize_entities unable to process dataframes"
Data:
[code]

This works fine:
[code]

But the same data in a dataframe does not:

[code]

Output:
[code]

[2019-05-13 17:51] maziyarpanahi commented on #504
Hi @CyborgDroid,

We need more information to narrow down the issue. Please provided these information:

Spark NLP version
Apache Spark version
Operating system
How do you initialize Spark session? (sparknlp.start, SparkSession, etc.)

Thank you.

[2019-05-13 19:45] CyborgDroid commented on #504
Hi Maziyar,

I tried with a small cluster and a GPU cluster on databricks using JohnSnowLabs:spark-nlp:2.0.3 as shown below. Are you able to get it to run with different settings?

<img width="429" alt="Screen Shot 2019-05-13 at 3 32 13 PM" src="https://user-images.githubusercontent.com/8703207/57648812-7deffc00-7594-11e9-9ee5-ef8c7bc253fc.png">

<img width="423" alt="Screen Shot 2019-05-13 at 3 3

[2019-05-13 21:02] CyborgDroid opened #505 "Lemmatizer default dictionary missing in 2.0+"
The Lemmatizer is missing a default dictionary. This used to be available <2.0, was this intentional? If so, what is a default dictionary I can use?

[code]
error:
[code]

**Using the PretrainedPipeline Lemmatizer gives an error:**

[code]
error:
[code]

System info: Databricks with JohnSnowLabs:spark-nlp:2.0.3

<img width="419" alt="Screen Shot 2019-05-13 at 4 57 57 PM" src="https://user-images.g

[2019-05-13 21:17] maziyarpanahi commented on #505
Hi @CyborgDroid,
The `lemma_antbnc` is not a pipeline, it's actually a pre-trained LemmatizerModel.
You can take a look at here for more info about available models, pipelines, and how to use them online/offline:
https://nlp.johnsnowlabs.com/docs/en/models

[2019-05-13 21:19] maziyarpanahi commented on #504
Thanks @CyborgDroid, just to be sure this is a Bert related issue or TF graphs loading issue on Databricks, would you mind trying `recognize_entities_dl` instead and see what happens? (This is based on NerDL + TF + GloVe with a really good F1 score - 93%)

[2019-05-14 14:56] CyborgDroid commented on #504
I get a different error for that:
[code]

[2019-05-14 15:00] maziyarpanahi commented on #504
I am sorry for DL with GloVe is a different name: `entity_recognizer_dl`.
It is documented here: https://nlp.johnsnowlabs.com/docs/en/models

[2019-05-14 15:05] CyborgDroid commented on #504
the ```entity_recognizer_dl``` gave the same error with dataframes but it did perform better than bert identifying White Walkers as an ORG when looping through the dictionary and feeding just the text.

[2019-05-14 15:37] maziyarpanahi commented on #504
Does it show the results from a DataFrame but with the error?

[2019-05-14 21:24] CyborgDroid commented on #504
It does not work with dataframes, only when I do this:

[code]

[2019-05-15 14:10] maziyarpanahi opened #507 "Feature request: custom path to TF graph file in NerDLApproach"
Currently, the only way to use custom generated TensorFlow graph is to add it to the default path `spark-nlp\src\main\resources\ner-dl` and re-build the JAR. This also blocks using a custom TF graph with Spark Packages (`--packages`) since the JAR is coming with the default TF graph files.

I suggest adding a parameter that accepts a path to a TF graph file generated by the user. If this param is

[2019-05-15 17:38] Tshimanga commented on #507
Beyond loading custom graph for training via `NerDLApproach`, it would be great to be able to load a pre-trained TF model directly into the `NerDLModel`. That way, I could train TF models in the comfort of the existing and mature TF ecosystem and then still deploy to a spark pipeline when I'm done.

[2019-05-15 18:39] saifjsl commented on #507
Wouldn't that be a TF Wrapper annotator? in case of NER, your TF model would need to have specific set of layers and nodes to be a compatible one. And a contract in the annotator wrapper that reads generic information that could be applied from any TF model, right?

If I read you correctly, there's no need to make it a `NerDLModel` at all

[2019-05-15 22:03] Tshimanga commented on #507
Since the `NerDLModel` doesn't make any assertions about what and how many labels you are predicting with, it supports a wider variety of tasks that fall under the more general classification "sequence tagging", such as the deep sentence splitting, negation detection, etc. since the class has been demonstrated as general to any "sequence of tokens" -> "sequence of annotated tokens" task, it'd be n

[2019-05-24 20:21] CyborgDroid commented on #505
Thank you, that worked!

[2019-05-24 20:27] CyborgDroid opened #517 "Pretrained SentimentDetector broken in 2.0.3"
The sentiment detector is not able to use the pretrained models.

[code]
Error:
[code]

And if I try this I get a different error suggesting this method exists but the model does not:

[code]
Error:
[code]

running spark-nlp 2.0.3 on Azure Databricks

[2019-05-24 21:03] CyborgDroid commented on #517
Same issue in 2.0.4

[2019-05-24 22:07] #505 closed

[2019-05-28 08:34] maziyarpanahi commented on #504
@saifjsl The two pipelines `entity_recognizer_dl` and `recognize_entities_bert` are crashing when it's used by DataFrame inside Python in `2.0.4`. Any idea?

[2019-05-28 15:43] maziyarpanahi opened #520 "Sync language field for pretrained pipelines"
We use `lang`=String in Python for pre-trained models and pipelines. However, in Scala, the `lang` is `language`.

Example:

[code]

This should be:

[code]

[2019-05-28 16:19] maziyarpanahi commented on #364
This issue has been resolved.

Thanks @rohit-nlp

[2019-05-28 16:19] #364 closed

[2019-05-28 16:20] maziyarpanahi commented on #337
@saifjsl This has been resolved, right?

[2019-05-28 16:21] saifjsl commented on #517
Thank you, will take a look

[2019-05-28 16:25] saifjsl commented on #504
I will take a look, this is related to tensorflow contrib libraries not being loaded properly. However, I have updated default models not to use contrib anymore. Is this still an issue? The bug may still happen in contrib based models

[2019-05-28 18:00] saifjsl commented on #517
There was a bug in the remote model repository metadata, this should be fixed now. Please confirm.

By the way, we don't have a pretrained model for `SentimentDetector`, only for `ViveknSentimentModel`.

[2019-05-28 18:17] saifjsl commented on #504
The following equivalent pipelines do not make use of contrib tensorflow modules:

`explain_document_dl_noncontrib`
`recognize_entities_dl_noncontrib`
`recognize_entities_bert_noncontrib`

[2019-05-28 18:50] shahanesanket opened #523 "[Feature Request]: Dynamically creating tensorflow graphs for custom number of tags ntags for NerDLApproach"
When training
## Description

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

## Context

## Your Environment

* Version used:
* Browser Name and version:
* Operating System and version (desktop or mobile):
* Link to your project:

[2019-05-28 19:32] CyborgDroid commented on #517
Thank you, this works now:

[code]

The results are not very good but that is a different problem:

```"Outstanding service and professionalism shown by all staff"```  ---> negative
```"Good overall performance"``` ---> negative

I also found an example for a pretrained sentiment pipeline that is not in the documentation. I would add it and submit a PR but I don't know the model's download link:

[2019-05-28 19:57] saifjsl commented on #517
Thanks. Yes, this is probably an IMDB dummy model, may not be a good one. Will ask the team to review the accuracy.

You are right, many pipelines are missing from the list. Probably @maziyarpanahi can help with their appropriate links.

[2019-05-28 20:58] CyborgDroid commented on #517
Thank you, this works now:

[code]

The results are not very good but that is a different problem:

```"Good overall performance"``` ---> negative

I also found an example for a pretrained sentiment pipeline that is not in the documentation. I would add it and submit a PR but I don't know the model's download link:

https://github.com/JohnSnowLabs/spark-nlp/blob/master/docs/en/models.md#english-pi

[2019-05-28 21:33] maziyarpanahi commented on #517
Thanks for confirming it.

[2019-05-28 21:33] #517 closed

[2019-05-29 15:28] saifjsl commented on #523
Hi, thank you.

This is going to be possible in the next release. We cannot yet find a way to create it dynamically, but you will be able to pass a path to a generated graph without having to recompile Spark NLP

https://github.com/JohnSnowLabs/spark-nlp/pull/515

[2019-05-29 20:50] saifjsl commented on #504
2.0.5 released. Please confirm.

[2019-05-29 20:51] saifjsl commented on #523
`2.0.5` released. Please give it a go amd let us know.

[2019-05-30 18:59] CyborgDroid commented on #504
Hi Saif. Thank you, the dl pipelines work now.

[2019-05-30 18:59] #504 closed

[2019-06-05 08:04] nehadave78 opened #534 "spark-nlp 1.8.2 trying dl-ner example"
## Description

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

## Context

## Your Environment

* Version used:
* Browser Name and version:
* Operating System and version (desktop or mobile):
* Link to your project:

[2019-06-05 08:06] nehadave78 commented on #534
Hi Everyone, I have pyspark + spark-nlp (1.8.2) I am trying this example:
https://github.com/JohnSnowLabs/spark-nlp/blob/182-release-candidate/python/example/dl-ner/ner.ipynb

I am getting the following error: (didn't find any solution)

Py4JJavaError: An error occurred while calling o53.getParam.
: java.util.NoSuchElementException: Param caseSensitiveEmbeddings does not exist.
	at org.apache.spar

[2019-06-05 08:07] nehadave78 opened #535 "spark-nlp(1.8.2) with pyspark dl-ner example"
Hi Everyone, I have pyspark + spark-nlp (1.8.2) I am trying this example:
https://github.com/JohnSnowLabs/spark-nlp/blob/182-release-candidate/python/example/dl-ner/ner.ipynb

I am getting the following error: (didn't find any solution)

Py4JJavaError: An error occurred while calling o53.getParam.
: java.util.NoSuchElementException: Param caseSensitiveEmbeddings does not exist.
at org.apache.spark

[2019-06-05 08:29] nehadave78 opened #536 "spark-nlp(2.0.7) + pyspark dl-ner example"
Hi @maziyarpanahi  @saifjsl , I am trying :
https://github.com/JohnSnowLabs/spark-nlp-workshop/blob/master/jupyter/training/english/dl-ner/ner.ipynb
at

****ner_model = ner_pipeline.fit(training_data)**
print("Fitting is ended")
print (time.time() - start)**
**_with spark-nlp 2.0.7 and I am getting following error_**

Py4JJavaError: An error occurred while calling o57.getParam.
: java.util.NoSuchE

[2019-06-06 10:41] analysis230 commented on #463
@maziyarpanahi Hi, I am facing the same problem with scala spark 2.4.0, and spark-nlp version 2.0.x, I have tried most of them.

`Was not found appropriate resource to download for request: ResourceRequest(explain_document_ml,Some(en),public/models,2.0.0,2.4.0)`

is there any way to actually be able to check the download location and verify what models are available and which ones are not.

[2019-06-06 11:07] maziyarpanahi commented on #463
Hi @analysis230

Could you please use the latest release ‘2.0.8’?

[2019-06-06 11:10] #520 closed

[2019-06-06 14:14] nehadave78 commented on #478
Hi @maziyarpanahi  how can I manually load it in Python? I was trying https://github.com/JohnSnowLabs/spark-nlp-workshop/blob/master/jupyter/quick_start.ipynb
and getting above error. I downloaded 'entity_recognizer_dl' in my local. But how do I load it?

[2019-06-06 15:08] maziyarpanahi commented on #478
Hi @nehadave78, if you are using pretrained() you don't need to load it, it all happens automatically. But if you need to download it manually and then load it because your Spark setup doesn't have internet then you can take a look at the documentation:
https://nlp.johnsnowlabs.com/docs/en/pipelines
Also, please beware of Spark and Spark NLP versions. (latest is `2.0.8` and supports Spark `2.4.3`)

[2019-06-06 15:55] #534 closed

[2019-06-06 16:23] nehadave78 commented on #478
Thanks JohnSnowLabs/spark-nlp.
I am using pyspark to run using notebook.so it should have internet. But it
gives error

On Thu 6 Jun, 2019, 8:38 PM Maziyar Panahi, <notifications@github.com>
wrote:

[2019-06-06 17:16] nehadave78 opened #538 "spark-nlp (2.0.8)"
@maziyarpanahi  @saifjsl
**getting following error : Trying PertainedPipeline with scala:**
scala> val pipeline = PretrainedPipeline("pos_anc", language="en")
java.lang.NoClassDefFoundError: Could not initialize class com.johnsnowlabs.nlp.pretrained.ResourceDownloader$
  at com.johnsnowlabs.nlp.pretrained.PretrainedPipeline$.apply$default$3(PretrainedPipeline.scala:10)
  ... 51 elided

[2019-06-06 17:26] maziyarpanahi commented on #478
@nehadave78 could you please create new issue with some codes that regenerates the error + Spark and Spark NLP?
Thank you

[2019-06-07 15:33] CyborgDroid opened #539 "bert sentence embeddings always yield same result"
The sentence_embeddings for bert are broken, the output is the same for all sentences.

[code]

[code]
output is the data + a column with an array of bert vectors
[code]
output is 3 rows with all the sentence vectors in different columns

[code]
output is one row since all the vectors are the same

[2019-06-07 15:36] CyborgDroid opened #540 "bert_multi_cased metadata broken"
[code]
Error:
[code]

[2019-06-07 15:51] CyborgDroid opened #541 "how to feed word and sentence embeddings to an MLlib classifier?"
The output of the bert sentence embeddings are a list of floats, this is not accepted by any mllib classification model.

The output of a VectorAssembler is a udt (user defined type)

[code]
A simple logistic regression function will not take a list of floats but will accept the udt above.

[code]

Besides the formatting issue with list of floats per sentence, the output of all word embeddings (be

[2019-06-07 17:13] maziyarpanahi commented on #540
HI @CyborgDroid,
This is my bad, I was going to add a Multi-language section in our model as the `bert_multi_cased` and even GloVe embeddings are not really `English`.

If you look at the link of each model you can see the right language inside its name:
https://s3.amazonaws.com/auxdata.johnsnowlabs.com/public/models/bert_multi_cased_xx_2.0.3_2.4_1557923470812.zip

The right language is:
[code]

I

[2019-06-07 17:13] #540 closed

[2019-06-07 17:40] maziyarpanahi commented on #538
Hi @nehadave78

It's not `language` but `lang` to be unified with Python APIs as well. Also, for `en` you can just not mention `lang` all together since the default is `en`.

[code]

[2019-06-07 17:40] #538 closed

[2019-06-07 17:55] CyborgDroid commented on #541
Here is the error when trying to feed sentence embeddings to LogisticRegression:
[code]

[2019-06-07 18:02] CyborgDroid commented on #540
Thank you Maziyar, so multi refers to language (multi lingual), and it is also case-sensitive? In other words right now we have a case-insensitive english-only model (bert_uncased) and a case sensitive multi-lingual model (bert_multi_cased)?

[2019-06-07 18:04] CyborgDroid commented on #540
Thank you. @maziyarpanahi !

[2019-06-07 19:16] maziyarpanahi commented on #541
Our `WordEmbeddings` and `BertEmbeddings` are meant to be used by TensorFlow graph and BiLSTM+CNN algorithm which is not compatible with Spark ML. For instance, the Word2Vec in Spark is really naive when it comes to a sentence. It averages all the vectors for each word and just outputs an array of vector, one for each word.
It would be very helpful to be able to do document classification by the u

[2019-06-10 07:48] cigrainger opened #546 "How to tokenize and split sentences?"
## Description
I can't get tokenized sentences out of a document and have been driving myself crazy with the documentation to try to figure it it out.

## Expected Behavior
I'd like to take a paragraph such as:
[code]
and use the sentence detector and tokenizer to get a column with a list of lists like:
[code]

## Current Behavior
Passing the sentence detector to the tokenizer and through the fini

[2019-06-11 03:35] CyborgDroid commented on #546
Here you go
[code]

[2019-06-11 04:40] cigrainger commented on #546
This doesn't work. Thank you for pointing me to those (but I have already gone through them). Including both input columns just gives me a `finished_sentence` column and a `finished_tokens` column. Not a column with a list of tokenised sentences. Exactly the problem stated above. I'd like a column of tokenised sentences like:
[code]

[2019-06-11 10:26] maziyarpanahi commented on #546
Hi @cigrainger

The result of Tokenizer is standard to what other annotators need. However, it is possible with a little bit of Spark manipulation.

You have the metadata of `tokenizer`:
[code]
As you can see it has the id of the sentence. All you need to do is to create a simple UDF and feed `tokens` and `sentence` columns. Then you can create an array of arrays where you map through your sentenc

[2019-06-11 10:26] #546 closed

[2019-06-11 10:31] maziyarpanahi commented on #536
Hi,

That is an old example that only works with 1.8.2 for the users who are still using 1.8.x release.
I will release some new notebooks just for `2.x.x` release.

[2019-06-11 13:36] maziyarpanahi commented on #546
Just out of curiosity, is there a specific reason you would like to have the tokens in that format? I am just asking to see if there is any Spark ML/SQL/Graph function that accepts that format. Or is this situation unique to your use case?

Many thanks @cigrainger

[2019-06-11 17:30] nehadave78 commented on #536
Thanks that will be super helpful

On Tue 11 Jun, 2019, 4:01 PM Maziyar Panahi, <notifications@github.com>
wrote:

[2019-06-17 09:16] nehadave78 commented on #536
@maziyarpanahi Did you get a chance to release new notebooks for 2.x.x ?

[2019-06-17 11:13] maziyarpanahi commented on #539
Hi @CyborgDroid,

Is this the case if you use `bert_multi_cased`? Just want to be sure if it's the model or it's the way we trained it.
[code]

[2019-06-17 14:16] CyborgDroid commented on #539
Hi Maziyar,

```BertEmbeddings.pretrained('bert_multi_cased', 'xx')``` yields the same result.

[code]
output:
[code]

[2019-06-17 15:02] saifjsl commented on #539
Will be taking a look!

[2019-06-25 16:02] alinapetukhova opened #556 "Pretrained match_pattern and match_datetime not described in the docs"
## Description

Pretrained models `match_pattern`, `match_datetime` and `ContextSpellCheckerModel()` presented in the spark-nlp-workshop, but not described in the spark-nlp docs

[https://nlp.johnsnowlabs.com/docs/en/pipelines](url)

`/annotation/english/match-datetime-pipeline/Pretrained-MatchDateTime-Pipeline.ipynb`
`/annotation/english/match-pattern-pipeline/Pretrained-MatchPattern-Pipeline.ipy

[2019-06-25 19:08] maziyarpanahi commented on #556
Hi @alinapetukhova,

Thanks for reminding me that hose pipelines are missing from the docs. I will add them and the rest of the pipelines.

We are also adding a feature where users can print the name of existing pipelines/models names, language, and versions right from their code.

[2019-06-30 13:50] maziyarpanahi commented on #556
It's been updated. https://nlp.johnsnowlabs.com/docs/en/pipelines

[2019-06-30 13:50] #556 closed

[2019-07-03 20:48] PaddyK92 opened #567 "How to derive an Annotator with automatically overwriting it's Model"
I want to use the RegexMatcher with small optimizations, for example override the output and input AnnotatorTypes.

When I derive the RegexMatcher and override this values it should be overrided in the belonging model, too, isn't it?

When I create the Model by using the method fit() from the RegexMatcher it hasn't changed, it's still the value [chunk].

TestFailedException: "[chunk]" did not equa

[2019-07-10 06:49] karthik-nair opened #568 "S3 model PythonResourceDownloader: not able to find Java class definition for s3 models"
## Code
import os
os.environ["SPARK_HOME"] = '/usr/local/spark-2.4.3-bin-hadoop2.7'
from pyspark import SparkContext,SparkConf

conf = SparkConf().setAppName("basic")
sc = SparkContext(conf=conf)

import sparknlp
sparknlp.start()

from sparknlp.pretrained import PretrainedPipeline

pipeline = PretrainedPipeline('entity_recognizer_dl', 'en')
result = pipeline.annotate('Harry Potter is a great movie

[2019-07-10 07:17] maziyarpanahi commented on #568
Hi,

Could you please try to install pyspark==2.4.3 and spark-nlp==2.0.9?

There are lots of enhancements in the latest versions of Apache Spark and Spark NLP.

[2019-07-10 07:21] #337 closed

[2019-07-10 07:23] #87 closed

[2019-07-10 07:24] #110 closed

[2019-07-10 07:25] #203 closed

[2019-07-10 07:26] #245 closed

[2019-07-10 07:28] #248 closed

[2019-07-10 07:32] #507 closed

[2019-07-10 12:03] Rachana-Baldania opened #569 "DateMatcher() : Date Identification Issues"
Hello,

I am using Johnsnowlabs Spark NLP for implementing question answering system and we are unable to detect dates correctly while using datematcher() function:

Two consecutive date formats in one string then cannot detect two dates
For example, "who sold the most beer in 1/02/2014 and 1/05/2016"
Johnsnowlabs NLP DateMatcher: [2014/01/02]

Getting a wrong result when I am trying to extract da

[2019-07-10 12:13] Rachana-Baldania commented on #569
Hello,

I am using Johnsnowlabs Spark NLP for implementing question answering system and we are unable to detect dates correctly while using datematcher() function:

Two consecutive date formats in one string then cannot detect two dates
For example, "who sold the most beer in 1/02/2014 and 1/05/2016"
Johnsnowlabs NLP DateMatcher: [2014/01/02]

Getting a wrong result when i am trying to extract da

[2019-07-10 18:26] tovbinm opened #570 "Performance of BertEmbeddings model"
I wonder how good is the runtime performance of BertEmbeddings model?

## Description
Since BertEmbeddings applies the underlying TensorFlow model on per row basis (and not in row batches) I would suspect the performance to be not great.

The chain of calls is: BertEmbeddings -> AnnotatorModel.transform -> AnnotatorModel.dfAnnotate -> BertEmbeddings.annotate. The BertEmbeddings.annotate function r

[2019-07-10 19:50] maziyarpanahi commented on #570
Are you sure the batchSize is for input columns? This doesn't make any sense to batch the columns instead of documents/sentences/tokens.
[code]
I haven't done any benchmark, but the `BertEmbeddings` has batchSize:
https://github.com/JohnSnowLabs/spark-nlp/blob/master/src/main/scala/com/johnsnowlabs/nlp/embeddings/BertEmbeddings.scala

And also when you create the model:
https://github.com/JohnSnow

[2019-07-10 20:42] tovbinm commented on #570
As far as I understand, `TensorflowBert.calculateEmbeddings` is invoked by `BertEmbeddings` [here](https://github.com/JohnSnowLabs/spark-nlp/blob/e14c7fcfd9346d7b3f1b9b938f2535e9f4cbdc61/src/main/scala/com/johnsnowlabs/nlp/embeddings/BertEmbeddings.scala#L100), but it operated on different input columns on the same row and not on multiple rows of the dataset.

[2019-07-11 03:27] amandeep1991 commented on #298
Is it fixed, can I download models trained on windows now? If yes, please share some references for the same.

[2019-07-11 03:37] tovbinm commented on #570
I think a good benchmark would be a loading some text rich (longer that tweets ;) ) dataset with not trivial amount of rows (1-10 million), then applying sentence->token->bert embedding or even sentence -> bert embedding. and measure cpu & memory utilization across cluster.

[2019-07-11 07:42] maziyarpanahi commented on #298
Yes, this happens automatically in latest versions (2.0.9). But in case for offline downloading:
https://nlp.johnsnowlabs.com/docs/en/models

The ones with _contrib are for unix-based OS only.

[2019-07-11 07:42] #298 closed

[2019-07-15 15:09] tushartilwankar opened #573 "Unable to download pretrained models of dependency parser"
Getting an access denied error while downloading DependencyParser and TypedDependencyParser pretrained models.

`<Error>
<Code>AccessDenied</Code>
<Message>Access Denied</Message>
<RequestId>xxx</RequestId>
<HostId>
xxx
</HostId>
</Error>`

[2019-07-15 15:45] maziyarpanahi commented on #570
@tovbinm That's what we usually do for testing annotators in a cluster over a few million documents (obviously larger than Tweets, we don't have any tweets anyway).
However, let's say it takes 3 minutes with 40% CPU. This doesn't really help me to understand whether it's done in batch or row by row. We need two different situations to compare and see which one has less overhead and faster at the s

[2019-07-18 13:21] atomobianco commented on #484
I have the same problem, regex wronlgy interpreted, maybe because using a surrounding group?

PS: it seems that the argument is now called `exceptions`, and one can set custom exceptions with `setExceptions`.

[code]

Result:
[code]

[2019-07-18 14:20] maziyarpanahi commented on #484
HI @atomobianco

Thanks for providing the code to reproduce this issue and especially the link to regex101. In `2.1.0` the exceptions and compositeTokens were merged together which is called `setExceptions` as you correctly mentioned.
Without setting any rules and exceptions the sentence will be:
[code]
So the number breaks into `45, 822`. But with your regular expression it turned into:
[code]
It

[2019-07-18 14:23] #345 closed

[2019-07-18 14:25] CyborgDroid commented on #539
Hi @saifjsl, Any update on this? Thank you.

[2019-07-18 14:27] maziyarpanahi commented on #539
Hi @CyborgDroid
We have a member assigned to this issue who's debugging the TF graph to find the issue. We will update this thread with any new findings.

[2019-07-18 15:09] atomobianco commented on #484
Yes, it's about not performing as expected.
I tried different regex combinations, but none working as expected.
I would also like to use regex with full flavours, like look-behind/ahead, non-capturing groups, etc. if possible.

What I am trying to do is keep monetary amounts (but could be numbers in general) as single tokens, to later clean them with the `Normalizer`, so that `45 822,23` can becom

[2019-07-23 09:34] tushartilwankar commented on #573
Is anyone else facing this issue?

[2019-07-23 09:41] maziyarpanahi commented on #573
Are you using `pretrained()` function or manually downloading it from our models documentation?

[2019-07-23 09:47] tushartilwankar commented on #573
I am downloading models from documentation.

[2019-07-23 10:23] maziyarpanahi commented on #573
I have just updated the documentation with correct URLs. I have tested them and they will be available in few minutes after GitHub pages finish compiling.

[2019-07-23 10:23] #573 closed

[2019-07-23 13:37] nj-dsg opened #575 "Get `'JavaPackage' object is not callable` error when instantiating annotators"
I get a `'JavaPackage' object is not callable` when I try to instantiate a pyspark NLP-related class like: DocumentAssembler() or Finisher().
Instantiating other classes like Pipeline() works fine.
Also, I do not get the above error, when running in a jupyter notebook. the error is raised when running in other python consoles. I installed pyspark on my windows 10, as in https://medium.com/big-data

[2019-07-23 14:00] maziyarpanahi commented on #575
Hi, how did you install or use Spark NLP?

[2019-07-23 14:28] nj-dsg commented on #575
1/ I followed this tutorial https://medium.com/big-data-engineering/how-to-install-apache-spark-2-x-in-your-pc-e2047246ffc3
2/ pip install pyspark, spark-nlp
3/ opened a python console and ran the above code

[2019-07-23 15:15] maziyarpanahi commented on #575
If you want to use Python, I suggest the following:

1. Make sure you are using Python 3.6 or above, Python 2.x is deprecated and we won't be supporting it. (if it works in Py2 it's good, but if it doesn't we won't be fixing it)
2.  As you mentioned, installing PySPark and Spark NLP

[code]
3. Run `python` and inside your python shell:
[code]
This should start SParkSession with Spark NLP included.

[2019-07-24 09:29] maziyarpanahi commented on #347
I will be closing this feature request as I have successfully used `wiki-news-300d-1M.vec`, `crawl-300d-2M.vec` and `cc.en.300.vec` same as I used to use GloVe 300d.

[2019-07-24 09:29] #347 closed

[2019-07-24 09:33] maziyarpanahi commented on #569
I see two issues:
1. Only the first matched date is being extracted
2. Values are ignored or mistaken as dates

Am I right? By the way, how do you extract the values like `8,000`? I don't think DateMather is the annotator for that. Maybe RegexTokenizer?

[2019-07-24 10:43] nj-dsg commented on #575
tnx maziyar.
1/ I did all that, and then the `spark = sparknlp.start()` line fails, when run in PyCharm, with this error:

2/ I can still replace the `sparknlp.start()` line with `SparkSession.builder.getOrCreate()`, and run that. But then I get the above JAVA error when instantiating an annotator class.

3/ I can also run your code successfully in a python console that isn't PyCharm. But I would

[2019-07-24 11:04] ansorre opened #576 "How to use Spark NLP in Java"
On home page of website: https://nlp.johnsnowlabs.com/ I read "Full Python, Scala, and Java support"

Unfortunately it's 3 days now I'm trying to use Spark NLP in Java without any success.
- I cannot find Java API (JavaDoc) of the framework.
- not event a single example in Java is available
- I do not know Scala, I do not know how to convert things like:
val testData = spark.createDataFrame(Seq((1

[2019-07-24 11:18] maziyarpanahi commented on #575
I’m if this works in Python, Jupyter, and PySpark, I think you should follow this with PyCharm community and check your settings for Conda or Java on Windows.

I’m afraid this is not Spark NLP related.

[2019-07-24 11:31] maziyarpanahi commented on #576
Hi @Antonio-Sorrentini
I put Java on the home page as I had the understanding that the APIs can be easily used in Java. I might be wrong or Java needs its own documentation like Scala and Python. So let me ping some other developers and we get to the bottom of this.

[2019-07-24 11:37] Antonio-Sorrentini commented on #576
Ok @maziyarpanahi thanks.

[2019-07-25 06:36] alinapetukhova commented on #576
Hi, @Antonio-Sorrentini ! Here is example for Java pipeline with Spark-NLP. You can find lib in maven repo.
[code]

[2019-07-28 14:06] Rachana-Baldania commented on #569
Yes both two points are correct.

DateMatcher not showing POS for numbers for ex. , any date or value. So
some times 8,000 value is ignored by Datematcher or sometimes its merged
with date output for ex. what are the sales which is greater than 8000 in
march,15.

I dont know there is problem with regex or annotator but i think values
should be treated differently from date.

Thank you.

*Regards,*

[2019-07-29 19:34] CyborgDroid commented on #539
Hi @saifjsl , do you have any rough estimate on when this will be fixed? Any kind of estimate would help. Thank you.

[2019-07-30 00:07] saifjsl commented on #539
Hi @CyborgDroid we have it in our roadmap, and researched a lot. However we couldn't yet find a proper solution, the issue is somewhere between the tensorflow graph and loading it on the java API of tensorflow. We're doing all we can to get it sorted out asap.

[2019-07-31 17:21] #575 closed

[2019-08-09 23:45] maziyarpanahi commented on #539
Here is a simple explanation of why the vectors are the same:

We are using the hidden state of the first token as our strategy [CLS] for `sentence_embeddings`. This only works if your BERT model is fine-tuned on any downstream tasks. If it's not (which is the case for pre-trained models), the hidden state of [CLS] is not a good sentence representation. If later you fine-tune the model, you may us

[2019-08-10 00:03] CyborgDroid commented on #539
Thanks for the detailed explanation @maziyarpanahi! So BERT sentence embeddings in a model that has not been trained are just averages of word embeddings? Or is that just the workaround for pre-trained models?

I was hoping BERT did some more complex analysis like n-grams or similar in it's calculations of sentence embeddings.

[2019-08-10 00:17] maziyarpanahi commented on #539
The one we have right now, it's the hidden state of the first token `[CLS]`. It's not useful at all for BERT pre-trained models which we are also using as BertEmbeddings.

Since the majority of the users won't be fine-tuning their BERT models, I would suggest to our team to implement `average pooling` which is a workaround for BERT pre-trained models. (we are working on the same thing in WordEmbed

[2019-08-13 21:16] arjunsingla opened #590 "Py4JJavaError: An error occurred while calling z:com.johnsnowlabs.nlp.pretrained.PythonResourceDownloader.downloadPipeline."
## Description
 I am trying to use JohnSnowLab's pretrained models, but to no avail.
 Using python 3, spark-nlp 2.1.0, and pyspark 2.4.3 in Jupyter notebook. Here is my code (it is very very simple, and yet still does not work). Ran on Mac OS Mojave

<img width="1061" alt="Screen Shot 2019-08-13 at 2 13 13 PM" src="https://user-images.githubusercontent.com/6709889/62977780-8b579500-bdd4-11e9-9ae5-

[2019-08-13 22:26] maziyarpanahi commented on #570
I can confirm now that the batchSize (only set when BERT model is created) is only used to check how many sentences being feed into TF graph. Assuming the input is `document` and it has more than 1 sentence.
As you mentioned it may or may not improve the performance. For instance, if the inputCols is `sentence`, it goes sentence by sentence and bypasses this batchSize. However, each spark's execut

[2019-08-14 00:05] maziyarpanahi commented on #590
Hi,
We download models and pipelines into ~/cached_pretrained directory.

Could you please run this in terminal and paste the results here:

ls -l ~/chached_pretrianed

[2019-08-14 00:09] maziyarpanahi commented on #536
This is a new notebook, we will review it again and make the changes for 2.10 and upcoming release. But it’s based on 2.x release.

[2019-08-14 00:09] #536 closed

[2019-08-14 08:56] maziyarpanahi commented on #539
Continuing our last conversation about `[CLS]` not having a perfect sentence embedding, it also shouldn't be the same for every sentence. I am working on BertEmbeddings and with a higher layer, it won't yield the same result for `setence_embeddings`.
These changes will be part of a pre-release and once everything is done will be in a final release. If you are interested you can either use this pul

[2019-08-14 23:00] tovbinm commented on #570
Thanks for looking into this. I will keep an eye for upcoming releases then.

[2019-08-14 23:00] #570 closed

[2019-08-15 12:52] saifjsl commented on #484
Thanks @atomobianco I think this is quite straight forward to support in the new `TokenizerModel`:

[code]

We can add this functionality for upcoming release

[2019-08-16 01:23] saifjsl commented on #484
Merged in release candidate https://github.com/JohnSnowLabs/spark-nlp/pull/593

[2019-08-16 01:23] #484 closed

[2019-08-16 22:13] arjunsingla commented on #590
For some reason, the problem fixed itself. Thanks!
Arjun

[2019-08-16 22:13] #590 closed

[2019-08-20 07:57] jch231 commented on #463
Hi @maziyarpanahi, I am also facing the same issue with Spark 2.4.3 - I too have tried various spark-nlp versions (2.2.0-rc2, 2.0.8, and 1.8.4).

I am getting the same error as above for the recognize_entities_dl pipeline. Is there a version available which has this particular pipeline available to download?

[2019-08-20 08:36] maziyarpanahi commented on #463
Hi, it works in our latest official release: 2.1.0 as you can see in this example:

https://github.com/JohnSnowLabs/spark-nlp-workshop/blob/master/jupyter/quick_start.ipynb

[2019-08-20 08:39] maziyarpanahi commented on #293
I’m closing this as the latest releases after2.x are compatible with latest Apache Spark and latest Apache Zeppelin 0.8.2.

[2019-08-20 08:39] #293 closed

[2019-08-20 08:41] maziyarpanahi commented on #246
All the annotators have link to Scaladoc APIs above each example like Apache Spark documentation:
https://nlp.johnsnowlabs.com/docs/en/annotators

[2019-08-20 08:41] #246 closed

[2019-08-21 08:02] dukegris opened #603 "NerConverter index out of range when it’s used after BertEmbeddings and ner_dl_bert"
Using NerConverter in some situations produces an exception:
java.lang.StringIndexOutOfBoundsException: String index out of range: -1

## Description

In a pipeline wirh nerconverter and with some text, the pipeline throws an exception

## Expected Behavior

Obviously end the pipeline

## Current Behavior

[code]

## Possible Solution

## Steps to Reproduce

[code]
If you exclude converter from th

[2019-08-21 08:22] maziyarpanahi commented on #603
Hi,

There were two bugs related to this specific pipeline which are fixed in 2.2.0:

1- we fixed something in NerConverter to avoid crash (not in your case)
2- we fixed BertEmbeddings for not having correct alignment with our own Tokenizer (exactly your case, tokens are not matches with BertEmbeddings tokenizer so it cannot match them)

If you change your embeddings to WordEmbeddings and NerDLMod

[2019-08-23 08:12] dukegris commented on #603
It looks that the new 2.2.0 version works ok and syncronize correctly the annotations. Thx

[2019-08-23 11:53] maziyarpanahi commented on #570
I have more info on this. When we create Bert model in our notebook we must set `maxSentenceLength`, `batchSize`, `caseSensitive`, and dimensions. In fact, these are only set from Python during creating Bert model before loading them inside Spark NLP. So after that none of them are changeable and will be discarded.
The only thing we can change in Spark NLP is the pooling layer. Which I added a new

[2019-08-23 11:57] maziyarpanahi commented on #539
I am training new Bert models and uploading them in an hour. In `2.2.0` you have the option to choose which layer you want to extract the embeddings from. There is a param `setPoolingLayer` and it has 3 options:
- `0` first layer - simple embeddings - sentence_embeddings are always the same as this layer has no idea about the context. The word `bank` has the same embeddings whether this is `bank v